playbook-TIE_-_IOC_Hunt.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 1.0.4
    packID: McAfee-TIE
    packName: McAfee Threat Intelligence Exchange
    packPropagationLabels:
    - all
    propagationLabels: []
    toServerVersion: ""
description: |-
  Hunt for sightings of MD5, SHA1 and/or SHA256 hashes on endpoints, using McAfee TIE (requires ePO as well).

  Input:
  * Hash (default, takes all deferent hashes from context)

  Output:
  * All agents that files with "Hash" has been executed on (TIE)
  * Enrich Agents info from ePO
id: TIE - IOC Hunt
inputs:
- description: |-
    The Hash to hunt (Could be MD5,SHA1,SHA256).
    Default is set to all hashes
  key: Hash
  playbookInputQuery: null
  required: false
  value:
    simple: ${.=val.File.map(function(f) {return [f.MD5, f.SHA1, f.SHA256];}).reduce(function(a,
      b){return a.concat(b);}, []).filter(function (val1) {return val1;})}
name: TIE - IOC Hunt
outputs:
- contextPath: McAfee.ePO.Endpoint
  description: Endpoint information for agents has been executed on.
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b79d975a-a6dc-4a66-8515-c8f4177b0a40
      iscommand: false
      name: ""
      version: -1
    taskid: b79d975a-a6dc-4a66-8515-c8f4177b0a40
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${modules(val.brand=="McAfee Threat Intelligence Exchange")}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is the McAfee TIE integration installed and configured?
      id: 1bf80041-9e03-4daf-861c-a709df537687
      iscommand: false
      name: Is TIE enabled?
      script: Exists
      type: condition
      version: -1
    taskid: 1bf80041-9e03-4daf-861c-a709df537687
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 340
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${modules(val.brand=="epo")}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is the McAfee ePO integration installed and configured?
      id: 992f05a8-3c0e-43bc-8f68-b40d2a9542e9
      iscommand: false
      name: Is ePO enabled?
      script: Exists
      type: condition
      version: -1
    taskid: 992f05a8-3c0e-43bc-8f68-b40d2a9542e9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1480
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      file:
        simple: ${inputs.Hash}
    separatecontext: false
    skipunavailable: false
    task:
      brand: McAfee Threat Intelligence Exchange
      description: Retrieves the set of systems which have been referenced (typically
        executed).
      id: c906e63c-45c5-4540-8f42-b74db1943725
      iscommand: true
      name: List all agents that the hash has been executed on
      script: McAfee Threat Intelligence Exchange|||tie-file-references
      type: regular
      version: -1
    taskid: c906e63c-45c5-4540-8f42-b74db1943725
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 430,
          "y": 519
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c283821d-46ac-4b77-8728-9bc136f0c729
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: c283821d-46ac-4b77-8728-9bc136f0c729
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 155,
          "y": 1962
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${File.References.AgentGuid}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: condition
      id: adfc3709-ca91-4ac0-8c2b-179c44d30403
      iscommand: false
      name: Did we find any relevant agents?
      script: Exists
      type: condition
      version: -1
    taskid: adfc3709-ca91-4ac0-8c2b-179c44d30403
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 430,
          "y": 703
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      searchText:
        simple: ${File.References.AgentGuid}
      verbose:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Finds systems in the McAfee ePO system tree.
      id: 5d9d7475-757f-4b4a-81a7-8ad317b5a714
      iscommand: true
      name: Get Agent info from ePO v2 (epo-find-system)
      script: '|||epo-find-system'
      type: regular
      version: -1
    taskid: 5d9d7475-757f-4b4a-81a7-8ad317b5a714
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1150,
          "y": 1480
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a08baee9-a402-4bc8-8cae-77c4c144d889
      iscommand: false
      name: Hunt HASH in TIE
      type: title
      version: -1
    taskid: a08baee9-a402-4bc8-8cae-77c4c144d889
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 195
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1df1aefe-fce4-4fb8-80e0-3fbef311f772
      iscommand: false
      name: Enrich in ePO
      type: title
      version: -1
    taskid: 1df1aefe-fce4-4fb8-80e0-3fbef311f772
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 750,
          "y": 976
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: McAfee ePO v2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is the McAfee ePO v2 integration installed and configured?
      id: a01b200f-cc8b-4f6c-8fbd-b8c568201ad4
      iscommand: false
      name: Is McAfee ePO v2 enabled?
      type: condition
      version: -1
    taskid: a01b200f-cc8b-4f6c-8fbd-b8c568201ad4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 750,
          "y": 1140
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      searchText:
        simple: ${File.References.AgentGuid}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Finds computers within a specified group in the McAfee ePO system.
      id: 8cd1ee6d-2943-42d3-8f28-a22905f59d0f
      iscommand: false
      name: Get Agent info from ePO
      script: EPOFindSystem
      type: regular
      version: -1
    taskid: 8cd1ee6d-2943-42d3-8f28-a22905f59d0f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1750
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_4_#default#": 0.1,
      "2_4_#default#": 0.17,
      "5_4_#default#": 0.11
    },
    "paper": {
      "dimensions": {
        "height": 1977,
        "width": 1375,
        "x": 155,
        "y": 50
      }
    }
  }
