playbook-Phishing_-_Generic_v3_Wissam.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.1.0
    itemVersion: 3.2.9
    packID: ""
    packName: Phishing
    propagationLabels:
    - all
    toServerVersion: ""
description: "This playbook investigates and remediates a potential phishing incident.
  It engages with the user that triggered the incident while investigating the incident
  itself.\nNote: Final remediation tasks are always decided by a human analyst. "
id: 32e5bdcd-61b2-4040-85b9-12d3e9926c5e
inputs:
- description: The default role to assign the incident to.
  key: Role
  playbookInputQuery: null
  required: true
  value:
    simple: Administrator
- description: |-
    Enables the Search and Delete capability.
    For a malicious email, the "Search and Delete" sub-playbook looks for other instances of the email and deletes them pending analyst approval.
  key: SearchAndDelete
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: |-
    Enables the Block Indicators capability.
    For a malicious email, the "Block Indicators" sub-playbook blocks all malicious indicators in the relevant integrations.
  key: BlockIndicators
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Determines whether the authenticity of the email should be verified
    using SPF, DKIM, and DMARC.
  key: AuthenticateEmail
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to True to assign only the user that is currently on shift.
  key: OnCall
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Determines which product and playbook is used to search and delete the phishing email from user inboxes.
      - Set this to "O365" to use the "O365 - Security And Compliance - Search And Delete" playbook.
      - Set this to "EWS" to use the "Search And Delete Emails - EWS" playbook.
      - Set this to "Gmail" to use the "Search And Delete - Gmail" playbook.
  key: SearchAndDeleteIntegration
  playbookInputQuery: null
  required: false
  value:
    simple: EWS
- description: |-
    Sets the method to delete emails in the "O365 - Security And Compliance - Search And Delete" playbook. Can be "Soft" (recoverable), or "Hard" (unrecoverable). Leave empty to decide manually for each email incident.
    This is only applicable if the SearchAndDeleteIntegration input is set to "O365".
  key: O365DeleteType
  playbookInputQuery: null
  required: false
  value:
    simple: Soft
- description: The exchange location. Determines from where to search and delete emails
    using O365 playbooks. Use the value "All" to search all mailboxes. If no input
    provided, it will search and delete the email only from the recipient's mailboxes.
    Note - Searching all mailboxes may take a significant amount of time. This input
    is used only when searching and deleting emails in O365 and only applies if the
    SearchAndDeleteIntegration input is set to O365.
  key: O365ExchangeLocation
  playbookInputQuery: null
  required: false
  value: {}
- description: Used only when searching and deleting emails in O365. Determines whether
    to include mailboxes other than regular user mailboxes in the compliance search.
  key: O365AllowNotFoundSearchLocations
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Used only when searching and deleting emails in O365. A comma-separated
    list of mailboxes/distribution groups to exclude when you use the value "All"
    for the O365ExchangeLocation input.
  key: O365ExchangeLocationExclusion
  playbookInputQuery: null
  required: false
  value: {}
- description: Whether to check Microsoft headers for BCL/PCL/SCL scores and set the
    "Severity" and "Email Classification" accordingly.
  key: CheckMicrosoftHeaders
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: A CSV list of internal domains. The list is used to determine whether
    an email address is internal or external.
  key: InternalDomains
  playbookInputQuery: null
  required: false
  value: {}
- description: Determines whether to use the "URL Detonation" playbook. Detonating
    a URL may take a few minutes.
  key: DetonateURL
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    This input is used in the "Entity Enrichment - Phishing v2" playbook.
    A list of internal IP ranges to check IP addresses against. The list should be provided in CIDR notation, separated by commas. An example of a list of ranges is: "172.16.0.0/12,10.0.0.0/8,192.168.0.0/16" (without quotes). If a list is not provided, uses the default list provided in the IsIPInRanges script (the known IPv4 private address ranges).
  key: InternalRange
  playbookInputQuery: null
  required: false
  value: {}
- description: Optional - the name of a pre-trained phishing model to predict phishing
    type using machine learning.
  key: PhishingModelName
  playbookInputQuery: null
  required: false
  value:
    simple: phishing_model
- description: |-
    For forwarded emails. When "True", retrieves the original email in the thread.

    You must have the necessary permissions in your email service to execute global search.

    - For EWS: eDiscovery
    - For Gmail: Google Apps Domain-Wide Delegation of Authority
    - For MSGraph: As described in these links
    https://docs.microsoft.com/en-us/graph/api/message-get
    https://docs.microsoft.com/en-us/graph/api/user-list-messages
  key: GetOriginalEmail
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: |-
    The number of URLs to extract from the email HTML and analyze in the "DBotPredictURLPhishing" automation.
    This automation runs several checks to determine the score of the URLs found in the email, sets a verdict for URLs found as "Suspicious" or "Malicious", and adds these URLs as indicators. Based on the verdict, the incident severity is set (Medium for "Suspicious" and High for "Malicious").
    Note:
    - You need to install the "Phishing URL" pack to use this automation.
    - False/True positives are possible.
    - This automation may take a few minutes to run.
    - To increase result accuracy, it is recommended to install and enable the "Whois" pack (optional).
  key: DBotPredictURLPhishingURLsNumber
  playbookInputQuery: null
  required: false
  value:
    simple: "3"
- description: |-
    Reported emails and emails retrieved during playbook execution can contain multiple nested email files. For example, an EML nested inside another EML file.
    If multiple level files are detected, this field determines which file represents the phishing email.

    For example:
    User1 receives an email from Attacker. User1 attaches the email as an EML file and sends the email to User2.
    User2 also attaches that email as a file, and reports it as phishing. In this case, the phishing email would be the "inner file" (as opposed to "outer file").

    Possible values are: Inner file, Outer file, All files.
    Inner file: The file at the deepest level is parsed. If there is only one file, that file is parsed.
    Outer file: The file at the first level is parsed.
    All files: All files are parsed. Do not use this option in the phishing playbook, as there should only be one phishing email per playbook run.
  key: EmailFileToExtract
  playbookInputQuery: null
  required: false
  value:
    simple: Inner file
name: Phishing - Generic v3_Wissam
outputs: []
sourceplaybookid: Phishing - Generic v3
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0fb1caf2-7a7e-4d3a-8a62-0544ba75e7c4
      iscommand: false
      name: ""
      version: -1
    taskid: 0fb1caf2-7a7e-4d3a-8a62-0544ba75e7c4
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": -710
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      onCall:
        complex:
          root: inputs.OnCall
          transformers:
          - operator: toLowerCase
      roles:
        complex:
          root: inputs.Role
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Assigns the incident to an analyst based on the analyst's organizational
        role.
      id: 1887e94a-ef38-4c94-8e81-ba56df81b186
      iscommand: false
      name: Assign to analyst
      script: AssignAnalystToIncident
      type: regular
      version: -1
    taskid: 1887e94a-ef38-4c94-8e81-ba56df81b186
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -260,
          "y": 2560
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Reviews the incident to determine if the email that the user reported
        is malicious.
      id: 567e112e-c0fc-4b88-84cf-f360c4d0d1eb
      iscommand: false
      name: Manually review the incident
      type: regular
      version: -1
    taskid: 567e112e-c0fc-4b88-84cf-f360c4d0d1eb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -770,
          "y": 3055
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    reputationcalc: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Closes the investigation.
      id: ef2eb38f-62af-4f5a-880e-acc232f88a76
      iscommand: true
      name: Close investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: ef2eb38f-62af-4f5a-880e-acc232f88a76
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -897.5,
          "y": 5180
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 98874edb-f6c9-426e-84e0-041520402364
      iscommand: false
      name: Triage
      type: title
      version: -1
    taskid: 98874edb-f6c9-426e-84e0-041520402364
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": 300
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      body:
        simple: "Hi ${.=function(val) { if(!(val.Account.length > 1)) return val.incident.reporteremailaddress;
          var reporter = val.incident.reporteremailaddress; var account = val.Account
          && val.Account.filter(function(acc) { return acc.DisplayName && (acc.Email
          \ === reporter || Array.isArray(acc.Email) && acc.Email.indexOf(reporter)
          > -1) }); return account && account[0] && account[0].DisplayName[0] || reporter
          || ''; }(val)},\nWe've received your email and are investigating.\nPlease
          do not touch the email until further notice.\n\nCordially, \n  Your friendly
          neighborhood security team"
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        complex:
          accessor: reporteremailaddress
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Sends an auto-response to the user reporting the incident that the incident was received and is being handled.
      id: eacb0ea8-128f-4826-8d7e-1c7a96c78f7c
      iscommand: true
      name: Acknowledge incident was received
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: eacb0ea8-128f-4826-8d7e-1c7a96c78f7c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 940,
          "y": 630
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.severity
          operator: greaterThanOrEqual
          right:
            value:
              simple: "2"
      label: Malicious
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "31"
      Malicious:
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if the email is malicious based on the calculated severity.
      id: 3ffaae14-370b-459c-849a-d6e82895fbf8
      iscommand: false
      name: Is the email malicious?
      type: condition
      version: -1
    taskid: 3ffaae14-370b-459c-849a-d6e82895fbf8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -260,
          "y": 2735
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      body:
        simple: |-
          Hi ${.=function(val) { if(!(val.Account.length > 1)) return val.incident.reporteremailaddress; var reporter = val.incident.reporteremailaddress; var account = val.Account && val.Account.filter(function(acc) { return acc.DisplayName && (acc.Email  === reporter || Array.isArray(acc.Email) && acc.Email.indexOf(reporter) > -1) }); return account && account[0] && account[0].DisplayName[0] || reporter || ''; }(val)},
          We've concluded that the email you forwarded to us is safe. In case you think the verdict is not accurate and the email is suspicious, please contact our SOC team.
          Thank you for your alertness and your participation in keeping our organization secure.

          Cordially,
            Your security team
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        complex:
          accessor: reporteremailaddress
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email to the user explaining that the email they reported
        is safe.
      id: 71ce0886-fbc6-4b52-896a-3f78206f9e3b
      iscommand: true
      name: Update the user that the reported email is safe
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 71ce0886-fbc6-4b52-896a-3f78206f9e3b
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: regular
    view: |-
      {
        "position": {
          "x": -1230,
          "y": 3610
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 388b7958-54ef-4591-8950-1bd16f7d6ba8
      iscommand: false
      name: Engage with User
      type: title
      version: -1
    taskid: 388b7958-54ef-4591-8950-1bd16f7d6ba8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 940,
          "y": 300
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 6c5e06ce-3d3d-4891-8a71-88e2f25358e9
      iscommand: false
      name: Detonate File - Generic
      playbookId: Detonate File - Generic
      type: playbook
      version: -1
    taskid: 6c5e06ce-3d3d-4891-8a71-88e2f25358e9
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 197.5,
          "y": 615
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
      - "22"
      - "88"
      - "137"
    note: false
    quietmode: 0
    scriptarguments:
      Email:
        complex:
          accessor: emailto
          root: incident
      EmailCC:
        complex:
          accessor: emailcc
          root: incident
      EmailFileToExtract:
        complex:
          root: inputs.EmailFileToExtract
      EmailFormat:
        complex:
          accessor: emailformat
          root: incident
      EmailFrom:
        complex:
          accessor: emailfrom
          root: incident
      EmailHeaders:
        complex:
          accessor: phishingreporteremailheaders
          root: incident
      EmailHtml:
        complex:
          accessor: emailhtml
          root: incident
      EmailSubject:
        complex:
          accessor: emailsubject
          root: incident
      EmailText:
        complex:
          accessor: emailbody
          root: incident
      File:
        complex:
          root: File
      GetOriginalEmail:
        complex:
          root: inputs.GetOriginalEmail
      MessageID:
        complex:
          accessor: emailmessageid
          root: incident
      Thread-Topic:
        complex:
          accessor: emailsubject
          root: incident
      UserID:
        complex:
          accessor: reporteremailaddress
          root: incident
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |
        This playbook adds email details to the relevant context entities and handles original email attachments.

        The v2 playbook enables parsing email artifacts more efficiently, including:
        - Using incident fields and not incident labels.
        - Providing separate paths to "Phishing Alerts".
        - Using the new "Get Original Email - Generic v2" playbook to retrieve original emails as EML files from the following integrations:
          * EWS v2
          * Microsoft Graph Mail integration
          * Gmail
          * FireEye EX and FireEye CM
          * Proofpoint Protection Server
          * Agari Phishing Defense (EWS v2, MSGraph Mail, Gmail)
          * Mimecast
      id: ed3db2ad-c8d5-4028-8281-947c7c5f6087
      iscommand: false
      name: Process Email - Generic v2
      playbookId: Process Email - Generic v2
      type: playbook
      version: -1
    taskid: ed3db2ad-c8d5-4028-8281-947c7c5f6087
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": 440
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "97"
      - "98"
      - "99"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f75874f7-352f-4913-8a65-2c5c5dfe7f38
      iscommand: false
      name: Remediation
      type: title
      version: -1
    taskid: f75874f7-352f-4913-8a65-2c5c5dfe7f38
    timertriggers:
    - action: start
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": 352.5,
          "y": 3850
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      AttachmentName:
        complex:
          accessor: attachmentname
          root: incident
      From:
        complex:
          accessor: reportedemailfrom
          root: incident
          transformers:
          - operator: ExtractEmailTransformer
      ? |
        O365AllowNotFoundExchangeLocations
      : simple: "false"
      O365DeleteType:
        complex:
          root: inputs.O365DeleteType
      O365Description:
        simple: Search for potential phishing
      O365ExchangeLocation:
        complex:
          root: .
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: incident.reportedemailto
              equals: {}
              lhs:
                iscontext: true
                value:
                  simple: inputs.O365ExchangeLocation
              options: {}
              rhs:
                value:
                  simple: All
              then:
                value:
                  simple: All
            operator: If-Then-Else
      O365ExchangeLocationExclusion:
        complex:
          root: inputs.O365ExchangeLocationExclusion
      O365KQL:
        simple: from:${incident.reportedemailfrom} AND subject:"${incident.reportedemailsubject}"
      SearchAndDeleteIntegration:
        complex:
          root: inputs.SearchAndDeleteIntegration
      SearchThisWeek:
        simple: "true"
      Subject:
        complex:
          accessor: emailsubject
          root: incident
      To:
        complex:
          accessor: emailto
          root: incident
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: 'This playbook searches and deletes emails with similar attributes
        of a malicious email using one of the following integrations: * EWS * Office
        365 * Gmail * Agari Phishing Defense'
      id: dbf0e81b-a3ea-463d-85e8-3eeeda46cf24
      iscommand: false
      name: Search And Delete Emails - Generic v2
      playbookId: Search And Delete Emails - Generic v2
      type: playbook
      version: -1
    taskid: dbf0e81b-a3ea-463d-85e8-3eeeda46cf24
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 352.5,
          "y": 4805
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d2e466a3-7584-4791-8c1c-64e1870b8214
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: d2e466a3-7584-4791-8c1c-64e1870b8214
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -897.5,
          "y": 5365
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "149"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9b20ad92-d926-4e59-86fb-b4993064714e
      iscommand: false
      name: Email Is Malicious
      type: title
      version: -1
    taskid: 9b20ad92-d926-4e59-86fb-b4993064714e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 2910
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ee9e548d-4eae-4ad8-8dba-57a8051852ed
      iscommand: false
      name: Undetermined
      type: title
      version: -1
    taskid: ee9e548d-4eae-4ad8-8dba-57a8051852ed
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -770,
          "y": 2910
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "No":
      - "151"
      "yes":
      - "149"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is the email that the user reported malicious?
      id: 9f996633-a58e-4b99-82b5-bd608fe127ca
      iscommand: false
      name: Is the email malicious?
      type: condition
      version: -1
    taskid: 9f996633-a58e-4b99-82b5-bd608fe127ca
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -770,
          "y": 3220
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "To manually remediate a phishing incident you need to:\n1. Search
        for and delete similar emails.\n2. Inform the organization about the threat.\n3.
        Hunt relevant IOCs.\n4. Update proxies and firewalls as necessary.\n5. Block
        the malicious sender/domain in the mail-gateway. "
      id: 9e636f23-b4f7-4407-8c92-bf6cb69c1a5d
      iscommand: false
      name: Manually remediate  the incident
      type: regular
      version: -1
    taskid: 9e636f23-b4f7-4407-8c92-bf6cb69c1a5d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -250,
          "y": 4180
        }
      }
  "36":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.SearchAndDelete
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "Yes"
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      "Yes":
      - "152"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the **SearchAndDelete** playbook input is set to
        True.
      id: 47201715-a7db-4517-8913-590b3ceadd6f
      iscommand: false
      name: Should emails be searched and deleted?
      type: condition
      version: -1
    taskid: 47201715-a7db-4517-8913-590b3ceadd6f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 352.5,
          "y": 4180
        }
      }
  "37":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.BlockIndicators
                    operator: isEqualString
                    right:
                      value:
                        simple: "True"
                root: inputs.BlockIndicators
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      "yes":
      - "91"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the **BlockIndicators** playbook input is set to
        True.
      id: 38390b55-59ee-4777-80f3-ab839dd76f98
      iscommand: false
      name: Should indicators be blocked automatically?
      type: condition
      version: -1
    taskid: 38390b55-59ee-4777-80f3-ab839dd76f98
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 950,
          "y": 4180
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "147"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2d6dbce1-c9ea-41af-8a50-bd221b4c11fb
      iscommand: false
      name: Start Detection Timer
      type: title
      version: -1
    taskid: 2d6dbce1-c9ea-41af-8a50-bd221b4c11fb
    timertriggers:
    - action: start
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": -570
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1801d86e-691a-4ecb-8a69-11918b681d22
      iscommand: false
      name: Stop Remediation Timer
      type: title
      version: -1
    taskid: 1801d86e-691a-4ecb-8a69-11918b681d22
    timertriggers:
    - action: stop
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": 670,
          "y": 5040
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b8cde1c5-6ece-46de-889f-748cc55c9288
      iscommand: false
      name: Indicator Enrichment
      type: title
      version: -1
    taskid: b8cde1c5-6ece-46de-889f-748cc55c9288
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1130
        }
      }
  "53":
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      Email:
        complex:
          accessor: reporteremailaddress
          root: incident
          transformers:
          - operator: uniq
      InternalDomains:
        complex:
          root: inputs.InternalDomains
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich email addresses.
        - Get information from Active Directory for internal addresses
        - Get the domain-squatting reputation for external addresses
      id: 17e63d3c-6d24-49d1-840e-ecb87eb53dc3
      iscommand: false
      name: Email Address Enrichment - Generic v2.1
      playbookId: Email Address Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: 17e63d3c-6d24-49d1-840e-ecb87eb53dc3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 940,
          "y": 450
        }
      }
  "55":
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
      - "143"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook extracts indicators from a file.
        Supported file types:
        - CSV
        - PDF
        - TXT
        - HTM, HTML
        - DOC, DOCX
        - PPT
        - PPTX
        - RTF
        - XLS
        - XLSX
        - XML
      id: 38645780-270b-4dc6-8b82-794f80d6eac5
      iscommand: false
      name: Extract Indicators From File - Generic v2
      playbookId: Extract Indicators From File - Generic v2
      type: playbook
      version: -1
    taskid: 38645780-270b-4dc6-8b82-794f80d6eac5
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -727.5,
          "y": 615
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "101"
      - "80"
      - "131"
      - "154"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ff728879-fb0b-4463-870a-ca7b4c87ecf7
      iscommand: false
      name: Investigation
      type: title
      version: -1
    taskid: ff728879-fb0b-4463-870a-ca7b4c87ecf7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1480
        }
      }
  "79":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.AuthenticateEmail
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - left:
            iscontext: true
            value:
              complex:
                accessor: HeadersMap
                root: Email
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "84"
      "yes":
      - "82"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the email should be authenticated using DKIM, SPF,
        and DMARC. This checks if "AuthenticateEmail" output is set to "True" and
        if there are headers from an email to authenticate.
      id: d0efbed9-4fa7-4dd0-8ce7-57a8b43c54dd
      iscommand: false
      name: Should the email be authenticated?
      type: condition
      version: -1
    taskid: d0efbed9-4fa7-4dd0-8ce7-57a8b43c54dd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 390,
          "y": 1765
        }
      }
  "80":
    continueonerrortype: ""
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "79"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e2a5d562-408f-4d31-862f-7646f68094e4
      iscommand: false
      name: Email Authenticity Check
      type: title
      version: -1
    taskid: e2a5d562-408f-4d31-862f-7646f68094e4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 390,
          "y": 1620
        }
      }
  "82":
    continueonerrortype: ""
    id: "82"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "83"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      headers:
        complex:
          accessor: Headers
          root: Email
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the authenticity of an email based on the email's SPF, DMARC,
        and DKIM.
      id: 114c5f8d-4254-49a9-8674-76f57eca43e0
      iscommand: false
      name: Authenticate email
      script: CheckEmailAuthenticity
      type: regular
      version: -1
    taskid: 114c5f8d-4254-49a9-8674-76f57eca43e0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 392.5,
          "y": 1950
        }
      }
  "83":
    continueonerrortype: ""
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      emailauthenticitycheck:
        complex:
          accessor: AuthenticityCheck
          root: Email
          transformers:
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Undetermined
              toReplace:
                value:
                  simple: undetermined
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Pass
              toReplace:
                value:
                  simple: pass
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Fail
              toReplace:
                value:
                  simple: fail
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Suspicious
              toReplace:
                value:
                  simple: suspicious
            operator: replace
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Saves the email authenticity verdict in an incident field.
      id: d39eee92-6f94-4f48-8b7b-2b54cb28be6d
      iscommand: true
      name: Save authenticity check result to incident field
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: d39eee92-6f94-4f48-8b7b-2b54cb28be6d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 392.5,
          "y": 2145
        }
      }
  "84":
    continueonerrortype: ""
    id: "84"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: b5990a16-1a74-45f3-831b-30cf7ebbc612
      iscommand: false
      name: Calculate Severity - Generic v2
      playbookId: Calculate Severity - Generic v2
      type: playbook
      version: -1
    taskid: b5990a16-1a74-45f3-831b-30cf7ebbc612
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -260,
          "y": 2350
        }
      }
  "85":
    continueonerrortype: ""
    id: "85"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
      - "11"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      reporteremailaddress:
        complex:
          accessor: emailfrom
          root: incident
          transformers:
          - operator: ExtractEmailTransformer
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Saves the email address of the email reporter in an incident field.
      id: de6af807-3940-4cc4-8d20-ed31a6b2ccc9
      iscommand: true
      name: Save reporter email address in field
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: de6af807-3940-4cc4-8d20-ed31a6b2ccc9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -370,
          "y": 60
        }
      }
  "87":
    continueonerror: true
    continueonerrortype: ""
    id: "87"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "90"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      emailBody:
        complex:
          accessor: Text
          root: Email
          transformers:
          - operator: uniq
      emailBodyHTML:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - operator: uniq
      emailSubject:
        complex:
          accessor: Subject
          root: Email
          transformers:
          - operator: uniq
      modelName:
        complex:
          root: inputs.PhishingModelName
      returnError:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Predicts the specific phishing mail type using a pre-trained machine
        learning model, and highlights the most important words used in the classification
        decision.
      id: 2b495762-3d39-4276-8473-ac71399de972
      iscommand: false
      name: Predict phishing type using pre-trained phishing model
      script: DBotPredictPhishingWords
      type: regular
      version: -1
    taskid: 2b495762-3d39-4276-8473-ac71399de972
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1832.5,
          "y": 1005
        }
      }
  "88":
    continueonerrortype: ""
    id: "88"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "142"
      - "143"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fd0eec29-c102-4df5-80ff-d3ff7ae4030d
      iscommand: false
      name: Machine Learning
      type: title
      version: -1
    taskid: fd0eec29-c102-4df5-80ff-d3ff7ae4030d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1522.5,
          "y": 615
        }
      }
  "89":
    continueonerrortype: ""
    id: "89"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      dbotprediction:
        complex:
          accessor: Label
          root: DBotPredictPhishingWords
          transformers:
          - operator: uniq
      dbotpredictionprobability:
        complex:
          accessor: Probability
          root: DBotPredictPhishingWords
          transformers:
          - operator: uniq
      dbottextsuggestionhighlighted:
        complex:
          accessor: TextTokensHighlighted
          root: DBotPredictPhishingWords
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Updates incident fields with the machine learning phishing model
        predictions.
      id: 151efad7-f5d2-404f-804b-6a9a55438d43
      iscommand: true
      name: Update incident with predictions
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 151efad7-f5d2-404f-804b-6a9a55438d43
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1572.5,
          "y": 1465
        }
      }
  "90":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Label
                root: DBotPredictPhishingWords
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Probability
                root: DBotPredictPhishingWords
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: TextTokensHighlighted
                root: DBotPredictPhishingWords
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "84"
      "yes":
      - "89"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the model predicted the phishing type.
      id: 92338266-830b-4e46-8b27-c5e92ae75fc9
      iscommand: false
      name: Did the model predict the phishing type?
      type: condition
      version: -1
    taskid: 92338266-830b-4e46-8b27-c5e92ae75fc9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1832.5,
          "y": 1235
        }
      }
  "91":
    continueonerrortype: ""
    id: "91"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      AutoCommit:
        simple: "No"
      CustomBlockRule:
        simple: "True"
      EmailToBlock:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: email
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      IP:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: ip
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      MD5:
        complex:
          accessor: Indicator
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Indicator
              operator: stringHasLength
              right:
                value:
                  simple: "32"
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: file
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: hash
          root: DBotScore
          transformers:
          - operator: uniq
      SHA256:
        complex:
          accessor: Indicator
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Indicator
              operator: stringHasLength
              right:
                value:
                  simple: "64"
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: file
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: hash
          root: DBotScore
          transformers:
          - operator: uniq
      URL:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: url
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      Username:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: username
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |+
        This playbook blocks malicious indicators using all enabled integrations, with the following sub-playbooks:

        - Block URL - Generic
        - Block Account - Generic
        - Block IP - Generic v2
        - Block File - Generic v2

      id: 0f9ff3a2-3bcc-487f-8ff3-038505dff8ef
      iscommand: false
      name: Block Indicators - Generic v2
      playbookId: Block Indicators - Generic v2
      type: playbook
      version: -1
    taskid: 0f9ff3a2-3bcc-487f-8ff3-038505dff8ef
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 950,
          "y": 4765
        }
      }
  "92":
    continueonerrortype: ""
    id: "92"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Name
          root: Domain
          transformers:
          - operator: uniq
      Email:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Account.Email.Address
              operator: isNotEqualString
              right:
                iscontext: true
                value:
                  simple: incident.reporteremailaddress
          root: Account.Email.Address
          transformers:
          - operator: uniq
      Hostname:
        complex:
          accessor: Hostname
          root: Endpoint
          transformers:
          - operator: uniq
      IP:
        complex:
          accessor: Address
          root: IP
          transformers:
          - operator: uniq
      InternalDomains:
        complex:
          root: inputs.InternalDomains
      InternalRange:
        complex:
          root: inputs.InternalRange
      MD5:
        complex:
          accessor: MD5
          root: File
          transformers:
          - operator: uniq
      ResolveIP:
        simple: "False"
      SHA1:
        complex:
          accessor: SHA1
          root: File
          transformers:
          - operator: uniq
      SHA256:
        complex:
          accessor: SHA256
          root: File
          transformers:
          - operator: uniq
      URL:
        complex:
          accessor: Data
          root: URL
          transformers:
          - operator: uniq
      Username:
        complex:
          accessor: Username
          root: Account
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Enrich entities using one or more integrations
      id: bc8852f6-b204-4a5f-880c-db4971e6dd59
      iscommand: false
      name: Entity Enrichment - Phishing v2
      playbookId: Entity Enrichment - Phishing v2
      type: playbook
      version: -1
    taskid: bc8852f6-b204-4a5f-880c-db4971e6dd59
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1270
        }
      }
  "97":
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8ea2e3da-b051-4216-88d1-436a2b6d7db8
      iscommand: false
      name: Block Indicators
      type: title
      version: -1
    taskid: 8ea2e3da-b051-4216-88d1-436a2b6d7db8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 950,
          "y": 4040
        }
      }
  "98":
    continueonerrortype: ""
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e6d4dab6-341c-4c73-8fca-6d47719cd501
      iscommand: false
      name: Search & Delete Email
      type: title
      version: -1
    taskid: e6d4dab6-341c-4c73-8fca-6d47719cd501
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 352.5,
          "y": 4040
        }
      }
  "99":
    continueonerrortype: ""
    id: "99"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 16e9d4e8-ba96-4048-80ab-14c531f6318a
      iscommand: false
      name: Manual Remediation
      type: title
      version: -1
    taskid: 16e9d4e8-ba96-4048-80ab-14c531f6318a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -250,
          "y": 4040
        }
      }
  "101":
    continueonerrortype: ""
    id: "101"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "126"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6f1daf57-5d2b-4c1f-8bdf-6b3aa232aec7
      iscommand: false
      name: Email Campaign Search
      type: title
      version: -1
    taskid: 6f1daf57-5d2b-4c1f-8bdf-6b3aa232aec7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1620
        }
      }
  "126":
    continueonerrortype: ""
    id: "126"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    scriptarguments:
      AutomaticallyLinkIncidents:
        simple: "True"
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        This playbook is used to find, create, and manage phishing campaigns. When a number of similar phishing incidents exist in the system, the playbook can be used to:
        1. Find and tie together incidents that are related to the same phishing attack (a phishing campaign).
        2. Search for an existing Phishing Campaign incident or create a new one for the tied phishing incidents.
        3. Link all detected phishing incidents to the Phishing Campaign incident that was found or created previously.
        4. Update the Phishing Campaign incident with the latest data about the campaign, and update all related phishing incidents to indicate that they are part of the campaign.
      id: b4009770-3b7f-4ee2-8856-88b3cb98518c
      iscommand: false
      name: Detect & Manage Phishing Campaigns
      playbookId: Detect & Manage Phishing Campaigns
      type: playbook
      version: -1
    taskid: b4009770-3b7f-4ee2-8856-88b3cb98518c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1755
        }
      }
  "131":
    continueonerrortype: ""
    id: "131"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "132"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9ea4ea6b-86dc-48ea-8431-49654050be1b
      iscommand: false
      name: Microsoft's Headers Check
      type: title
      version: -1
    taskid: 9ea4ea6b-86dc-48ea-8431-49654050be1b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -907.5,
          "y": 1620
        }
      }
  "132":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.CheckMicrosoftHeaders
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "132"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "84"
      "yes":
      - "133"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to check Microsoft's proprietary email headers.
      id: a12f3441-c316-4e61-88b7-a0e9825ec186
      iscommand: false
      name: Check Microsoft's Headers?
      type: condition
      version: -1
    taskid: a12f3441-c316-4e61-88b7-a0e9825ec186
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -907.5,
          "y": 1755
        }
      }
  "133":
    continueonerrortype: ""
    id: "133"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook stores the SCL, BCL, and PCL scores if they exist
        to the associated incident fields (Phishing SCL Score, Phishing PCL Score,
        and Phishing BCL Score).\nIt also does the following:\n1) Sets the email classification
        to \"spam\" if the SCL score is equal to or greater than 5.\n2) Sets the incident
        severity according to the playbook inputs (default is: PCL/BCL - Medium, SCL
        - Low). The severity of the incident is set only when one (or more) of the
        following occurs:\n  - PCL (Phishing Confidence Level) score between and including
        4-8: The message content is likely to be phishing.\n  - [BCL](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/bulk-complaint-level-values?view=o365-worldwide)
        (Bulk Complaint Level) score between and including 4-7: The message is from
        a bulk sender that generates a mixed number of complaints. \n    For a score
        between and including 8-9: The message is from a bulk sender that generates
        a high number of complaints.\n  - [SCL](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/spam-confidence-levels?view=o365-worldwide)
        (Spam Confidence Level) score between and including 5-6: Spam filtering marks
        the message as spam. \n    For a score of 9: Spam filtering marks the message
        as high confidence spam. See [anti-spam stamps](https://docs.microsoft.com/en-us/exchange/antispam-and-antimalware/antispam-protection/antispam-stamps?view=exchserver-2019)."
      id: 56a3a4e9-f447-401f-8c4a-211eebf5be8d
      iscommand: false
      name: Process Microsoft's Anti-Spam Headers
      playbookId: Process Microsoft's Anti-Spam Headers
      type: playbook
      version: -1
    taskid: 56a3a4e9-f447-401f-8c4a-211eebf5be8d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -907.5,
          "y": 1950
        }
      }
  "135":
    continueonerrortype: ""
    id: "135"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    scriptarguments:
      URL:
        complex:
          root: URL
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook detonates URLs using active integrations that support
        URL detonation.
      id: 36b87c25-e089-407e-8b20-1f813782469e
      iscommand: false
      name: Detonate URL - Generic
      playbookId: detonate_url_-_generic
      type: playbook
      version: -1
    taskid: 36b87c25-e089-407e-8b20-1f813782469e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -260,
          "y": 910
        }
      }
  "137":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.DetonateURL
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "137"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "52"
      "yes":
      - "135"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to detonate URLs in supported sandboxes.
      id: 774efc4e-0af9-46fa-89ce-8b2f9e6ce1dd
      iscommand: false
      name: Detonate URL?
      type: condition
      version: -1
    taskid: 774efc4e-0af9-46fa-89ce-8b2f9e6ce1dd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -260,
          "y": 615
        }
      }
  "140":
    continueonerrortype: ""
    id: "140"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      emailHTML:
        complex:
          accessor: emailhtml
          root: incident
      maxNumberOfURL:
        complex:
          root: inputs.DBotPredictURLPhishingURLsNumber
      urls:
        complex:
          root: ExtractedURLsFromFiles
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Predicts phishing URLs using a pre-trained model.
      id: ecf376ab-76f5-4f64-88ef-634ced825108
      iscommand: false
      name: Predict Phishing URLs
      script: DBotPredictURLPhishing
      type: regular
      version: -1
    taskid: ecf376ab-76f5-4f64-88ef-634ced825108
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1230,
          "y": 1235
        }
      }
  "142":
    continueonerrortype: ""
    id: "142"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "87"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 87fbda5c-5d94-47cb-8b20-018bf7de13b6
      iscommand: false
      name: Predict Phishing Type
      type: title
      version: -1
    taskid: 87fbda5c-5d94-47cb-8b20-018bf7de13b6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1832.5,
          "y": 795
        }
      }
  "143":
    continueonerrortype: ""
    id: "143"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "156"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8e547a58-c4e9-4673-8bf6-b935111e0ee6
      iscommand: false
      name: Predict Phishing URLs
      type: title
      version: -1
    taskid: 8e547a58-c4e9-4673-8bf6-b935111e0ee6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1230,
          "y": 795
        }
      }
  "144":
    continueonerrortype: ""
    id: "144"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "145"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 08a758c7-6e1e-4605-8559-40b464d32dd9
      iscommand: false
      name: Incident Created Manually
      type: title
      version: -1
    taskid: 08a758c7-6e1e-4605-8559-40b464d32dd9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 270,
          "y": -250
        }
      }
  "145":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reporteremailaddress
                root: incident
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "145"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "157"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the email address of the phishing email reporter
        was specified on incident creation, so that an acknowledgement email can be
        sent to them.
      id: 570250e6-ea4a-4c11-87ec-0cbdd0691d9a
      iscommand: false
      name: Was the reporter of the phishing email specified?
      type: condition
      version: -1
    taskid: 570250e6-ea4a-4c11-87ec-0cbdd0691d9a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 270,
          "y": -110
        }
      }
  "147":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: sourceBrand
                root: incident
          operator: isEqualString
          right:
            value:
              simple: Manual
      label: Manually
    continueonerrortype: ""
    id: "147"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "85"
      Manually:
      - "144"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the incident came from a mail listener integration,
        or was created manually by the user.
      id: 279f17b6-d8f9-498d-8326-eb097570638b
      iscommand: false
      name: How was the incident created?
      type: condition
      version: -1
    taskid: 279f17b6-d8f9-498d-8326-eb097570638b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": -430
        }
      }
  "148":
    continueonerrortype: ""
    id: "148"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hi ${.=function(val) { if(!(val.Account.length > 1)) return val.incident.reporteremailaddress; var reporter = val.incident.reporteremailaddress; var account = val.Account && val.Account.filter(function(acc) { return acc.DisplayName && (acc.Email  === reporter || Array.isArray(acc.Email) && acc.Email.indexOf(reporter) > -1) }); return account && account[0] && account[0].DisplayName[0] || reporter || ''; }(val)},
          We've concluded that the email you forwarded to us is malicious. No further action is required on your part. Good job on detecting and forwarding it to us!

          All the best,
            Your security team
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        complex:
          accessor: reporteremailaddress
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email to the user explaining that the email they reported
        is malicious.
      id: 0a46cd9f-6d31-4108-8700-1ea827e05d2f
      iscommand: true
      name: Update the user that the reported email is malicious
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 0a46cd9f-6d31-4108-8700-1ea827e05d2f
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: regular
    view: |-
      {
        "position": {
          "x": 110,
          "y": 3620
        }
      }
  "149":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: PartOfCampaign
          operator: isNotEmpty
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reporteremailaddress
                root: incident
          operator: isNotEmpty
      label: yes - phishing campaign
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reporteremailaddress
                root: incident
          operator: isNotEmpty
      label: yes - phishing
    continueonerrortype: ""
    id: "149"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      yes - phishing:
      - "148"
      yes - phishing campaign:
      - "150"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the user can be informed about the verdict of the
        incident.
      id: 2a834dc0-f6ae-46c6-8803-4ef3c3e9021f
      iscommand: false
      name: Can the user be informed about the verdict?
      type: condition
      version: -1
    taskid: 2a834dc0-f6ae-46c6-8803-4ef3c3e9021f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 352.5,
          "y": 3410
        }
      }
  "150":
    continueonerrortype: ""
    id: "150"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hi ${.=function(val) { if(!(val.Account.length > 1)) return val.incident.reporteremailaddress; var reporter = val.incident.reporteremailaddress; var account = val.Account && val.Account.filter(function(acc) { return acc.DisplayName && (acc.Email  === reporter || Array.isArray(acc.Email) && acc.Email.indexOf(reporter) > -1) }); return account && account[0] && account[0].DisplayName[0] || reporter || ''; }(val)},
          We've concluded that the email you forwarded to us is part of a bigger phishing campaign that targeted our company. No further action is required on your part. Good job on detecting and forwarding it to us!

          All the best,
            Your security team
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        complex:
          accessor: reporteremailaddress
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email to the user explaining that the email they reported
        is malicious.
      id: db0e38d0-6e2e-4b52-84f9-3201ee1ef2f2
      iscommand: true
      name: Update the user that the email is a malicious campaign
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: db0e38d0-6e2e-4b52-84f9-3201ee1ef2f2
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: regular
    view: |-
      {
        "position": {
          "x": 580,
          "y": 3620
        }
      }
  "151":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reporteremailaddress
                root: incident
          operator: isNotEmpty
          right:
            value: {}
      label: "Yes"
    continueonerrortype: ""
    id: "151"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "Yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the user can be informed about the verdict of the
        incident.
      id: 77aa10d3-a5be-4607-80ab-4517789b30ac
      iscommand: false
      name: Can the user be informed about the verdict?
      type: condition
      version: -1
    taskid: 77aa10d3-a5be-4607-80ab-4517789b30ac
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -897.5,
          "y": 3410
        }
      }
  "152":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reportedemailfrom
                root: incident
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "152"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      "yes":
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the original email was retrieved using the email listener
        integration.
      id: 8fd205ee-fe80-44de-8aca-e8d719aebac5
      iscommand: false
      name: Check if original email was retrieved
      type: condition
      version: -1
    taskid: 8fd205ee-fe80-44de-8aca-e8d719aebac5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 352.5,
          "y": 4480
        }
      }
  "153":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Vendor
                    operator: isEqualString
                    right:
                      value:
                        simple: DomainSquatting
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: incident.reportedemailfrom
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Score
                    operator: greaterThanOrEqual
                    right:
                      value:
                        simple: "2"
                root: DBotScore
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "153"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "84"
      "yes":
      - "155"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the attacker tried to squat another domain involved
        in this incident.
      id: b0bedec9-7588-4359-840c-3f58f267956c
      iscommand: false
      name: Did domain-squatting occur?
      type: condition
      version: -1
    taskid: b0bedec9-7588-4359-840c-3f58f267956c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 960,
          "y": 1755
        }
      }
  "154":
    continueonerrortype: ""
    id: "154"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "153"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3f0bd5b6-5497-4753-838e-377c6813a6fa
      iscommand: false
      name: Domain-squatting
      type: title
      version: -1
    taskid: 3f0bd5b6-5497-4753-838e-377c6813a6fa
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 960,
          "y": 1620
        }
      }
  "155":
    continueonerrortype: ""
    id: "155"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    scriptarguments:
      domainsquattingresult:
        complex:
          accessor: Indicator
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Vendor
              operator: isEqualString
              right:
                value:
                  simple: DomainSquatting
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Indicator
              operator: isEqualString
              right:
                iscontext: true
                value:
                  simple: incident.reportedemailfrom
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "2"
          root: DBotScore
          transformers:
          - operator: uniq
          - args:
              delimiter:
                value:
                  simple: '@'
            operator: split
          - operator: LastArrayElement
          - args:
              prefix:
                value:
                  simple: The attacker used the domain **
              suffix: {}
            operator: concat
          - args:
              prefix: {}
              suffix:
                value:
                  simple: '** which looks like another domain involved in this incident.'
            operator: concat
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 879eae8a-6264-4050-8a45-51d8d646183f
      iscommand: true
      name: Save domain-squatting result to incident field
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 879eae8a-6264-4050-8a45-51d8d646183f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 950,
          "y": 1950
        }
      }
  "156":
    continueonerrortype: ""
    id: "156"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "84"
      "yes":
      - "140"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Rasterize
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'.
      id: 21afb7be-c98d-4f59-894a-bd5d8c14cd9e
      iscommand: false
      name: Is the Rasterize integration enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 21afb7be-c98d-4f59-894a-bd5d8c14cd9e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1230,
          "y": 1005
        }
      }
  "157":
    continueonerrortype: ""
    id: "157"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1b96b880-2f53-4f12-87f3-0693bb85b7d4
      iscommand: false
      name: Reporter Address specified
      type: title
      version: -1
    taskid: 1b96b880-2f53-4f12-87f3-0693bb85b7d4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 270,
          "y": 115
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "137_135_yes": 0.54,
      "147_144_Manually": 0.52,
      "149_148_yes - phishing": 0.66,
      "149_27_#default#": 0.21,
      "151_8_#default#": 0.11,
      "152_43_#default#": 0.17,
      "153_84_#default#": 0.18,
      "156_140_yes": 0.42,
      "156_84_no": 0.25,
      "15_31_#default#": 0.6,
      "33_149_yes": 0.18,
      "36_43_#default#": 0.2,
      "37_43_#default#": 0.12,
      "37_91_yes": 0.57,
      "79_84_#default#": 0.21,
      "90_84_#default#": 0.1,
      "90_89_yes": 0.48
    },
    "paper": {
      "dimensions": {
        "height": 6140,
        "width": 3172.5,
        "x": -1832.5,
        "y": -710
      }
    }
  }
