playbook-Hostname_And_IP_Address_Investigation_And_Remediation_-_Chronicle.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.0.20
    packID: GoogleChronicleBackstory
    packName: Chronicle
    packPropagationLabels:
    - all
    propagationLabels: []
    toServerVersion: ""
description: This playbook receives ChronicleAsset type of indicators from its parent
  playbook "ChronicleAsset Investigation - Chronicle", performs enrichment and investigation
  for each one of them, provides an opportunity to isolate and block the hostname
  or IP address associated with the current indicator, and provides a list of isolated
  and blocked entities.
id: Hostname And IP Address Investigation And Remediation - Chronicle
inputs:
- description: The value of the ChronicleAsset indicator.
  key: chronicleasset_value
  playbookInputQuery: null
  required: true
  value: {}
- description: The hostname associated with the ChronicleAsset.
  key: chronicleasset_hostname
  playbookInputQuery: null
  required: false
  value: {}
- description: The IP address associated with the ChronicleAsset.
  key: chronicleasset_ip
  playbookInputQuery: null
  required: false
  value: {}
- description: The support email address for the ChronicleAsset.
  key: chronicleasset_support_contact
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: chronicleassetsupportcontact
      root: incident
- description: Autoblock the detected suspicious IP Address(es). You can manually
    set this as "Yes" or "No" here or you can set it in a 'Chronicle Auto Block Entities'
    custom incident field.
  key: auto_block_entities
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: chronicleautoblockentities
      root: incident
- description: Skip the isolation of entities. You can manually set this as "Yes"
    or "No" here or you can set it in a 'Chronicle Skip Entity Isolation' custom incident
    field.
  key: skip_entity_isolation
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: chronicleskipentityisolation
      root: incident
name: Hostname And IP Address Investigation And Remediation - Chronicle
outputs:
- contextPath: IsolatedEntities
  description: List of the isolated entities.
  type: unknown
- contextPath: PotentiallyBlockedIPs
  description: List of potentially blocked IP Addresses.
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "66"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0c08a4af-3677-4953-8baa-4b38919cc089
      iscommand: false
      name: ""
      version: -1
    taskid: 0c08a4af-3677-4953-8baa-4b38919cc089
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": -680
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3c6c709f-c44c-48cd-81f3-de1b2490db05
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 3c6c709f-c44c-48cd-81f3-de1b2490db05
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1695
        }
      }
  "15":
    continueonerror: true
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    reputationcalc: 3
    scriptarguments:
      ip:
        complex:
          root: inputs.chronicleasset_ip
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the reputation of an IP address.
      id: e1baf9ef-a066-4acb-8302-dd66d7eaf79b
      iscommand: true
      name: Check reputation of the IP Address
      script: '|||ip'
      type: regular
      version: -1
    taskid: e1baf9ef-a066-4acb-8302-dd66d7eaf79b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2300,
          "y": 230
        }
      }
  "16":
    continueonerror: true
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    reputationcalc: 3
    scriptarguments:
      global:
        simple: "true"
      name:
        complex:
          root: inputs.chronicleasset_ip
      size:
        simple: "20"
      type:
        simple: IP Address
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieves the asset details for the specified IP address from the
        RiskIQ Digital Footprint inventory.
      id: 36db4968-fd5d-4392-89dc-32b95e7c2e23
      iscommand: true
      name: Get Asset Enrichment from RiskIQ Digital Footprint
      script: '|||df-get-asset'
      type: regular
      version: -1
    taskid: 36db4968-fd5d-4392-89dc-32b95e7c2e23
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1690,
          "y": 540
        }
      }
  "17":
    continueonerror: true
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    reputationcalc: 3
    scriptarguments:
      global:
        simple: "true"
      name:
        complex:
          root: inputs.chronicleasset_hostname
      size:
        simple: "20"
      type:
        simple: Host
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieves the asset details for the specified host from the RiskIQ
        Digital Footprint inventory.
      id: 86801ba1-7980-444b-8e5d-515fd562a873
      iscommand: true
      name: Get Asset Enrichment from RiskIQ Digital Footprint
      script: '|||df-get-asset'
      type: regular
      version: -1
    taskid: 86801ba1-7980-444b-8e5d-515fd562a873
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2350,
          "y": 540
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: RiskIQDigitalFootprint
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether there is an active instance of the RiskIQ Digital
        Footprint integration enabled.
      id: cbe7c3a9-a6a9-4455-86c9-385e89c1f927
      iscommand: false
      name: Is RiskIQ Digital Footprint integration enabled?
      type: condition
      version: -1
    taskid: cbe7c3a9-a6a9-4455-86c9-385e89c1f927
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1900,
          "y": 230
        }
      }
  "20":
    continueonerrortype: ""
    form:
      description: Select "Yes" to isolate the mentioned hostname, otherwise select
        "No".
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: 'Do you want to isolate the hostname: ${inputs.chronicleasset_hostname}?'
        options:
        - "No"
        - "Yes"
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: Select "Yes" to isolate the hostname, otherwise select "No".
        type: singleSelect
      sender: ""
      title: Isolate the Hostname
      totalanswers: 0
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: 'Redirect to the following link in order to decide if the hostname:
          ${inputs.chronicleasset_hostname} should be isolated.'
      cc: null
      format: ""
      methods:
      - email
      subject:
        simple: 'Chronicle XSOAR: Isolate the Hostname - ${inputs.chronicleasset_hostname}'
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        complex:
          root: inputs.chronicleasset_support_contact
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    reputationcalc: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Asks the user if the hostname associated with the ChronicleAsset
        should be isolated.
      id: 4bcf2b68-4294-42ee-82df-2be344fb1040
      iscommand: false
      name: Isolate the Hostname
      type: collection
      version: -1
    taskid: 4bcf2b68-4294-42ee-82df-2be344fb1040
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 710
        }
      }
  "22":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: Answers.0
                root: Isolate the Hostname
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "59"
      "yes":
      - "87"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the user wants to isolate the hostname.
      id: 6a9f507b-0da1-453c-80db-f2bf13a19a80
      iscommand: false
      name: Is the user willing to isolate the hostname?
      type: condition
      version: -1
    taskid: 6a9f507b-0da1-453c-80db-f2bf13a19a80
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 860
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "79"
    note: false
    quietmode: 0
    scriptarguments:
      Hostname:
        complex:
          root: inputs.chronicleasset_hostname
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich an endpoint by hostname using one or more integrations.
        Supported integrations:
        - Active Directory Query v2
        - McAfee ePolicy Orchestrator
        - Carbon Black Enterprise Response v2
        - Cylance Protect v2
        - CrowdStrike Falcon Host
        - ExtraHop Reveal(x)
      id: 66731a96-168f-4281-820c-4a0416af008d
      iscommand: false
      name: Endpoint Enrichment - Generic v2.1
      playbookId: Endpoint Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: 66731a96-168f-4281-820c-4a0416af008d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 760,
          "y": 230
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "69"
      - "80"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        complex:
          root: inputs.chronicleasset_ip
      ResolveIP:
        simple: "True"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich IP addresses using one or more integrations.

        - Resolve IP addresses to hostnames (DNS).
        - Provide threat information.
        - Separate internal and external IP addresses.
        - For internal IP addresses, get host information.
      id: 24b40deb-e58e-46f5-8f9f-54b76c9560de
      iscommand: false
      name: IP Enrichment - Generic v2
      playbookId: IP Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: 24b40deb-e58e-46f5-8f9f-54b76c9560de
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 140,
          "y": 230
        }
      }
  "26":
    continueonerrortype: ""
    form:
      description: Select "Yes" to isolate the mentioned IP address, otherwise select
        "No".
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: 'Do you want to isolate the IP address: ${inputs.chronicleasset_ip}?'
        options:
        - "No"
        - "Yes"
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: Select "Yes" to isolate the IP address, otherwise select "No".
        type: singleSelect
      sender: ""
      title: Isolate the IP Address
      totalanswers: 0
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: 'Redirect to the following link in order to decide if the IP address:
          ${inputs.chronicleasset_ip} should be isolated.'
      cc: null
      format: ""
      methods:
      - email
      subject:
        simple: 'Chronicle XSOAR: Isolate the IP Address - ${inputs.chronicleasset_ip}'
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        complex:
          root: inputs.chronicleasset_support_contact
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    reputationcalc: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Asks the user if the fetched IP address should be isolated.
      id: 091fd85c-3d1d-4b83-8f0c-2d04d20a613f
      iscommand: false
      name: Isolate the IP Address
      type: collection
      version: -1
    taskid: 091fd85c-3d1d-4b83-8f0c-2d04d20a613f
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -680,
          "y": 710
        }
      }
  "27":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: Answers.0
                root: Isolate the IP Address
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "56"
      "yes":
      - "86"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the user wants to isolate the IP address.
      id: 125de4f2-4cdc-4de4-88f0-61665b8afa6a
      iscommand: false
      name: Is the user willing to isolate the IP address?
      type: condition
      version: -1
    taskid: 125de4f2-4cdc-4de4-88f0-61665b8afa6a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -680,
          "y": 860
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    scriptarguments:
      AutoCommit:
        simple: "No"
      CustomBlockRule:
        simple: "True"
      IP:
        complex:
          root: inputs.chronicleasset_ip
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook blocks malicious IP addresses using all integrations that are enabled.

        Supported integrations for this playbook:
        * Check Point Firewall
        * Palo Alto Networks Minemeld
        * Palo Alto Networks PAN-OS
        * Zscaler
        * FortiGate
      id: e502e198-fd5f-46c6-8b62-85a08f2c71d3
      iscommand: false
      name: Block IP - Generic v2
      playbookId: Block IP - Generic v2
      type: playbook
      version: -1
    taskid: e502e198-fd5f-46c6-8b62-85a08f2c71d3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 240,
          "y": 1200
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "46"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: IsolatedEntities
      value:
        complex:
          root: inputs.chronicleasset_hostname
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Adds the hostname to the list of the isolated entities.
      id: 6a937b7e-c5af-412a-8918-50065492eee4
      iscommand: false
      name: Add the hostname to the list of the isolated entities
      script: Set
      type: regular
      version: -1
    taskid: 6a937b7e-c5af-412a-8918-50065492eee4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 660,
          "y": 1355
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: IsolatedEntities
      value:
        complex:
          root: inputs.chronicleasset_ip
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Adds the IP address to the list of the isolated entities.
      id: 3f3c3c41-b9b6-45dd-8d2f-bc039715de3f
      iscommand: false
      name: Add the IP address to the list of the isolated entities
      script: Set
      type: regular
      version: -1
    taskid: 3f3c3c41-b9b6-45dd-8d2f-bc039715de3f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -880,
          "y": 1355
        }
      }
  "41":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.auto_block_entities
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.auto_block_entities
          operator: isEqualString
          right:
            value:
              simple: "No"
      label: "no"
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "50"
      "no":
      - "57"
      "yes":
      - "85"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the Auto Block Entities input is set to "Yes" or
        "No".
      id: 1297d3e1-cfea-4d02-86e9-eac6092d4b8a
      iscommand: false
      name: Is Auto Block Entities input set to "Yes" or "No"?
      type: condition
      version: -1
    taskid: 1297d3e1-cfea-4d02-86e9-eac6092d4b8a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 140,
          "y": 540
        }
      }
  "44":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.skip_entity_isolation
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.skip_entity_isolation
          operator: isEqualString
          right:
            value:
              simple: "No"
      label: "no"
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "no":
      - "87"
      "yes":
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the Skip Entity Isolation input is set to "Yes"
        or "No".
      id: 0bae6c12-3169-4bd5-8967-ef315867502d
      iscommand: false
      name: Is Skip Entity Isolation input set to "Yes" or "No"?
      type: condition
      version: -1
    taskid: 0bae6c12-3169-4bd5-8967-ef315867502d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 760,
          "y": 540
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      chronicleisolatedhostname:
        simple: "Yes"
      value:
        complex:
          root: inputs.chronicleasset_value
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the Chronicle Isolated Host indicator field to "Yes".
      id: 144815b6-042b-42e8-8b3a-3c0c48b49d62
      iscommand: true
      name: Set the Chronicle Isolated Host field to "Yes"
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: 144815b6-042b-42e8-8b3a-3c0c48b49d62
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 660,
          "y": 1510
        }
      }
  "50":
    continueonerrortype: ""
    form:
      description: Select "Yes" to block the mentioned IP address, otherwise select
        "No".
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: 'Do you want to block the IP address: ${inputs.chronicleasset_ip}?'
        options:
        - "No"
        - "Yes"
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: Select "Yes" to block the IP address, otherwise select "No".
        type: singleSelect
      sender: ""
      title: Block the IP Address
      totalanswers: 0
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: 'Redirect to the following link in order to decide if the IP address:
          ${inputs.chronicleasset_ip} should be blocked.'
      cc: null
      format: ""
      methods:
      - email
      subject:
        simple: 'Chronicle XSOAR: Block the IP address - ${inputs.chronicleasset_ip}'
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        complex:
          root: inputs.chronicleasset_support_contact
    nexttasks:
      '#none#':
      - "51"
    note: false
    quietmode: 0
    reputationcalc: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Asks the user if the IP address should be blocked.
      id: 929000ab-93fb-4ff0-899e-dec49d81a71a
      iscommand: false
      name: Block the IP Address
      type: collection
      version: -1
    taskid: 929000ab-93fb-4ff0-899e-dec49d81a71a
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -100,
          "y": 710
        }
      }
  "51":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: Answers.0
                root: Block the IP Address
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "57"
      "yes":
      - "85"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the user wants to block the IP address.
      id: cd2a3b25-9666-4ad1-8f04-ff9210916570
      iscommand: false
      name: Is the user willing to block the IP address?
      type: condition
      version: -1
    taskid: cd2a3b25-9666-4ad1-8f04-ff9210916570
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -100,
          "y": 860
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "54"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PotentiallyBlockedIPs
      value:
        complex:
          root: inputs.chronicleasset_ip
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Adds the IP address to the list of potentially blocked IP addresses.
      id: ab528cb9-327a-4d1f-8dfe-b74001497a7b
      iscommand: false
      name: Add the IP address to the list of potentially blocked IP addresses
      script: Set
      type: regular
      version: -1
    taskid: ab528cb9-327a-4d1f-8dfe-b74001497a7b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 240,
          "y": 1355
        }
      }
  "53":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.skip_entity_isolation
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.skip_entity_isolation
          operator: isEqualString
          right:
            value:
              simple: "No"
      label: "no"
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "26"
      "no":
      - "86"
      "yes":
      - "56"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the Skip Entity Isolation input is set to "Yes"
        or "No".
      id: 5e4757c5-5acd-4603-8eeb-6a98b25060a1
      iscommand: false
      name: Is Skip Entity Isolation input set to "Yes" or "No"?
      type: condition
      version: -1
    taskid: 5e4757c5-5acd-4603-8eeb-6a98b25060a1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1290,
          "y": 540
        }
      }
  "54":
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      chroniclepotentiallyblockedip:
        simple: "Yes"
      value:
        complex:
          root: inputs.chronicleasset_value
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the Chronicle Potentially Blocked IP Address indicator field
        to "Yes".
      id: d2a5a1bb-0c81-42b0-8c30-cc51b62cfcec
      iscommand: true
      name: Set the Chronicle Potentially Blocked IP Address field to "Yes"
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: d2a5a1bb-0c81-42b0-8c30-cc51b62cfcec
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 240,
          "y": 1510
        }
      }
  "55":
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      chronicleisolatedip:
        simple: "Yes"
      value:
        complex:
          root: inputs.chronicleasset_value
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the Chronicle Isolated IP Address indicator field to "Yes".
      id: 317772b8-6e2f-457e-8328-37279b0e52a1
      iscommand: true
      name: Set the Chronicle Isolated IP Address field to "Yes"
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: 317772b8-6e2f-457e-8328-37279b0e52a1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -880,
          "y": 1510
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      chronicleisolatedip:
        simple: "No"
      value:
        complex:
          root: inputs.chronicleasset_value
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the Chronicle Isolated IP Address indicator field to "No".
      id: 4d9b7ea4-ca90-4f9c-8d26-d81452403729
      iscommand: true
      name: Set the Chronicle Isolated IP Address field to "No"
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: 4d9b7ea4-ca90-4f9c-8d26-d81452403729
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1290,
          "y": 1510
        }
      }
  "57":
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      chroniclepotentiallyblockedip:
        simple: "No"
      value:
        complex:
          root: inputs.chronicleasset_value
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the Chronicle Potentially Blocked IP Address indicator field
        to "No".
      id: 712b6334-ca92-4d5f-877d-02d8612bf13f
      iscommand: true
      name: Set the Chronicle Potentially Blocked IP Address field to "No"
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: 712b6334-ca92-4d5f-877d-02d8612bf13f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -470,
          "y": 1510
        }
      }
  "59":
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      chronicleisolatedhostname:
        simple: "No"
      value:
        complex:
          root: inputs.chronicleasset_value
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the Chronicle Isolated Host indicator field to "No".
      id: 6e7d7c85-e41d-4842-88b5-5c2adbd74152
      iscommand: true
      name: Set the Chronicle Isolated Host field to "No"
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: 6e7d7c85-e41d-4842-88b5-5c2adbd74152
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1290,
          "y": 1510
        }
      }
  "60":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.chronicleasset_hostname
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "63"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a hostname associated with the ChronicleAsset.
      id: 1a6596a1-1cf8-446b-8d86-6420e1776dbd
      iscommand: false
      name: Is there a hostname associated with the ChronicleAsset?
      type: condition
      version: -1
    taskid: 1a6596a1-1cf8-446b-8d86-6420e1776dbd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 760,
          "y": -90
        }
      }
  "61":
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3398b88b-80bc-42ec-8d7a-4f971280a674
      iscommand: false
      name: IP Address Enrichment
      type: title
      version: -1
    taskid: 3398b88b-80bc-42ec-8d7a-4f971280a674
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 140,
          "y": 80
        }
      }
  "62":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: RiskIQDigitalFootprint
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether there is an active instance of the RiskIQ Digital
        Footprint integration enabled.
      id: f5873ffc-1e88-4865-8935-cb547155fd49
      iscommand: false
      name: Is RiskIQ Digital Footprint integration enabled?
      type: condition
      version: -1
    taskid: f5873ffc-1e88-4865-8935-cb547155fd49
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2850,
          "y": 230
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
      - "62"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6c9917be-1a9a-4d70-8fa4-7b6f2f7d96bb
      iscommand: false
      name: Hostname Enrichment
      type: title
      version: -1
    taskid: 6c9917be-1a9a-4d70-8fa4-7b6f2f7d96bb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 760,
          "y": 80
        }
      }
  "64":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.chronicleasset_ip
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "61"
      - "81"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is an IP address associated with the ChronicleAsset.
      id: 250c6f2e-ba2d-4c37-8836-abb2f4522f22
      iscommand: false
      name: Is there an IP address associated with the ChronicleAsset?
      type: condition
      version: -1
    taskid: 250c6f2e-ba2d-4c37-8836-abb2f4522f22
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 140,
          "y": -90
        }
      }
  "66":
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "67"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Block the IP Address
      subplaybook:
        simple: "no"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Deletes the "Block the IP Address" key from the context in order
        to clear the previous user response for blocking the IP address.
      id: 39ec1619-1194-4fe1-8dcd-3019dd376719
      iscommand: false
      name: Clear the previous user response for blocking the IP address from the
        context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 39ec1619-1194-4fe1-8dcd-3019dd376719
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": -545
        }
      }
  "67":
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "68"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Isolate the IP Address
      subplaybook:
        simple: "no"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Deletes the "Isolate the IP Address" key from the context in order
        to clear the previous user response for isolating the IP address.
      id: fe661155-45df-4666-8a2d-687eb7397e5b
      iscommand: false
      name: Clear the previous user response for isolating the IP address from the
        context
      script: DeleteContext
      type: regular
      version: -1
    taskid: fe661155-45df-4666-8a2d-687eb7397e5b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": -395
        }
      }
  "68":
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "64"
      - "60"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Isolate the Hostname
      subplaybook:
        simple: "no"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Deletes the "Isolate the Hostname" key from the context in order
        to clear the previous user response for isolating the hostname.
      id: 8a06b909-6a0e-4530-8e61-215e125a9658
      iscommand: false
      name: Clear the previous user response for isolating the hostname from the context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 8a06b909-6a0e-4530-8e61-215e125a9658
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": -265
        }
      }
  "69":
    continueonerrortype: ""
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d607f55d-d115-4bde-8cdf-550972ea9266
      iscommand: false
      name: Block the IP Address
      type: title
      version: -1
    taskid: d607f55d-d115-4bde-8cdf-550972ea9266
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 140,
          "y": 405
        }
      }
  "71":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: Endpoint.is_isolated
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: PaloAltoNetworksXDR.Endpoint.ip
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: inputs.chronicleasset_ip
                root: PaloAltoNetworksXDR
          operator: isEqualString
          right:
            value:
              simple: AGENT_ISOLATED
      label: "yes"
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "56"
      "yes":
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if the IP address is isolated.
      id: b208a050-4ec6-4c0a-8d56-081c8d79f008
      iscommand: false
      name: Is the IP Address isolated?
      type: condition
      version: -1
    taskid: b208a050-4ec6-4c0a-8d56-081c8d79f008
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -880,
          "y": 1200
        }
      }
  "78":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: Endpoint.is_isolated
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: PaloAltoNetworksXDR.Endpoint.endpoint_name
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: inputs.chronicleasset_hostname
                root: PaloAltoNetworksXDR
          operator: isEqualString
          right:
            value:
              simple: AGENT_ISOLATED
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: IsIsolated
                root: Cybereason
          operator: isEqualString
          right:
            value:
              simple: "true"
        - left:
            iscontext: true
            value:
              complex:
                accessor: Sensors.Isolated
                root: CbResponse
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "78"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "59"
      "yes":
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if the hostname is isolated.
      id: 30b9624b-dd47-4a32-8a22-0405b3b5410b
      iscommand: false
      name: Is the Hostname isolated?
      type: condition
      version: -1
    taskid: 30b9624b-dd47-4a32-8a22-0405b3b5410b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 660,
          "y": 1200
        }
      }
  "79":
    continueonerrortype: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 085a857f-6800-45e9-8340-efe0cd078abe
      iscommand: false
      name: Isolate the Hostname
      type: title
      version: -1
    taskid: 085a857f-6800-45e9-8340-efe0cd078abe
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 760,
          "y": 405
        }
      }
  "80":
    continueonerrortype: ""
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f98e6946-a80b-43bd-8433-f2f10a3a33be
      iscommand: false
      name: Isolate the IP Address
      type: title
      version: -1
    taskid: f98e6946-a80b-43bd-8433-f2f10a3a33be
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1290,
          "y": 405
        }
      }
  "81":
    continueonerrortype: ""
    id: "81"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 23d62731-b17e-4c03-8733-40702b6c5a05
      iscommand: false
      name: IP Address reputation check
      type: title
      version: -1
    taskid: 23d62731-b17e-4c03-8733-40702b6c5a05
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2300,
          "y": 80
        }
      }
  "85":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: FortiGate
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: palo_alto_networks_pan_os_edl_management
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Panorama
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Check Point
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Zscaler
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Palo Alto Minemeld
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "85"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "57"
      "yes":
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether there is an active instance of any integration that
        can be used to block the IP address.
      id: e04b567d-7e0c-447c-8460-cecc3d5b48c4
      iscommand: false
      name: Is there an enabled integration for blocking the IP address?
      type: condition
      version: -1
    taskid: e04b567d-7e0c-447c-8460-cecc3d5b48c4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 240,
          "y": 1030
        }
      }
  "86":
    continueonerrortype: ""
    id: "86"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "71"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        complex:
          root: inputs.chronicleasset_ip
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: ca21c3fa-a582-4093-82e8-a6f3ed3fb547
      iscommand: false
      name: Isolate Endpoint - Generic
      playbookId: Isolate Endpoint - Generic
      type: playbook
      version: -1
    taskid: ca21c3fa-a582-4093-82e8-a6f3ed3fb547
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -880,
          "y": 1030
        }
      }
  "87":
    continueonerrortype: ""
    id: "87"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "78"
    note: false
    quietmode: 0
    scriptarguments:
      Hostname:
        complex:
          root: inputs.chronicleasset_hostname
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 69771a03-8f1a-4322-8321-094088a3058c
      iscommand: false
      name: Isolate Endpoint - Generic
      playbookId: Isolate Endpoint - Generic
      type: playbook
      version: -1
    taskid: 69771a03-8f1a-4322-8321-094088a3058c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 660,
          "y": 1030
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "18_16_yes": 0.56,
      "18_2_#default#": 0.13,
      "22_59_#default#": 0.26,
      "27_56_#default#": 0.44,
      "41_57_no": 0.32,
      "44_59_yes": 0.69,
      "51_57_#default#": 0.2,
      "51_85_yes": 0.59,
      "53_56_yes": 0.33,
      "53_86_no": 0.86,
      "60_2_#default#": 0.11,
      "60_63_yes": 0.51,
      "62_2_#default#": 0.1,
      "64_2_#default#": 0.12,
      "64_61_yes": 0.82,
      "71_56_#default#": 0.53,
      "78_59_#default#": 0.65,
      "85_29_yes": 0.34,
      "85_57_#default#": 0.38
    },
    "paper": {
      "dimensions": {
        "height": 2440,
        "width": 5530,
        "x": -2300,
        "y": -680
      }
    }
  }
