playbook-Phishing_Investigation_-_Generic_v2_-_Campaign_Test.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: Tests that similar phishing incidents create a phishing campaign incident.
id: Phishing Investigation - Generic v2 - Campaign Test
inputs:
- description: ""
  key: PhishingPlaybookName
  playbookInputQuery: null
  required: false
  value:
    simple: Phishing Investigation - Generic v2
name: Phishing Investigation - Generic v2 - Campaign Test
outputs: []
sourceplaybookid: df6fda52-1f59-41ba-85f9-8b036d23d695
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d10aec77-2709-4564-819a-aa557fa4ac39
      iscommand: false
      name: ""
      version: -1
    taskid: d10aec77-2709-4564-819a-aa557fa4ac39
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "59"
      - "60"
      - "66"
      - "67"
      - "57"
      - "58"
      - "61"
      - "62"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: 2f9f519e-7fb2-42a9-8d78-4ad19edc5d52
      iscommand: false
      name: Delete context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 2f9f519e-7fb2-42a9-8d78-4ad19edc5d52
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 210
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "65"
    note: false
    quietmode: 0
    scriptarguments:
      emailbody:
        simple: |-
          We've detected suspicious activity from your PayPal account. Please take action and verify your account: www.paypal.com/account/verify
          If you have any questions, send us an email at support@paypaI.com.
      emailfrom:
        simple: paypalsupport@paypaI.com
      emailhtml:
        simple: <p>We've detected suspicious activity from your PayPal account. Please
          take action and verify your account:</p><p><a href="http://www.lizsol.com">www.paypal.com/account/verify</a></p>
      emailsubject:
        simple: Verify your PayPal account
      emailto:
        simple: victim-test6@demistodev.onmicrosoft.com
      ignore-outputs:
        simple: "false"
      labels:
        simple: '[{"Email/from":"testusercampaign@test.com"}]'
      name:
        complex:
          accessor: id
          root: incident
          transformers:
          - args:
              prefix:
                value:
                  simple: 'Verify your PayPal account '
              suffix:
                iscontext: true
            operator: concat
      type:
        simple: Phishing
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.create.inc
      id: a7b8d9d1-49c7-48dc-89fb-70b7ccb5f6a0
      iscommand: true
      name: Create new low similarity incident victim 6
      script: Builtin|||createNewIncident
      type: regular
      version: -1
    taskid: a7b8d9d1-49c7-48dc-89fb-70b7ccb5f6a0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 820,
          "y": 1825
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "77"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "5"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sleep for X seconds
      id: f064397d-bff1-428d-8858-431728ddccae
      iscommand: false
      name: Sleep to let incidents settle down
      script: Sleep
      type: regular
      version: -1
    taskid: f064397d-bff1-428d-8858-431728ddccae
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 720
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    scriptarguments:
      incidentId:
        complex:
          root: CreatedIncidentID
          transformers:
          - operator: uniq
      name:
        complex:
          root: inputs.PhishingPlaybookName
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.playbook
      id: cc948d12-fd22-4029-82fd-7ec05b3841c6
      iscommand: true
      name: Change to phishing playbook
      script: Builtin|||setPlaybook
      type: regular
      version: -1
    taskid: cc948d12-fd22-4029-82fd-7ec05b3841c6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1235
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "65"
    note: false
    quietmode: 0
    scriptarguments:
      emailbody:
        simple: |-
          We've detected suspicious activity from your PayPal account. Please take action and verify your account: www.paypal.com/account/verify
          If you have any questions, send us an email at support@paypaI.com.
      emailfrom:
        simple: paypalsupport@paypaI.com
      emailhtml:
        simple: <p>We've detected suspicious activity from your PayPal account. Please
          take action and verify your account:</p><p><a href="http://www.lizsol.com">www.paypal.com/account/verify</a></p>
      emailsubject:
        simple: Verify your PayPal account
      emailto:
        simple: victim-test1@demistodev.onmicrosoft.com
      ignore-outputs:
        simple: "false"
      labels:
        simple: '[{"Email/from":"testusercampaign@test.com"}]'
      name:
        complex:
          accessor: id
          root: incident
          transformers:
          - args:
              prefix:
                value:
                  simple: 'Verify your PayPal account '
              suffix:
                iscontext: true
            operator: concat
      type:
        simple: Phishing
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.create.inc
      id: 1814ab1c-95a0-408b-8bce-0bba1f6f5ea7
      iscommand: true
      name: Create new low similarity incident victim 1
      script: Builtin|||createNewIncident
      type: regular
      version: -1
    taskid: 1814ab1c-95a0-408b-8bce-0bba1f6f5ea7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 130,
          "y": 1825
        }
      }
  "57":
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "47"
    note: false
    quietmode: 0
    scriptarguments:
      emailbody:
        simple: |-
          You should verify your paypal account immediately
          Dear user,
          We've detected suspicious activity originating from your PayPal account. Please take action and verify your account immediately: www.paypal.com/account/verify
      emailfrom:
        simple: paypalsupport@paypaI.com
      emailhtml:
        simple: '<div><h2 style="color: #2e6c80;">You should verify your paypal account
          immediately</h2></div><div><p> Dear user,<br>We''ve detected suspicious
          activity originating from your PayPal account. Please take action and verify
          your account immediately:</p><p><a href="http://www.lizsol.com">www.paypal.com/account/verify</a></p></div>'
      emailsubject:
        simple: Verify your PayPal account now!
      emailto:
        simple: victim-test7@demistodev.onmicrosoft.com
      labels:
        simple: '[{"Email/from":"testusercampaign@test.com"}]'
      name:
        complex:
          accessor: id
          root: incident
          transformers:
          - args:
              prefix:
                value:
                  simple: 'Verify your PayPal account '
              suffix: {}
            operator: concat
      type:
        simple: Phishing
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.create.inc
      id: dbad9c74-1eb7-4d7a-8772-538b68461041
      iscommand: true
      name: Create new incident victim 7
      script: Builtin|||createNewIncident
      type: regular
      version: -1
    taskid: dbad9c74-1eb7-4d7a-8772-538b68461041
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 410
        }
      }
  "58":
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "47"
    note: false
    quietmode: 0
    scriptarguments:
      emailbody:
        simple: |-
          You should verify your paypal account immediately
          Dear user,
          We've detected suspicious activity originating from your PayPal account. Please take action and verify your account immediately: www.paypal.com/account/verify
      emailfrom:
        simple: paypalsupport@paypaI.com
      emailhtml:
        simple: '<div><h2 style="color: #2e6c80;">You should verify your paypal account
          immediately</h2></div><div><p> Dear user,<br>We''ve detected suspicious
          activity originating from your PayPal account. Please take action and verify
          your account immediately:</p><p><a href="http://www.lizsol.com">www.paypal.com/account/verify</a></p></div>'
      emailsubject:
        simple: Verify your PayPal account now!
      emailto:
        simple: victim-test5@demistodev.onmicrosoft.com
      labels:
        simple: '[{"Email/from":"testusercampaign@test.com"}]'
      name:
        complex:
          accessor: id
          root: incident
          transformers:
          - args:
              prefix:
                value:
                  simple: 'Verify your PayPal account '
              suffix: {}
            operator: concat
      type:
        simple: Phishing
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.create.inc
      id: 0d4dc783-3900-4fd5-8b07-04b8dfe0cb36
      iscommand: true
      name: Create new incident victim 5
      script: Builtin|||createNewIncident
      type: regular
      version: -1
    taskid: 0d4dc783-3900-4fd5-8b07-04b8dfe0cb36
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -230,
          "y": 420
        }
      }
  "59":
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "47"
    note: false
    quietmode: 0
    scriptarguments:
      emailbody:
        simple: |-
          You should verify your paypal account immediately
          Dear user,
          We've detected suspicious activity originating from your PayPal account. Please take action and verify your account immediately: www.paypal.com/account/verify
      emailfrom:
        simple: paypal-support@paypaI.com
      emailhtml:
        simple: '<div><h2 style="color: #2e6c80;">You should verify your paypal account
          immediately</h2></div><div><p> Dear user,<br>We''ve detected suspicious
          activity originating from your PayPal account. Please take action and verify
          your account immediately:</p><p><a href="http://www.lizsol.com">www.paypal.com/account/verify</a></p></div>'
      emailsubject:
        simple: Verify your PayPal account now!
      emailto:
        simple: victim-test4@demistodev.onmicrosoft.com
      labels:
        simple: '[{"Email/from":"testusercampaign@test.com"}]'
      name:
        complex:
          accessor: id
          root: incident
          transformers:
          - args:
              prefix:
                value:
                  simple: 'Verify your PayPal account '
              suffix: {}
            operator: concat
      type:
        simple: Phishing
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.create.inc
      id: f4dda8de-a5fc-4f20-853e-d810f9e8d139
      iscommand: true
      name: Create new incident victim 4 (different sender)
      script: Builtin|||createNewIncident
      type: regular
      version: -1
    taskid: f4dda8de-a5fc-4f20-853e-d810f9e8d139
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -690,
          "y": 420
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "47"
    note: false
    quietmode: 0
    scriptarguments:
      emailbody:
        simple: |-
          You should verify your paypal account immediately
          Dear user,
          We've detected suspicious activity originating from your PayPal account. Please take action and verify your account immediately: www.paypal.com/account/verify
      emailfrom:
        simple: support@paypaI.com
      emailhtml:
        simple: '<div><h2 style="color: #2e6c80;">You should verify your paypal account
          immediately</h2></div><div><p> Dear user,<br>We''ve detected suspicious
          activity originating from your PayPal account. Please take action and verify
          your account immediately:</p><p><a href="http://www.lizsol.com">www.paypal.com/account/verify</a></p></div>'
      emailsubject:
        simple: Verify your PayPal account now!
      emailto:
        simple: victim-test3@demistodev.onmicrosoft.com
      labels:
        simple: '[{"Email/from":"testuser1@paloaltonetworks.com"}]'
      name:
        complex:
          accessor: id
          root: incident
          transformers:
          - args:
              prefix:
                value:
                  simple: 'Verify your PayPal account '
              suffix: {}
            operator: concat
      type:
        simple: Phishing
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.create.inc
      id: a83da553-fffa-43b3-8517-84eb35cd264e
      iscommand: true
      name: Create new incident victim 3 (different sender)
      script: Builtin|||createNewIncident
      type: regular
      version: -1
    taskid: a83da553-fffa-43b3-8517-84eb35cd264e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1120,
          "y": 420
        }
      }
  "61":
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "47"
    note: false
    quietmode: 0
    scriptarguments:
      emailbody:
        simple: |-
          You should verify your paypal account immediately
          Dear user,
          We've detected suspicious activity originating from your PayPal account. Please take action and verify your account immediately: www.paypal.com/account/verify
      emailfrom:
        simple: paypalsupport@paypaI.com
      emailhtml:
        simple: '<div><h2 style="color: #2e6c80;">You should verify your paypal account
          immediately</h2></div><div><p> Dear user,<br>We''ve detected suspicious
          activity originating from your PayPal account. Please take action and verify
          your account immediately:</p><p><a href="http://www.lizsol.com">www.paypal.com/account/verify</a></p></div>'
      emailsubject:
        simple: Verify your PayPal account now!
      emailto:
        simple: victim-test8@demistodev.onmicrosoft.com
      labels:
        simple: '[{"Email/from":"testusercampaign@test.com"}]'
      name:
        complex:
          accessor: id
          root: incident
          transformers:
          - args:
              prefix:
                value:
                  simple: 'Verify your PayPal account '
              suffix: {}
            operator: concat
      type:
        simple: Phishing
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.create.inc
      id: 58461da8-a047-4b44-8385-024a69743375
      iscommand: true
      name: Create new incident victim 1
      script: Builtin|||createNewIncident
      type: regular
      version: -1
    taskid: 58461da8-a047-4b44-8385-024a69743375
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1750,
          "y": 410
        }
      }
  "62":
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "47"
    note: false
    quietmode: 0
    scriptarguments:
      emailbody:
        simple: |-
          You should verify your paypal account immediately
          Dear user,
          We've detected suspicious activity originating from your PayPal account. Please take action and verify your account immediately: www.paypal.com/account/verify
      emailfrom:
        simple: paypalsupport@paypaI.com
      emailhtml:
        simple: '<div><h2 style="color: #2e6c80;">You should verify your paypal account
          immediately</h2></div><div><p> Dear user,<br>We''ve detected suspicious
          activity originating from your PayPal account. Please take action and verify
          your account immediately:</p><p><a href="http://www.lizsol.com">www.paypal.com/account/verify</a></p></div>'
      emailsubject:
        simple: Verify your PayPal account now!
      emailto:
        simple: victim-test9@demistodev.onmicrosoft.com
      labels:
        simple: '[{"Email/from":"testusercampaign@test.com"}]'
      name:
        complex:
          accessor: id
          root: incident
          transformers:
          - args:
              prefix:
                value:
                  simple: 'Verify your PayPal account '
              suffix: {}
            operator: concat
      type:
        simple: Phishing
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.create.inc
      id: 89221398-88f0-4ddf-8071-48666550ad57
      iscommand: true
      name: Create new incident victim 1
      script: Builtin|||createNewIncident
      type: regular
      version: -1
    taskid: 89221398-88f0-4ddf-8071-48666550ad57
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2210,
          "y": 410
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "68"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "30"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: 497b5227-062c-4a5c-8f23-56e3f185c572
      iscommand: false
      name: Sleep 30 sec
      script: Sleep
      type: regular
      version: -1
    taskid: 497b5227-062c-4a5c-8f23-56e3f185c572
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1440
        }
      }
  "64":
    continueonerrortype: ""
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "69"
    note: false
    quietmode: 0
    scriptarguments:
      incidentId:
        complex:
          root: CreatedIncidentID
          transformers:
          - operator: uniq
      name:
        complex:
          root: inputs.PhishingPlaybookName
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.playbook
      id: 20b01e36-b4c5-402a-8bc3-82fdc6093796
      iscommand: true
      name: Change to phishing playbook
      script: Builtin|||setPlaybook
      type: regular
      version: -1
    taskid: 20b01e36-b4c5-402a-8bc3-82fdc6093796
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2190
        }
      }
  "65":
    continueonerrortype: ""
    id: "65"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "64"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          root: CreatedIncidentID
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.investigate
      id: ec45d617-ced9-4d9a-84d1-82890e92f385
      iscommand: true
      name: Investigate the incidents
      script: Builtin|||investigate
      type: regular
      version: -1
    taskid: ec45d617-ced9-4d9a-84d1-82890e92f385
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2010
        }
      }
  "66":
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "47"
    note: false
    quietmode: 0
    scriptarguments:
      emailbody:
        simple: |-
          Dear user,
          We've detected suspicious activity originating from your PayPal account. Please take action and verify your account immediately: www.paypal.com/account/verify
      emailfrom:
        simple: paypalsupport@paypaI.com
      emailhtml:
        simple: <div></div><div><p> Dear user,<br>We've detected suspicious activity
          originating from your PayPal account. Please take action and verify your
          account immediately:</p><p><a href="http://www.lizsol.com">www.paypal.com/account/verify</a></p></div>
      emailsubject:
        simple: Verify your PayPal account now!
      emailto:
        simple: victim-test9@demistodev.onmicrosoft.com
      labels:
        simple: '[{"Email/from":"testusercampaign@test.com"}]'
      name:
        complex:
          accessor: id
          root: incident
          transformers:
          - args:
              prefix:
                value:
                  simple: 'Verify your PayPal account '
              suffix: {}
            operator: concat
      type:
        simple: Phishing
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.create.inc
      id: 8cbf9137-14bb-4e56-89e2-f00af817f081
      iscommand: true
      name: Create new incident victim 9
      script: Builtin|||createNewIncident
      type: regular
      version: -1
    taskid: 8cbf9137-14bb-4e56-89e2-f00af817f081
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 200,
          "y": 420
        }
      }
  "67":
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "47"
    note: false
    quietmode: 0
    scriptarguments:
      emailbody:
        simple: |-
          Dear user,
          We've detected suspicious activity originating from your PayPal account. Please take action and verify your account immediately: www.paypal.com/account/verify
      emailfrom:
        simple: paypalsupport@paypaI.com
      emailhtml:
        simple: '<div><h2 style="color: #2e6c80;">You should verify your paypal account
          immediately</h2></div><div><p> Dear user,<br>We''ve detected suspicious
          activity originating from your PayPal account. Please take action and verify
          your account immediately:</p><p><a href="http://www.lizsol.com">www.paypal.com/account/verify</a></p></div>'
      emailsubject:
        simple: Verify your PayPal account now!
      emailto:
        simple: victim-test10@demistodev.onmicrosoft.com
      labels:
        simple: '[{"Email/from":"testusercampaign@test.com"}]'
      name:
        complex:
          accessor: id
          root: incident
          transformers:
          - args:
              prefix:
                value:
                  simple: 'Verify your PayPal account '
              suffix: {}
            operator: concat
      type:
        simple: Phishing
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.create.inc
      id: 8f326a48-c705-4a73-8cda-053e2790afcc
      iscommand: true
      name: Create new incident victim 10
      script: Builtin|||createNewIncident
      type: regular
      version: -1
    taskid: 8f326a48-c705-4a73-8cda-053e2790afcc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 750,
          "y": 420
        }
      }
  "68":
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
      - "45"
    note: false
    quietmode: 0
    scriptarguments:
      all:
        simple: "no"
      key:
        simple: CreatedIncidentID
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: 54c38d1e-44bd-4b9c-887b-fea654098078
      iscommand: false
      name: Delete previously created IDs
      script: DeleteContext
      type: regular
      version: -1
    taskid: 54c38d1e-44bd-4b9c-887b-fea654098078
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1600
        }
      }
  "69":
    continueonerrortype: ""
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "70"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      execution-timeout:
        simple: "1000"
      seconds:
        simple: "300"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: be580130-096d-49cd-8d9b-eb53825d5093
      iscommand: false
      name: Wait for a 5 minutes
      script: Sleep
      type: regular
      version: -1
    taskid: be580130-096d-49cd-8d9b-eb53825d5093
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2390
        }
      }
  "70":
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "71"
    note: false
    quietmode: 0
    scriptarguments:
      fromdate:
        complex:
          accessor: occurred
          root: incident
          transformers:
          - args:
              variation:
                value:
                  simple: 1 day ago
            operator: ModifyDateTime
      type:
        simple: Phishing Campaign
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Searches Demisto incidents
      id: aa4b1fa5-b242-43ae-892a-2b04987e96c9
      iscommand: false
      name: Search for a campaign incident
      script: SearchIncidentsV2
      type: regular
      version: -1
    taskid: aa4b1fa5-b242-43ae-892a-2b04987e96c9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2590
        }
      }
  "71":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: id
                root: foundIncidents
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "73"
      "yes":
      - "74"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 90c60578-7825-413f-8843-b9bbfd68bbdd
      iscommand: false
      name: Was a campaign incident created?
      type: condition
      version: -1
    taskid: 90c60578-7825-413f-8843-b9bbfd68bbdd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2760
        }
      }
  "72":
    continueonerrortype: ""
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9afbbff7-3095-4b97-8235-3040b839881e
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 9afbbff7-3095-4b97-8235-3040b839881e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 470,
          "y": 3430
        }
      }
  "73":
    continueonerrortype: ""
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: |-
          An incident of type "Phishing Campaign" was not created. This could be, but is not limited to, a problem with the FindEmailCampaign script.
          First check if similar phishing incidents were found, then check if one of the recent ones found a campaign and created a campaign incident.
          Also - it's possible that the phishing playbook took more than the time we waited until it found and created a campaign. If a Phishing Campaign incident exists on the server now, this can be ignored, and you can consider increasing the sleep time in this test before searching for campaigns.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: d46d46a6-27a0-4f69-8d57-a751b4d47801
      iscommand: false
      name: Error - a campaign was not created
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: d46d46a6-27a0-4f69-8d57-a751b4d47801
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1330,
          "y": 3260
        }
      }
  "74":
    continueonerrortype: ""
    id: "74"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "75"
    note: false
    quietmode: 0
    scriptarguments:
      get_key:
        simple: EmailCampaign
      incident_id:
        complex:
          accessor: id
          filters:
          - - left:
                iscontext: true
                value:
                  simple: foundIncidents.type
              operator: isEqualString
              right:
                value:
                  simple: Phishing Campaign
          root: foundIncidents
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets a value from the specified incident's context.
      id: bf2008ea-71d2-4da9-8dd0-163cd390dcbe
      iscommand: false
      name: Get campaign context
      script: GetByIncidentId
      type: regular
      version: -1
    taskid: bf2008ea-71d2-4da9-8dd0-163cd390dcbe
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 470,
          "y": 2950
        }
      }
  "75":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: incidents
                root: EmailCampaign
                transformers:
                - operator: count
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "75"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "76"
      "yes":
      - "72"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 23d93ed6-802f-460b-8ff4-1bc83483f6e7
      iscommand: false
      name: Does the campaign context contain incident data?
      type: condition
      version: -1
    taskid: 23d93ed6-802f-460b-8ff4-1bc83483f6e7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 470,
          "y": 3130
        }
      }
  "76":
    continueonerrortype: ""
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: |-
          The phishing campaign incidents lacks the EmailCampaign context key, or the key is empty. This points to an issue with something in the Detect & Manage Phishing Campaigns playbook.
          The playbook was able to create a campaign incident, but was not able to set it with context data. This may mean that there is a permission issue, or that something broke in the SetPhishingCampaignDetails script which the playbook should run.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 2406239b-20f5-46a1-8faf-bdeda22f283f
      iscommand: false
      name: Campaign lacks data
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 2406239b-20f5-46a1-8faf-bdeda22f283f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -220,
          "y": 3300
        }
      }
  "77":
    continueonerrortype: ""
    id: "77"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "78"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          root: CreatedIncidentID
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.investigate
      id: ed57b4b3-c880-4beb-87ba-147293c3c1fa
      iscommand: true
      name: Investigate the incidents
      script: Builtin|||investigate
      type: regular
      version: -1
    taskid: ed57b4b3-c880-4beb-87ba-147293c3c1fa
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 880
        }
      }
  "78":
    continueonerrortype: ""
    id: "78"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "5"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sleep for X seconds
      id: 8debccad-d235-4785-8820-471482c22272
      iscommand: false
      name: Sleep to let incidents settle down
      script: Sleep
      type: regular
      version: -1
    taskid: 8debccad-d235-4785-8820-471482c22272
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1050
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3445,
        "width": 3710,
        "x": -1120,
        "y": 50
      }
    }
  }
