playbook-MDE_-_Host_Advanced_Hunting_For_Network_Activity.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: |-
  This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
  This playbook uses the Microsoft Defender For Endpoint Advanced Hunting feature to hunt for host network activity.
id: MDE - Host Advanced Hunting For Network Activity
inputs:
- description: A comma-separated list of IPs to hunt.
  key: IP
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: detectedips
      root: incident
      transformers:
      - operator: uniq
- description: A comma-separated list of host names to hunt.
  key: DeviceName
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: hostnames
      root: incident
      transformers:
      - operator: uniq
- description: A comma-separated list of file names to hunt.
  key: FileName
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: filenames
      root: incident
      transformers:
      - operator: uniq
- description: A comma-separated list of device IDs to hunt.
  key: DeviceID
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: agentsid
      root: incident
      transformers:
      - operator: uniq
- description: A comma-separated list of file MD5 hashes to hunt.
  key: FileMd5
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: filemd5
      root: incident
      transformers:
      - operator: uniq
- description: A comma-separated list of file SHA256 hashes to hunt.
  key: FileSha256
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: filesha256
      root: incident
      transformers:
      - operator: uniq
- description: A comma-separated list of file SHA1 hashes to hunt.
  key: FileSha1
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: filesha1
      root: incident
      transformers:
      - operator: uniq
name: MDE - Host Advanced Hunting For Network Activity
outputs:
- contextPath: MicrosoftATP.HuntNetworkConnections.Result
  description: The query results for Hunt Network Connections.
  type: unknown
- contextPath: MicrosoftATP.HuntNetworkConnections.Result.external_addresses
  description: The query results for external_addresses query_purpose.
- contextPath: MicrosoftATP.HuntNetworkConnections.Result.dns_query
  description: The query results for dns_query query_purpose.
- contextPath: MicrosoftATP.HuntNetworkConnections.Result.encoded_commands
  description: The query results for encoded_commands query_purpose.
- contextPath: MicrosoftATP.HuntLateralMovementEvidence.Result
  description: The query results for Hunt Lateral Movement Evidence.
  type: unknown
- contextPath: MicrosoftATP.HuntLateralMovementEvidence.Result.network_connections
  description: The query results for network_connections query_purpose.
- contextPath: MicrosoftATP.HuntLateralMovementEvidence.Result.smb_connections
  description: The query results for smb_connections query_purpose.
- contextPath: MicrosoftATP.HuntLateralMovementEvidence.Result.credential_dumping
  description: The query results for credential_dumping query_purpose.
- contextPath: MicrosoftATP.HuntLateralMovementEvidence.Result.management_connection
  description: The query results for management_connection query_purpose.
- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result
  description: The query results for Hunt Persistence Evidence.
  type: unknown
- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.scheduled_job
  description: The query results for scheduled_job query_purpose.
- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.registry_entry
  description: The query results for registry_entry query_purpose.
- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.startup_folder_changes
  description: The query results for startup_folder_changes query_purpose.
- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.new_service_created
  description: The query results for new_service_created query_purpose.
- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.service_updated
  description: The query results for service_updated query_purpose.
- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.file_replaced
  description: The query results for file_replaced query_purpose.
- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.new_user
  description: The query results for new_user query_purpose.
- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.new_group
  description: The query results for new_group query_purpose.
- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.group_user_change
  description: The query results for group_user_change query_purpose.
- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.local_firewall_change
  description: The query results for local_firewall_change query_purpose.
- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.host_file_change
  description: The query results for host_file_change query_purpose.
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4abbc75b-3219-40dd-80fd-cfd7400a1685
      iscommand: false
      name: ""
      version: -1
    taskid: 4abbc75b-3219-40dd-80fd-cfd7400a1685
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 2720,
          "y": 220
        }
      }
  "1":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Results on File External Connections query in Advanced Hunting feature
          - Microsoft Defender For Endpoint
      tags:
        simple: File External Connections
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      device_id:
        simple: ${inputs.DeviceID}
      query_operation:
        simple: and
      query_purpose:
        simple: external_addresses
      sha256:
        simple: ${inputs.FileSha256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Network connections investigation. By selecting a “query_purpose”
        argument, a designated query template will be used.
      id: 68707726-61ee-496f-8761-6e6e9f31c5d0
      iscommand: true
      name: Is there any network activity initiated by the file?
      script: '|||microsoft-atp-advanced-hunting-network-connections'
      type: regular
      version: -1
    taskid: 68707726-61ee-496f-8761-6e6e9f31c5d0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4080,
          "y": 890
        }
      }
  "2":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Results on Remote Connections query in Advanced Hunting feature -
          Microsoft Defender For Endpoint
      tags:
        simple: Remote Connections
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      device_id:
        simple: ${inputs.DeviceID}
      device_name:
        simple: ${inputs.DeviceName}
      query_purpose:
        simple: smb_connections
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there evidence of attempted lateral movement? By selecting a
        “query_purpose” argument, a designated query template will be used.
      id: 817ef696-aa81-4366-80be-fdaaeb8ddcbb
      iscommand: true
      name: Any SMB connections from the host?
      script: '|||microsoft-atp-advanced-hunting-lateral-movement-evidence'
      type: regular
      version: -1
    taskid: 817ef696-aa81-4366-80be-fdaaeb8ddcbb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1460,
          "y": 860
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieves an alert by a specific alert ID. Note - If the alert
        ID is not part of the results, it was not found.
      id: a41e56d3-4fca-46e8-8e89-d246fc375031
      iscommand: false
      name: File Network Actions
      type: title
      version: -1
    taskid: a41e56d3-4fca-46e8-8e89-d246fc375031
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 4300,
          "y": 560
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0b03e3a4-8c94-4016-8cd7-50d94395dc0c
      iscommand: false
      name: Network Connections
      type: title
      version: -1
    taskid: 0b03e3a4-8c94-4016-8cd7-50d94395dc0c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2180,
          "y": 360
        }
      }
  "5":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Results on Remote Connections query in Advanced Hunting feature -
          Microsoft Defender For Endpoint
      tags:
        simple: Remote Connections
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      device_id:
        simple: ${inputs.DeviceID}
      device_name:
        simple: ${inputs.DeviceName}
      query_purpose:
        simple: management_connection
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there evidence of attempted lateral movement? By selecting a
        “query_purpose” argument, a designated query template will be used.
      id: 283d4a0a-627f-4994-8275-fac589a3ec2a
      iscommand: true
      name: Other RDP atempts?
      script: '|||microsoft-atp-advanced-hunting-lateral-movement-evidence'
      type: regular
      version: -1
    taskid: 283d4a0a-627f-4994-8275-fac589a3ec2a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1880,
          "y": 860
        }
      }
  "6":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Results on Enumeration of Network Shares query in Advanced Hunting
          feature - Microsoft Defender For Endpoint
      tags:
        simple: Enumeration of Network Shares
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    scriptarguments:
      device_id:
        simple: ${inputs.DeviceID}
      device_name:
        simple: ${inputs.DeviceName}
      query_purpose:
        simple: smb_connections
      remote_ip_count:
        simple: "10"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there evidence of attempted lateral movement. By selecting a
        “query_purpose” argument, a designated query template will be used.
      id: 04613e25-0214-4225-8b2b-3d91f433711a
      iscommand: true
      name: Enumeration of Network Shares
      script: '|||microsoft-atp-advanced-hunting-lateral-movement-evidence'
      type: regular
      version: -1
    taskid: 04613e25-0214-4225-8b2b-3d91f433711a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2710,
          "y": 845
        }
      }
  "7":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Results on Remote Connections query in Advanced Hunting feature -
          Microsoft Defender For Endpoint
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      device_id:
        simple: ${inputs.DeviceID}
      device_name:
        simple: ${inputs.DeviceName}
      query_purpose:
        simple: host_file_change
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there evidence of persistence? By selecting a “query_purpose”
        argument, a designated query template will be used.
      id: 8d86fd0c-6c9a-4aa8-82db-f842ed36ca87
      iscommand: true
      name: hosts File Modification?
      script: '|||microsoft-atp-advanced-hunting-persistence-evidence'
      type: regular
      version: -1
    taskid: 8d86fd0c-6c9a-4aa8-82db-f842ed36ca87
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3200,
          "y": 845
        }
      }
  "8":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Results on Local FW Rules Change query in Advanced Hunting feature
          - Microsoft Defender For Endpoint
      tags:
        simple: Local FW Rules Change
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      device_id:
        simple: ${inputs.DeviceID}
      device_name:
        simple: ${inputs.DeviceName}
      query_purpose:
        simple: local_firewall_change
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there evidence of persistence? By selecting a “query_purpose”
        argument, a designated query template will be used.
      id: 5fd7cecc-e698-4c5f-8775-d57f44f21a8e
      iscommand: true
      name: Any Change in Local FW rules?
      script: '|||microsoft-atp-advanced-hunting-persistence-evidence'
      type: regular
      version: -1
    taskid: 5fd7cecc-e698-4c5f-8775-d57f44f21a8e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2310,
          "y": 845
        }
      }
  "9":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Results on DNS Requests query in Advanced Hunting feature - Microsoft
          Defender For Endpoint
      tags:
        simple: DNS Requests
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      device_id:
        simple: ${inputs.DeviceID}
      query_operation:
        simple: and
      query_purpose:
        simple: dns_query
      sha256:
        simple: ${inputs.FileSha256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Network connections investigation. By selecting a “query_purpose”
        argument, a designated query template will be used.
      id: 81761a4a-187b-4baf-8eb2-bf8870d82820
      iscommand: true
      name: Are there any DNS requests initiated?
      script: '|||microsoft-atp-advanced-hunting-network-connections'
      type: regular
      version: -1
    taskid: 81761a4a-187b-4baf-8eb2-bf8870d82820
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1230,
          "y": 1180
        }
      }
  "10":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: MicrosoftATP.HuntNetworkConnections.Result.external_addresses
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was there any traffic?
      id: 7276a3f3-47e0-4e66-88cf-215b350de320
      iscommand: false
      name: Was there any traffic?
      type: condition
      version: -1
    taskid: 7276a3f3-47e0-4e66-88cf-215b350de320
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4080,
          "y": 1190
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          accessor: RemoteIP
          root: MicrosoftATP.HuntNetworkConnections.Result.external_addresses
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Checks the reputation of an IP address.
      id: 621ad97e-4a79-4a80-82b2-722e8a011bf2
      iscommand: true
      name: Enrich IPs
      script: '|||ip'
      type: regular
      version: -1
    taskid: 621ad97e-4a79-4a80-82b2-722e8a011bf2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3630,
          "y": 1670
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Indicators.Score
          operator: greaterThanOrEqual
          right:
            value:
              simple: "2"
      label: "yes"
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Any suspicious or malicious IPs?
      id: 7d333691-7742-41f9-8d5f-51cd13a03d4a
      iscommand: false
      name: Any suspicious or malicious IPs
      type: condition
      version: -1
    taskid: 7d333691-7742-41f9-8d5f-51cd13a03d4a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3630,
          "y": 1835
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 47932459-d28b-4e7c-82c1-b0d6226657ef
      iscommand: false
      name: Any IP artifacts to work with
      type: title
      version: -1
    taskid: 47932459-d28b-4e7c-82c1-b0d6226657ef
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3630,
          "y": 1535
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      comment:
        simple: 'XSOAR triggered by Advanced Hunting Playbook - #${incident.id}'
      machine_id:
        simple: ${inputs.DeviceID}
      path:
        simple: c:\Windows\System32\Drivers\etc\hosts
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'Retrieves a file from a device. NOTE: Backslashes in the path
        must be escaped.'
      id: 6ec7abc0-31dc-4197-8f12-e05269f3f55f
      iscommand: true
      name: Retrieve host file
      script: '|||microsoft-atp-live-response-get-file'
      type: regular
      version: -1
    taskid: 6ec7abc0-31dc-4197-8f12-e05269f3f55f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3420,
          "y": 1190
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: MicrosoftATP.HuntPersistenceEvidence.Result.host_file_change
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "33"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Any results?
      id: 2d875c32-7a54-44ee-8d0a-2311092e0a50
      iscommand: false
      name: Any results?
      type: condition
      version: -1
    taskid: 2d875c32-7a54-44ee-8d0a-2311092e0a50
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3200,
          "y": 1010
        }
      }
  "16":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: hosts File retrieved from the investigated endpoint.
      tags:
        simple: hosts File Modification
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
      - "43"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      lastZipFileInWarroom:
        simple: "Yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Unzips a file using file name or entry ID for specify a file. Unzipped
        files are loaded to the War Room and names are put into the context.
      id: 44565387-7eb0-4641-86bb-439453ddf54c
      iscommand: false
      name: Unzip the retrieved host file
      script: UnzipFile
      type: regular
      version: -1
    taskid: 44565387-7eb0-4641-86bb-439453ddf54c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3420,
          "y": 1360
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      appendTags:
        simple: "true"
      severity:
        simple: High
      tags:
        simple: Malicious IP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Update Tag - 'Malicious IP'
      id: e2216286-3954-4001-8aa9-92bc8fb053a3
      iscommand: true
      name: Update Tag - 'Malicious IP'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: e2216286-3954-4001-8aa9-92bc8fb053a3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3520,
          "y": 2025
        }
      }
  "19":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: MicrosoftATP.HuntLateralMovementEvidence.Result.smb_connections
          operator: isNotEmpty
          right:
            value: {}
        - left:
            iscontext: true
            value:
              simple: MicrosoftATP.HuntPersistenceEvidence.Result.local_firewall_change
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "33"
      "yes":
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Any results?
      id: ed766794-2300-4387-84cf-fce1c7bd7465
      iscommand: false
      name: Any results?
      type: condition
      version: -1
    taskid: ed766794-2300-4387-84cf-fce1c7bd7465
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2310,
          "y": 1010
        }
      }
  "20":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: MicrosoftATP.HuntNetworkConnections.Result.dns_query
          operator: isNotEmpty
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Name
                root: Domain
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "29"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Any results?
      id: 82704f92-4efd-4e66-8e79-48579585640c
      iscommand: false
      name: Any results?
      type: condition
      version: -1
    taskid: 82704f92-4efd-4e66-8e79-48579585640c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1230,
          "y": 1335
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: MicrosoftATP.HuntLateralMovementEvidence.Result.management_connection
          operator: isNotEmpty
          right:
            value: {}
        - left:
            iscontext: true
            value:
              simple: MicrosoftATP.HuntLateralMovementEvidence.Result.smb_connections
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "33"
      "yes":
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Any results?
      id: cea35303-fab1-4042-8f56-74b4f891213c
      iscommand: false
      name: Any results?
      type: condition
      version: -1
    taskid: cea35303-fab1-4042-8f56-74b4f891213c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1670,
          "y": 1040
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    scriptarguments:
      domain:
        complex:
          accessor: Name
          root: Domain
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the reputation of a domain.
      id: b398103b-d86f-4a60-820e-c16a7c43e4ae
      iscommand: true
      name: Enrich DNS
      script: '|||domain'
      type: regular
      version: -1
    taskid: b398103b-d86f-4a60-820e-c16a7c43e4ae
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1230,
          "y": 1520
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Score
                root: Indicators
          operator: greaterThanOrEqual
          right:
            value:
              simple: "2"
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: Indicators.Type
          operator: isEqualString
          right:
            value:
              simple: Domain
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Value
                root: Indicators
          operator: isEqualString
          right:
            iscontext: true
            value:
              simple: Domain.Name
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "29"
      "yes":
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Any suspicious or malicious DNS?
      id: 4c3fc874-04b4-4844-8e4a-86823bd73db7
      iscommand: false
      name: Any suspicious or malicious DNS
      type: condition
      version: -1
    taskid: 4c3fc874-04b4-4844-8e4a-86823bd73db7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1230,
          "y": 1835
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    scriptarguments:
      appendTags:
        simple: "true"
      severity:
        simple: High
      tags:
        simple: Malicious DNS
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Update tag - 'Malicious DNS'
      id: 07e086a9-7102-442f-8466-aad73bc7d356
      iscommand: true
      name: Update tag - 'Malicious DNS'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 07e086a9-7102-442f-8466-aad73bc7d356
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1430,
          "y": 2030
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5d6a42eb-453b-4a7c-88ab-ab857346112b
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 5d6a42eb-453b-4a7c-88ab-ab857346112b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 4300,
          "y": 2200
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 49834470-ccbd-48c8-86e0-e8c45a7f363e
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 49834470-ccbd-48c8-86e0-e8c45a7f363e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 990,
          "y": 2200
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      appendTags:
        simple: "true"
      tags:
        simple: Remote Connections
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Update tag - "Remote Connections"
      id: 40327a2a-24f4-4117-88ab-135ae4e0d905
      iscommand: true
      name: Update tag - "Remote Connections"
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 40327a2a-24f4-4117-88ab-135ae4e0d905
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1670,
          "y": 1835
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      appendTags:
        simple: "true"
      tags:
        simple: Local FW Rules Change
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Update Tag - 'Local FW Rules Change'
      id: a98a9f01-966c-4b99-86c8-cb8a540fac44
      iscommand: true
      name: Update Tag - 'Local FW Rules Change'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: a98a9f01-966c-4b99-86c8-cb8a540fac44
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2150,
          "y": 1180
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b6fa86bf-413d-4a7e-89b2-b5959cb82099
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: b6fa86bf-413d-4a7e-89b2-b5959cb82099
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2520,
          "y": 2350
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: af51306c-f4fa-4223-8efd-feaca154c9f5
      iscommand: false
      name: Remote connections
      type: title
      version: -1
    taskid: af51306c-f4fa-4223-8efd-feaca154c9f5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1670,
          "y": 705
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "46"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0f9a128a-afae-4d09-8f4f-b3b93252d815
      iscommand: false
      name: 'DNS Queries '
      type: title
      version: -1
    taskid: 0f9a128a-afae-4d09-8f4f-b3b93252d815
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 990,
          "y": 705
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
      - "6"
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9a4c77b7-4927-4bd4-8b55-0ca85e5cb532
      iscommand: false
      name: Local Network Configuration Modification
      type: title
      version: -1
    taskid: 9a4c77b7-4927-4bd4-8b55-0ca85e5cb532
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2710,
          "y": 705
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      appendTags:
        simple: "true"
      tags:
        simple: DNS Requests
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Update tag - 'DNS Requests'
      id: 7f7e3362-37de-4107-8ab0-c654c08d3ffa
      iscommand: true
      name: Update tag - 'DNS Requests'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 7f7e3362-37de-4107-8ab0-c654c08d3ffa
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1230,
          "y": 1685
        }
      }
  "41":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: MicrosoftATP.HuntLateralMovementEvidence.Result.smb_connections
          operator: isNotEmpty
          right:
            value: {}
        - left:
            iscontext: true
            value:
              simple: MicrosoftATP.HuntPersistenceEvidence.Result.local_firewall_change
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "33"
      "yes":
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Any results?
      id: d54100c3-c594-4abd-8f53-657c5a5dd8b6
      iscommand: false
      name: Any results?
      type: condition
      version: -1
    taskid: d54100c3-c594-4abd-8f53-657c5a5dd8b6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2710,
          "y": 1010
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      appendTags:
        simple: "true"
      tags:
        simple: Enumeration of Network Shares
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Update Tag - 'Enumeration of Network Shares'
      id: 4fd84d53-3bff-4b6a-84ca-cbe44e340ef7
      iscommand: true
      name: Update Tag - 'Enumeration of Network Shares'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 4fd84d53-3bff-4b6a-84ca-cbe44e340ef7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2750,
          "y": 1180
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      appendTags:
        simple: "true"
      tags:
        simple: hosts File Modification
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Update Tag - 'Hosts File Modification'
      id: d9bb3e81-8520-422f-8e49-099d61db0cf2
      iscommand: true
      name: Update Tag - 'Hosts File Modification'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: d9bb3e81-8520-422f-8e49-099d61db0cf2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3100,
          "y": 2025
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      appendTags:
        simple: "true"
      tags:
        simple: File External Connections
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Update Tag - 'File External Connections'
      id: 1493ca8e-b6cb-4569-8bc0-e446baf6ea0a
      iscommand: true
      name: Update Tag - 'File External Connections'
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 1493ca8e-b6cb-4569-8bc0-e446baf6ea0a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3840,
          "y": 1360
        }
      }
  "45":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.DeviceName
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: inputs.DeviceID
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "yes":
      - "36"
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if device information was provided
      id: 26fc5969-7690-4138-8f49-f305dab5e4a1
      iscommand: false
      name: Check if device information was provided
      type: condition
      version: -1
    taskid: 26fc5969-7690-4138-8f49-f305dab5e4a1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2180,
          "y": 510
        }
      }
  "46":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.FileSha256
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              simple: inputs.DeviceID
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "29"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Are DeviceID and FileName provided?
      id: 1a3129f5-2f29-4dfb-8e66-ff173eecb912
      iscommand: false
      name: Are DeviceID and FileName provided?
      type: condition
      version: -1
    taskid: 1a3129f5-2f29-4dfb-8e66-ff173eecb912
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 990,
          "y": 860
        }
      }
  "48":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.FileSha256
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              simple: inputs.DeviceID
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Are DeviceID and FileName provided?
      id: 2185c2d6-53d4-4a6b-8d6d-c0ed770e85b0
      iscommand: false
      name: Are DeviceID and FileName provided?
      type: condition
      version: -1
    taskid: 2185c2d6-53d4-4a6b-8d6d-c0ed770e85b0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4300,
          "y": 690
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "15_33_#default#": 0.16,
      "19_33_#default#": 0.11,
      "21_33_#default#": 0.11
    },
    "paper": {
      "dimensions": {
        "height": 2195,
        "width": 3690,
        "x": 990,
        "y": 220
      }
    }
  }
