playbook-Phishing_v3_-_Get_Original_Email_+_Search_&_Delete_-_Test.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: |-
  This playbook tests the search & delete and get original email functionality.
  Prerequisites:
  - The phishing playbook is configured with the correct inputs to allow getting the original email and searching & deleting emails
  - A mail sender with sr-test02 is configured. That user will supposedly attack sr-test01.
  - sr-test01 has a rule which forwards the test email to Testbox(but does not forward the acknowledgement emails it receives from the phishing playbook!)
  - EWS O365 is configured as the mail listener with Testbox as the user.
id: Phishing v3 - Get Original Email + Search & Delete - Test
inputs: []
name: Phishing v3 - Get Original Email + Search & Delete - Test
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 40359717-3e6e-45fb-885e-0360cac5b78b
      iscommand: false
      name: ""
      version: -1
    taskid: 40359717-3e6e-45fb-885e-0360cac5b78b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4552d431-9930-4c2c-825e-ef78b47ddb65
      iscommand: false
      name: Delete Context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 4552d431-9930-4c2c-825e-ef78b47ddb65
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 185
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 2
    reputationcalc: 1
    scriptarguments:
      id:
        complex:
          root: FoundID
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.investigate
      id: 31c17697-9cb3-46ae-86eb-2f37c1af03a9
      iscommand: true
      name: Investigate the incident
      script: Builtin|||investigate
      type: regular
      version: -1
    taskid: 31c17697-9cb3-46ae-86eb-2f37c1af03a9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 990
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      get_key:
        simple: Email
      incident_id:
        complex:
          root: FoundID
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets a value from the specified incident's context.
      id: 8faec0fc-f439-4d3b-8863-870f4813c2e8
      iscommand: false
      name: Get the final Email context
      script: GetByIncidentId
      type: regular
      version: -1
    taskid: 8faec0fc-f439-4d3b-8863-870f4813c2e8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 750,
          "y": 1780
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
      - "16"
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c63e63d9-8370-4492-8fd3-ed5dfd1ac882
      iscommand: false
      name: Incident Field Checks
      type: title
      version: -1
    taskid: c63e63d9-8370-4492-8fd3-ed5dfd1ac882
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -100,
          "y": 1970
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
      - "31"
      - "35"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 741c145d-4138-4dfa-8d76-1e02b67fb8ee
      iscommand: false
      name: Context Checks
      type: title
      version: -1
    taskid: 741c145d-4138-4dfa-8d76-1e02b67fb8ee
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 1960
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          root: FoundID
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Searches Demisto incidents
      id: f258d1b6-5fa7-42d2-8c11-58fbec1c1c7f
      iscommand: false
      name: Get final incident fields
      script: SearchIncidentsV2
      type: regular
      version: -1
    taskid: f258d1b6-5fa7-42d2-8c11-58fbec1c1c7f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -100,
          "y": 1790
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: HTML
                root: Email
          operator: containsGeneral
          right:
            value:
              simple: http://157.230.37.22/banks/Scotia/
      label: "yes"
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "13"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 74dab38a-b65d-4757-834a-fc69bab20f71
      iscommand: false
      name: Does the retrieved email contain the correct HTML?
      type: condition
      version: -1
    taskid: 74dab38a-b65d-4757-834a-fc69bab20f71
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 750,
          "y": 2120
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: Something with the HTML of the retrieved email is wrong. Most likely,
          the original email was not retrieved.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: d4ee4b28-5b91-4923-84af-33f2c6fdea71
      iscommand: false
      name: Error about mismatch in the email HTML
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: d4ee4b28-5b91-4923-84af-33f2c6fdea71
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 750,
          "y": 2330
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 214aecf2-46ef-4c0b-865d-6ec3aced37e4
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 214aecf2-46ef-4c0b-865d-6ec3aced37e4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2930
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: emailsubject
                root: foundIncidents.CustomFields
          operator: isEqualString
          right:
            value:
              simple: Suspicious activity in your bank account [ACTION REQUIRED]
      label: "Yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "Yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bdad7c3f-0aa6-41be-811f-22ba7f300b7f
      iscommand: false
      name: Was the subject of the original email set?
      type: condition
      version: -1
    taskid: bdad7c3f-0aa6-41be-811f-22ba7f300b7f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -100,
          "y": 2130
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: emailfrom
                root: foundIncidents.CustomFields
          operator: isNotEqualString
          right:
            iscontext: true
            value:
              complex:
                accessor: reporteremailaddress
                root: foundIncidents.CustomFields
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reporteremailaddress
                root: foundIncidents.CustomFields
          operator: isNotEmpty
      label: "Yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "Yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 018f20e5-7892-4633-8bb6-f7c70c521bc1
      iscommand: false
      name: Is the reporter address different than the phishing sender?
      type: condition
      version: -1
    taskid: 018f20e5-7892-4633-8bb6-f7c70c521bc1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -580,
          "y": 2130
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fa42a787-29e9-41fe-8319-5fa2ea7cb1dc
      iscommand: false
      name: Additional Flow Checks
      type: title
      version: -1
    taskid: fa42a787-29e9-41fe-8319-5fa2ea7cb1dc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2760,
          "y": 1780
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: The subject of the retrieved email was not set in the Process Email
          - Generic playbook, or the original email was not retrieved at all.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 7f9fb74a-dafc-4f9c-8488-55d844d9df99
      iscommand: false
      name: Error - subject is not the subject of the retrieved email
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 7f9fb74a-dafc-4f9c-8488-55d844d9df99
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -100,
          "y": 2330
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: 'We''ve detected suspicious activity in your bank account on 05/12/2021.Please
          take a moment to review your recent activity and report anything suspicious
          immediately.Make sure to login and follow the instructions on our official
          website: www.scotiabank.com<https://eur01.safelinks.protection.outlook.com/?url=http%3A%2F%2F157.230.37.22%2Fbanks%2FScotia%2F&data=04%7C01%7Csr-test01%40demistodev.onmicrosoft.com%7Ca068915160cb49db31d508d9b9a33929%7Cebac1a1681bf449b8d435732c3c1d999%7C1%7C0%7C637744932980194392%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000&sdata=I7reVHNGh7ifFcOWXFdfQWFXmwK3MVxFLEgiMPiG7Jo%3D&reserved=0>.Should
          you have any questions, please contact us at SUPPORT@SCOTlABANK.COMScotiabank'
      htmlBody:
        simple: '<div style="font-family: Calibri, Arial, Helvetica, sans-serif;font-size:
          12pt;color: rgb(0, 0, 0);"><span style="font-size: 12pt;background-color:
          rgb(255, 255, 255);">We&#39;ve detected suspicious activity in your bank account
          on 05/12/2021.</span> <div style="font-size: 12pt;background-color: rgb(255,
          255, 255);">Please take a moment to review your recent activity and report
          anything suspicious immediately.</div><div style="font-size: 12pt;background-color:
          rgb(255, 255, 255);">Make sure to login and follow the instructions on our
          official website:<span> </span><a href="https://eur01.safelinks.protection.outlook.com/?url=http%3A%2F%2F157.230.37.22%2Fbanks%2FScotia%2F&amp;data=04%7C01%7Csr-test01%40demistodev.onmicrosoft.com%7Ca068915160cb49db31d508d9b9a33929%7Cebac1a1681bf449b8d435732c3c1d999%7C1%7C0%7C637744932980194392%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000&amp;sdata=I7reVHNGh7ifFcOWXFdfQWFXmwK3MVxFLEgiMPiG7Jo%3D&amp;reserved=0"
          target="_blank" style="" rel="nofollow noopener">www.scotiabank.com</a>.</div><div
          style="font-size: 12pt;background-color: rgb(255, 255, 255);"><br></div><div
          style="font-size: 12pt;background-color: rgb(255, 255, 255);">Should you
          have any questions, please contact us at SUPPORT@SCOTlABANK.COM</div><span
          style="font-size: 12pt;background-color: rgb(255, 255, 255);"><span style="">Scotiabank</span></span><br></div>'
      subject:
        simple: Suspicious activity in your bank account [ACTION REQUIRED]
      to:
        simple: sr-test01@demistodev.onmicrosoft.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email using EWS.
      id: 6cfeebe2-74c3-4700-8bbf-3adac955890a
      iscommand: true
      name: Send email from attacker to victim
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 6cfeebe2-74c3-4700-8bbf-3adac955890a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 340
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "120"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: 6bd5bd08-3066-42c5-8e13-f69ef3d59618
      iscommand: false
      name: Wait for email to arrive and be forwarded by rule to Testbox
      script: Sleep
      type: regular
      version: -1
    taskid: 6bd5bd08-3066-42c5-8e13-f69ef3d59618
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 505
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        simple: 'FW: Suspicious activity in your bank account [ACTION REQUIRED]'
      status:
        simple: Pending
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches Demisto incidents.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 1f1bc0e9-9e5a-4eb5-803c-1456a6f1037e
      iscommand: false
      name: Find the new incident
      script: SearchIncidentsV2
      type: regular
      version: -1
    taskid: 1f1bc0e9-9e5a-4eb5-803c-1456a6f1037e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 670
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: FoundID
      value:
        complex:
          accessor: id
          root: foundIncidents
          transformers:
          - args:
              descending:
                value:
                  simple: "true"
            operator: sort
          - args:
              index:
                value:
                  simple: "0"
            operator: atIndex
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 6f24d5cd-35da-4193-85ae-12a17b9fdc96
      iscommand: false
      name: Save found incident ID
      script: Set
      type: regular
      version: -1
    taskid: 6f24d5cd-35da-4193-85ae-12a17b9fdc96
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 830
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      all:
        simple: "no"
      key:
        simple: foundIncidents
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 1db70326-25eb-439a-81a2-3ddc876b963a
      iscommand: false
      name: Clear found incident
      script: DeleteContext
      type: regular
      version: -1
    taskid: 1db70326-25eb-439a-81a2-3ddc876b963a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -100,
          "y": 1590
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0f206b41-8fd8-4d24-8a3d-0edbab89caf7
      iscommand: false
      name: Check Search & Delete
      type: title
      version: -1
    taskid: 0f206b41-8fd8-4d24-8a3d-0edbab89caf7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3030,
          "y": 1920
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: Either the Reporter Email Address is empty (problem with the mapper),
          or the Email From doesn't equal the Reporter Email Address (problem with
          Process Email - Generic subplaybook). In case of the latter, need to see
          if the original email was retrieved and parsed correctly using ParseEmailFiles.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 18edf732-659a-4a6d-817e-c450d417b7d7
      iscommand: false
      name: Error - email from is same as reporter, or reporter is empty
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 18edf732-659a-4a6d-817e-c450d417b7d7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -580,
          "y": 2320
        }
      }
  "29":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: severity
                root: foundIncidents
          operator: isEqualString
          right:
            value:
              simple: "3"
      label: "yes"
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ce25408e-82b4-4704-8ea7-a3c86e1283af
      iscommand: false
      name: Is the severity of the incident high?
      type: condition
      version: -1
    taskid: ce25408e-82b4-4704-8ea7-a3c86e1283af
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1120,
          "y": 2120
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: |-
          The incident severity should be high, but it isn't. This could indicate one of the following problems:
          1. The threat intelligence integration used reached its quota.
          2. The threat intelligence integration used no longer detects the malicious URL as malicious.
          3. The way we calculate severity for incidents has changed.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 920a5e5d-d887-4273-88b7-c42ef454b8af
      iscommand: false
      name: Error - final severity not calculated correctly
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 920a5e5d-d887-4273-88b7-c42ef454b8af
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1120,
          "y": 2320
        }
      }
  "31":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: URL.Data
          operator: containsGeneral
          right:
            value:
              simple: http://157.230.37.22/banks/Scotia/
      - - left:
            iscontext: true
            value:
              simple: Domain.Name
          operator: containsGeneral
          right:
            value:
              simple: www.scotiabank.com
      label: "yes"
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "33"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 44001f07-4c42-473d-8204-0e5670212a7d
      iscommand: false
      name: Were the URL & domain extracted successfully?
      type: condition
      version: -1
    taskid: 44001f07-4c42-473d-8204-0e5670212a7d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 2120
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      get_key:
        simple: URL
      incident_id:
        complex:
          root: FoundID
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets a value from the specified incident's context.
      id: ead3dee1-a3d8-4aa8-8633-0a0261200031
      iscommand: false
      name: Get the URL context
      script: GetByIncidentId
      type: regular
      version: -1
    taskid: ead3dee1-a3d8-4aa8-8633-0a0261200031
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1230,
          "y": 1780
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: The URL or the domain were not extracted properly. The legitimate
          URL and the malicious URL should have been extracted using incident auto-extract
          settings or field extraction rules (in XSOAR 6.1+). If auto-extract is OK,
          it could be an issue with the threat intelligence integration.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: bea6044c-f2e3-4bee-851f-80872ced6e96
      iscommand: false
      name: The URL or domain were not extracted
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: bea6044c-f2e3-4bee-851f-80872ced6e96
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 2340
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      get_key:
        simple: File
      incident_id:
        complex:
          root: FoundID
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets a value from the specified incident's context.
      id: 5b530b7d-20c5-421c-8cec-ba9797a629c2
      iscommand: false
      name: Get the File context
      script: GetByIncidentId
      type: regular
      version: -1
    taskid: 5b530b7d-20c5-421c-8cec-ba9797a629c2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1680,
          "y": 1780
        }
      }
  "35":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isEqualString
                    right:
                      value:
                        simple: eml
                - - left:
                      iscontext: true
                      value:
                        simple: File.Name
                    operator: isEqualString
                    right:
                      value:
                        simple: Suspicious activity in your bank account [ACTION REQUIRED].eml
                root: File
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "36"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 06ed8ce9-337e-4a1e-8cc8-1dba850a9c66
      iscommand: false
      name: Was the original email retrieved as an EML file?
      type: condition
      version: -1
    taskid: 06ed8ce9-337e-4a1e-8cc8-1dba850a9c66
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1680,
          "y": 2120
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: |-
          The original email was not retrieved at all, or was not retrieved as an EML file which is what is expected to happen.
          Possible reasons:
          - Something in the Process Email - Generic v2 or Get Original Email - Generic v2 playbooks changed.
          - Something in the EWS365 integration changed and the retrieved file is no longer retrieved as a file.
          - The email was deleted from the mailbox where it was received (probably sr-test01) by someone or something else.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: e452ff86-5500-4675-8af0-d0c2b43b7ad6
      iscommand: false
      name: Email not retrieved as EML
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: e452ff86-5500-4675-8af0-d0c2b43b7ad6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1680,
          "y": 2340
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    scriptarguments:
      complete_task:
        simple: "true"
      incident_id:
        complex:
          root: FoundID
      interval_between_tries:
        simple: "15"
      max_timeout:
        simple: "700"
      task_name:
        simple: Manually remediate  the incident
      task_states:
        simple: Waiting
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Wait and complete tasks by given status. Used for test playbooks.
      id: c8742ca0-7944-4d3e-83de-6cee6769ffb0
      iscommand: false
      name: Wait and manually remediate
      script: WaitAndCompleteTask
      type: regular
      version: -1
    taskid: c8742ca0-7944-4d3e-83de-6cee6769ffb0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1170
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
      - "7"
      - "32"
      - "34"
      - "17"
      - "41"
    note: false
    quietmode: 0
    scriptarguments:
      complete_task:
        simple: "false"
      incident_id:
        complex:
          root: FoundID
      interval_between_tries:
        simple: "10"
      max_timeout:
        simple: "2500"
      task_name:
        simple: Close investigation
      task_states:
        simple: Completed
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Wait and complete tasks by given status. Used for test playbooks.
      id: ef6f8aec-0c71-4e24-8915-2679567bbc4c
      iscommand: false
      name: Wait for incident to close
      script: WaitAndCompleteTask
      type: regular
      version: -1
    taskid: ef6f8aec-0c71-4e24-8915-2679567bbc4c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1350
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      complete_task:
        simple: "false"
      incident_id:
        complex:
          root: FoundID
      interval_between_tries:
        simple: "10"
      max_timeout:
        simple: "1000"
      task_name:
        simple: Get URL screenshot
      task_states:
        simple: Completed
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Wait and complete tasks by given status. Used for test playbooks.
      id: ac038d8f-21c0-4a75-8d8c-e93f776e3b36
      iscommand: false
      name: Check that URL screenshot was taken
      script: WaitAndCompleteTask
      type: regular
      version: -1
    taskid: ac038d8f-21c0-4a75-8d8c-e93f776e3b36
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2520,
          "y": 1940
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      complete_task:
        simple: "false"
      incident_id:
        complex:
          root: FoundID
      interval_between_tries:
        simple: "10"
      max_timeout:
        simple: "1000"
      task_name:
        simple: Search action - Soft delete.
      task_states:
        simple: Completed
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Wait and complete tasks by given status. Used for test playbooks.
      id: 6b6bcb99-009c-4eba-8462-722169ab7b37
      iscommand: false
      name: Check that soft delete was performed
      script: WaitAndCompleteTask
      type: regular
      version: -1
    taskid: 6b6bcb99-009c-4eba-8462-722169ab7b37
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3030,
          "y": 2050
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      get_key:
        simple: Domain
      incident_id:
        complex:
          root: FoundID
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets a value from the specified incident's context.
      id: e12ff5a5-2126-489f-85fe-00fdf7c96642
      iscommand: false
      name: Get the Domain context
      script: GetByIncidentId
      type: regular
      version: -1
    taskid: e12ff5a5-2126-489f-85fe-00fdf7c96642
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2090,
          "y": 1780
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "16_14_Yes": 0.12,
      "31_33_#default#": 0.59
    },
    "paper": {
      "dimensions": {
        "height": 2945,
        "width": 4530,
        "x": -1120,
        "y": 50
      }
    }
  }
