playbook-Splunk_Generic_copy.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 2.4.4
    packID: ""
    packName: Splunk
    propagationLabels:
    - all
    toServerVersion: ""
description: This is a generic playbook to be executed for the Splunk Notable Generic
  incident type. The playbook performs all the common parts of the investigation,
  including notifying the SOC, enriching the data for indicators and users, calculating
  the severity, assigning the incident, notifying the SIEM admin for false positives
  and more.
id: 67de7158-5ac6-4052-8f55-276331499ba5
inputs:
- description: Determines whether to enrich all indicators in the incident. Default
    is True.
  key: Enrich
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
- description: Set to true to assign only the user that is currently on shift. Default
    is False. Requires Cortex XSOAR v5.5 or later.
  key: OnCall
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: The SOC team's email address.
  key: SocEmailAddress
  playbookInputQuery: null
  required: false
  value: {}
- description: The subject of the email to send to the SOC.
  key: SocMailSubject
  playbookInputQuery: null
  required: false
  value:
    simple: 'XSOAR Summary report, ID - '
- description: The SIEM admin's email address.
  key: SiemAdminEmailAddress
  playbookInputQuery: null
  required: false
  value: {}
- description: Determines whether to use the Calculate Severity playbook to calculate
    the incident severity. Default is True. If the playbook isn't used, the severity
    is determined by the Splunk severity value.
  key: UseCalculateSeverity
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
- description: The subject of the email to send to the SIEM admin.
  key: SiemAdminMailSubject
  playbookInputQuery: null
  required: false
  value:
    simple: 'Adjustment/Exclusion for notable '
name: Splunk Generic_copy
outputs: []
sourceplaybookid: Splunk Generic
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2d22fa6f-c2b2-4590-8db3-4beed2956322
      iscommand: false
      name: ""
      version: -1
    taskid: 2d22fa6f-c2b2-4590-8db3-4beed2956322
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 210,
          "y": -440
        }
      }
  "1":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.Enrich
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the Enrich playbook input is set to True.
      id: 9071f347-c5aa-4a7c-89a4-50823a88c223
      iscommand: false
      name: Should indicators be extracted and enriched?
      type: condition
      version: -1
    taskid: 9071f347-c5aa-4a7c-89a4-50823a88c223
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 210,
          "y": -305
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Assigns a random analyst to this incident.
      id: d51d5612-c26a-410b-8ffa-1ab5104654bd
      iscommand: false
      name: Start Remediation SLA Timer
      type: title
      version: -1
    taskid: d51d5612-c26a-410b-8ffa-1ab5104654bd
    timertriggers:
    - action: start
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": 210,
          "y": 690
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8787c3d0-f1f5-4210-816e-0ee330a58629
      iscommand: false
      name: Enrich Data
      type: title
      version: -1
    taskid: 8787c3d0-f1f5-4210-816e-0ee330a58629
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 562.5,
          "y": -120
        }
      }
  "7":
    continueonerrortype: ""
    form:
      description: Provide notes regarding the investigation.
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Investigation Notes
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: longText
      sender: ""
      title: Investigation Notes
      totalanswers: 0
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manually review and investigate this incident.
      id: 22f0e17c-e7e5-40b8-8e31-77e93bea37be
      iscommand: false
      name: Manually review the incident
      type: collection
      version: -1
    taskid: 22f0e17c-e7e5-40b8-8e31-77e93bea37be
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 210,
          "y": 1195
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      closeNotes:
        simple: |-
          Closed By: ${Investigation Notes.Answers.name}
          ${Investigation Notes.Answers.0}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Closes the current incident.
      id: 112141a3-f407-41ca-88cb-5ddb105daf27
      iscommand: true
      name: Close investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 112141a3-f407-41ca-88cb-5ddb105daf27
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 210,
          "y": 3390
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      text:
        complex:
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Extracts all indicators from the incident and enriches the indicators
        by using the reputation command defined for each indicator type.
      id: 367f2972-4aa0-42c1-8f37-3a137b0951d2
      iscommand: true
      name: Extract indicators from incident
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 367f2972-4aa0-42c1-8f37-3a137b0951d2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 562.5,
          "y": 10
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 497f7dde-bd62-4921-8ab5-eeed225a674b
      iscommand: false
      name: Entity Enrichment - Generic v2
      playbookId: Entity Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: 497f7dde-bd62-4921-8ab5-eeed225a674b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 562.5,
          "y": 170
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f966d558-4f9a-4ba1-8652-93268124a952
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: f966d558-4f9a-4ba1-8652-93268124a952
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 210,
          "y": 3540
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      attachIDs:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: InfoFile.Name
              operator: containsGeneral
              right:
                value:
                  simple: report_Investigation_Summary
          root: InfoFile
      body:
        complex:
          accessor: investigation}
          root: ${demistoUrls
          transformers:
          - args:
              prefix:
                value:
                  simple: |
                    Link to the incident
              suffix: {}
            operator: concat
      subject:
        complex:
          root: inputs.SocMailSubject
          transformers:
          - args:
              prefix: {}
              suffix:
                iscontext: true
                value:
                  simple: incident.id
            operator: concat
      to:
        simple: ${inputs.SocEmailAddress}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Sends an email using EWS.
      id: db11e066-485c-474a-81b4-f18421b47459
      iscommand: true
      name: Send investigation report to SOC
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: db11e066-485c-474a-81b4-f18421b47459
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -220,
          "y": 3210
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      False Positive:
      - "29"
      True Positive:
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c05a70f2-faf0-494d-8e2d-d587d2dcb8de
      iscommand: false
      name: Was this a true positive?
      type: condition
      version: -1
    taskid: c05a70f2-faf0-494d-8e2d-d587d2dcb8de
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 210,
          "y": 1540
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      incidentId:
        complex:
          accessor: id
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        A script to generate the investigation summary report automatically
        can be used in the post-processing flow as well.
      id: e5500f60-cc5a-42cc-8618-8aee8f11e6c2
      iscommand: false
      name: Generate Investigation Summary Report
      script: GenerateInvestigationSummaryReport
      type: regular
      version: -1
    taskid: e5500f60-cc5a-42cc-8618-8aee8f11e6c2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 210,
          "y": 2720
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.UseCalculateSeverity
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 08d071c8-815d-48f5-8c40-42d43330e8b7
      iscommand: false
      name: Use Calculate Severity?
      type: condition
      version: -1
    taskid: 08d071c8-815d-48f5-8c40-42d43330e8b7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 562.5,
          "y": 350
        }
      }
  "17":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.SocEmailAddress
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2149eabc-b15b-411a-8fdf-234997761363
      iscommand: false
      name: Was the SOC email address provided?
      type: condition
      version: -1
    taskid: 2149eabc-b15b-411a-8fdf-234997761363
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 210,
          "y": 2870
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.SiemAdminEmailAddress
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "15"
      "yes":
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a9f50bfc-31bb-4e5e-8b31-5a9a74c3eede
      iscommand: false
      name: Was the SIEM admin email address provided?
      type: condition
      version: -1
    taskid: a9f50bfc-31bb-4e5e-8b31-5a9a74c3eede
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -10,
          "y": 2050
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      assignBy:
        simple: random
      onCall:
        complex:
          root: inputs.OnCall
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Assigns a random analyst to this incident.
      id: 47fa4a9f-79b2-4569-8cfd-2b73ec7fa9a3
      iscommand: false
      name: Assign an analyst to the incident
      script: AssignAnalystToIncident
      type: regular
      version: -1
    taskid: 47fa4a9f-79b2-4569-8cfd-2b73ec7fa9a3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 210,
          "y": 1015
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2a3661f0-83fb-4c42-8aa9-1625c8556325
      iscommand: false
      name: XSOAR Exclude Indicators
      type: title
      version: -1
    taskid: 2a3661f0-83fb-4c42-8aa9-1625c8556325
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 210,
          "y": 1380
        }
      }
  "22":
    continueonerrortype: ""
    form:
      description: Provide what should be adjusted in the rule
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Which rules need to be adjusted?
        options: []
        optionsarg:
        - simple: "Yes"
        - simple: "No"
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Which indicators need to be excluded?
        options: []
        optionsarg:
        - simple: "Yes"
        - simple: "No"
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      sender: ""
      title: Data for rule adjustment by the SIEM admin
      totalanswers: 0
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Provide data to adjust the rule in order to avoid similar false
        positives in the future.
      id: 57849641-0dbc-49c6-86c5-bd275dad39a7
      iscommand: false
      name: Provide data for rule adjustment
      type: collection
      version: -1
    taskid: 57849641-0dbc-49c6-86c5-bd275dad39a7
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -10,
          "y": 1890
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        complex:
          root: inputs.SiemAdminEmailAddress
          transformers:
          - args:
              to:
                value:
                  simple: '@'
            operator: substringTo
          - args:
              prefix: {}
              suffix:
                value:
                  simple: "\nRules to adjust - "
            operator: concat
          - args:
              prefix: {}
              suffix:
                iscontext: true
                value:
                  simple: Data for rule adjustment by the SIEM admin.Answers.0
            operator: concat
          - args:
              prefix: {}
              suffix:
                value:
                  simple: "\nValues to exclude - "
            operator: concat
          - args:
              prefix: {}
              suffix:
                iscontext: true
                value:
                  simple: Data for rule adjustment by the SIEM admin.Answers.1
            operator: concat
          - args:
              prefix:
                value:
                  simple: 'Dear '
              suffix: {}
            operator: concat
      subject:
        complex:
          root: inputs.SiemAdminMailSubject
          transformers:
          - args:
              prefix: {}
              suffix:
                iscontext: true
                value:
                  simple: incident.notableid
            operator: concat
      to:
        simple: ${inputs.SiemAdminEmailAddress}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Sends an email using EWS.
      id: 4a252f98-d4ad-41c3-8bea-6d379680d8f0
      iscommand: true
      name: Send email to SIEM admin
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 4a252f98-d4ad-41c3-8bea-6d379680d8f0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -220,
          "y": 2540
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c773c6d9-0487-4821-8772-8dbfd644f286
      iscommand: false
      name: Investigation
      type: title
      version: -1
    taskid: c773c6d9-0487-4821-8772-8dbfd644f286
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 210,
          "y": 860
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      closeReason:
        simple: False Positive
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the incident status as false positive.
      id: 25e91d66-31ce-46ad-8254-3524f407f405
      iscommand: true
      name: Set as false positive
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 25e91d66-31ce-46ad-8254-3524f407f405
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -10,
          "y": 1740
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3014d720-969c-4bc8-8040-c6e92b66849a
      iscommand: false
      name: SIEM Admin
      type: title
      version: -1
    taskid: 3014d720-969c-4bc8-8040-c6e92b66849a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -10,
          "y": 2400
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f50dc0e1-aaac-44f4-8b79-a3ed79a7cbd0
      iscommand: false
      name: SOC Summary
      type: title
      version: -1
    taskid: f50dc0e1-aaac-44f4-8b79-a3ed79a7cbd0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -10,
          "y": 3070
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: d9539b01-5a5a-4bff-892f-19bbcfe898fd
      iscommand: false
      name: Calculate Severity - Standard
      playbookId: Calculate Severity - Standard
      type: playbook
      version: -1
    taskid: d9539b01-5a5a-4bff-892f-19bbcfe898fd
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 760,
          "y": 520
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "14_15_True Positive": 0.62,
      "18_15_#default#": 0.3
    },
    "paper": {
      "dimensions": {
        "height": 4045,
        "width": 1360,
        "x": -220,
        "y": -440
      }
    }
  }
