playbook-Inner_Loop.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: dec60c8a-04f0-4e91-8206-88dcd94ed5fe
inputs: []
name: Inner Loop
outputs:
- contextPath: Flag
  type: boolean
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 97360771-5734-49fe-86ef-15af304e1134
      iscommand: false
      name: ""
      version: -1
    taskid: 97360771-5734-49fe-86ef-15af304e1134
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    defaultassigneecomplex:
      simple: admin
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 0ecb8f73-60b7-4533-8e3d-924a0f42b0d2
      iscommand: false
      name: Start
      script: Print
      type: regular
      version: -1
    taskid: 0ecb8f73-60b7-4533-8e3d-924a0f42b0d2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 200
        }
      }
  "2":
    continueonerrortype: ""
    defaultassigneecomplex:
      simple: admin
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: 'Counter is: ${counter}'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: b277f0d8-efff-4275-8c85-6ff6dd7fe986
      iscommand: false
      name: Print counter
      script: Print
      type: regular
      version: -1
    taskid: b277f0d8-efff-4275-8c85-6ff6dd7fe986
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 770
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: counter
      value:
        complex:
          root: counter
          transformers:
          - args:
              by:
                value:
                  simple: "1"
            operator: addition
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: e6104415-8c2b-49d1-8c59-6141dc940935
      iscommand: false
      name: Increase counter
      script: Set
      type: regular
      version: -1
    taskid: e6104415-8c2b-49d1-8c59-6141dc940935
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 470
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 815,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }
