playbook-Darkfeed_IOC_detonation_and_proactive_blocking.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.5.0
    itemVersion: 2.0.10
    packID: Sixgill-Darkfeed
    packName: Sixgill Darkfeed - Annual Subscription
    packPropagationLabels:
    - all
    propagationLabels: []
    toServerVersion: ""
description: Download malicious files from a Darkfeed IOC, detonate them in automated
  sandboxes, and extract and block any additional indicators and files.
id: Darkfeed IOC detonation and proactive blocking
inputs:
- description: File hash (MD5, SHA-1, SHA-256) from Darkfeed
  key: File
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: File
- description: ""
  key: ""
  playbookInputQuery:
    daterange:
      fromdate: "0001-01-01T00:00:00Z"
      fromdatelicenseval: "0001-01-01T00:00:00Z"
      period:
        by: ""
        byfrom: ""
        byto: ""
        field: ""
        fromvalue: null
        tovalue: null
      todate: "0001-01-01T00:00:00Z"
    query: ""
    queryEntity: indicators
    results: null
    runFromLastJobTime: true
  required: false
  value: {}
- description: URL from Darkfeed_010 - Malware available for download from the deep
    and dark web
  key: URL
  playbookInputQuery: null
  required: false
  value:
    complex:
      filters:
      - - left:
            iscontext: true
            value:
              simple: URL.Data
          operator: notStartWith
          right:
            value:
              simple: https://attack.mitre.org
      - - left:
            iscontext: true
            value:
              simple: URL.Data
          operator: notStartWith
          right:
            value:
              simple: https://virustotal.com
      - - left:
            iscontext: true
            value:
              simple: URL.Data
          operator: notStartWith
          right:
            value:
              simple: https://portal.cybersixgill.com
      root: URL
- description: Set "true" if analyst can manually download malware from deep and dark
    web filesharing site.
  key: Manual download
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
- description: Set "true" if you would like to automatically download file from Virustotal
    API.
  key: VTdownload
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
- description: Set "true" if you would like to automatically block discovered malicious
    indicators.
  key: AutomatedIndicatorBlocking
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
name: Darkfeed IOC detonation and proactive blocking
outputs: []
quiet: true
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9bfe42b8-f272-4cdd-87a7-222c68dc194b
      iscommand: false
      name: ""
      version: -1
    taskid: 9bfe42b8-f272-4cdd-87a7-222c68dc194b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 380,
          "y": -30
        }
      }
  "6":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: VirusTotal - Private API
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      - "27"
      "yes":
      - "23"
      - "22"
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c1f15436-7eba-4256-8aef-41e8eb717385
      iscommand: false
      name: Check if VT API is enabled
      type: condition
      version: -1
    taskid: c1f15436-7eba-4256-8aef-41e8eb717385
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 400
        }
      }
  "7":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.File
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "yes":
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 661c34b2-046f-4e66-8099-f028a92ece30
      iscommand: false
      name: Are there hashes?
      type: condition
      version: -1
    taskid: 661c34b2-046f-4e66-8099-f028a92ece30
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 180,
          "y": 100
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 2
    scriptarguments:
      hash:
        simple: ${inputs.File.SHA256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Downloads a file from VirusTotal's store given one of its hashes.
        This call can be used in conjuction with the file searching call in order
        to download samples that match a given set of criteria.
      id: 636adce6-9629-4167-8e28-a68e9a9d31d2
      iscommand: true
      name: Download SHA-256 file from Virustotal
      script: '|||vt-private-download-file'
      type: regular
      version: -1
    taskid: 636adce6-9629-4167-8e28-a68e9a9d31d2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 750
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.File.SHA256
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "26"
      "yes":
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4004e6b2-ee9f-4ab1-8b24-c9761aa37e41
      iscommand: false
      name: Are there SHA-256 hashes?
      type: condition
      version: -1
    taskid: 4004e6b2-ee9f-4ab1-8b24-c9761aa37e41
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 575
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8a14b31c-106a-4804-8fa2-7d2bebdbdc86
      iscommand: false
      name: Detonate file
      type: title
      version: -1
    taskid: 8a14b31c-106a-4804-8fa2-7d2bebdbdc86
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 265,
          "y": 925
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 2
    scriptarguments:
      EntryID:
        complex:
          accessor: EntryID
          root: File
      File:
        complex:
          root: File
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Detonate file through active integrations that support file detonation
      id: b203e1bf-a3c7-409b-84fd-7fca587b99f9
      iscommand: false
      name: Detonate File - Generic
      playbookId: Detonate File - Generic
      type: playbook
      version: -1
    taskid: b203e1bf-a3c7-409b-84fd-7fca587b99f9
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1245
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: File.EntryID
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4c8828c4-638d-48a0-8e07-3694f982c8ae
      iscommand: false
      name: Are there downloaded files?
      type: condition
      version: -1
    taskid: 4c8828c4-638d-48a0-8e07-3694f982c8ae
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1070
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1c2ae049-4c5d-4e81-855d-b8a24ff972b5
      iscommand: false
      name: Block malicious indicators found
      type: title
      version: -1
    taskid: 1c2ae049-4c5d-4e81-855d-b8a24ff972b5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1540
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: ip
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      URL:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: url
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      Username:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: username
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 560288c4-abdc-455b-8858-164f35859ecf
      iscommand: false
      name: Block Indicators - Generic v2
      playbookId: Block Indicators - Generic v2
      type: playbook
      version: -1
    taskid: 560288c4-abdc-455b-8858-164f35859ecf
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 100,
          "y": 1680
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      MD5:
        complex:
          accessor: MD5
          root: File
      SHA256:
        complex:
          accessor: SHA256
          root: File
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 5251a632-1945-40ed-8273-af73f4342795
      iscommand: false
      name: Block File - Generic v2
      playbookId: Block File - Generic v2
      type: playbook
      version: -1
    taskid: 5251a632-1945-40ed-8273-af73f4342795
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 510,
          "y": 1680
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.URL
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "yes":
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d1136233-b785-4d82-8e9a-187dbb8844de
      iscommand: false
      name: Are there URLs to download files?
      type: condition
      version: -1
    taskid: d1136233-b785-4d82-8e9a-187dbb8844de
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 695,
          "y": 225
        }
      }
  "18":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.Manual download
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "yes":
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 89a32190-ca51-43fd-84a8-59830c2ce9d1
      iscommand: false
      name: Is manual download enabled
      type: condition
      version: -1
    taskid: 89a32190-ca51-43fd-84a8-59830c2ce9d1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 695,
          "y": 400
        }
      }
  "19":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Did you successfully download the file and upload it to the warroom?
        options:
        - "Yes"
        - "No"
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: If not, why?
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      sender: ""
      title: Did you successfully download the file and upload it to the warroom?
      totalanswers: 0
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: 'Please upload the downloaded file from Darkfeed_010 to the XSOAR
          incident warroom: ${inputs.URL}'
      cc: null
      format: ""
      methods:
      - email
      subject:
        simple: Please upload the downloaded file from Darkfeed_010 to the XSOAR incident
          warroom
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst,Administrator
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b6ad5c26-8b8a-4a7a-8e07-6d6729716caa
      iscommand: false
      name: Ask to upload file to warroom
      type: collection
      version: -1
    taskid: b6ad5c26-8b8a-4a7a-8e07-6d6729716caa
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 695,
          "y": 575
        }
      }
  "20":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: Did you upload the downloaded file?.Answers.0
          operator: isEqualString
          right:
            value:
              simple: "yes"
      label: "yes"
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4ba56b12-96fa-4c6d-8ae9-9efc3a39090c
      iscommand: false
      name: Was the file uploaded to the warroom?
      type: condition
      version: -1
    taskid: 4ba56b12-96fa-4c6d-8ae9-9efc3a39090c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 695,
          "y": 750
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8df2ea32-f267-40af-8c49-50d10e8c4fe7
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 8df2ea32-f267-40af-8c49-50d10e8c4fe7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1210,
          "y": 1870
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.File.MD5
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "26"
      "yes":
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 63e64654-5aa7-4fc4-8c7d-66a9563e3084
      iscommand: false
      name: Are there MD5 hashes?
      type: condition
      version: -1
    taskid: 63e64654-5aa7-4fc4-8c7d-66a9563e3084
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -737.5,
          "y": 575
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.File.SHA1
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "26"
      "yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 171d2016-cb9a-494b-8bd1-dc8e8d4eb963
      iscommand: false
      name: Are there SHA-1 hashes?
      type: condition
      version: -1
    taskid: 171d2016-cb9a-494b-8bd1-dc8e8d4eb963
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -270,
          "y": 575
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 2
    scriptarguments:
      hash:
        complex:
          accessor: SHA1
          root: inputs.File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Downloads a file from VirusTotal's store given one of its hashes.
        This call can be used in conjuction with the file searching call in order
        to download samples that match a given set of criteria.
      id: 6e804c7a-2323-4932-870a-dd2c7246b0ab
      iscommand: true
      name: Download SHA-1 file from Virustotal
      script: '|||vt-private-download-file'
      type: regular
      version: -1
    taskid: 6e804c7a-2323-4932-870a-dd2c7246b0ab
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -270,
          "y": 750
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 2
    scriptarguments:
      hash:
        simple: ${inputs.File.MD5}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Downloads a file from VirusTotal's store given one of its hashes.
        This call can be used in conjuction with the file searching call in order
        to download samples that match a given set of criteria.
      id: 27ffce27-2939-4b0a-8e6e-cb08705a187b
      iscommand: true
      name: Download MD5 file from Virustotal
      script: '|||vt-private-download-file'
      type: regular
      version: -1
    taskid: 27ffce27-2939-4b0a-8e6e-cb08705a187b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -700,
          "y": 750
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 30f90e8b-444d-4cde-826b-111dd18f5f85
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 30f90e8b-444d-4cde-826b-111dd18f5f85
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -630,
          "y": 1860
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      File:
        complex:
          root: File
      Is automated blocking activated?:
        simple: "no"
      Is automated endpoint isolation activated?:
        simple: "no"
      Maximum number of IOCs:
        simple: "50"
      Query time lookup:
        simple: 3 day ago
      URL:
        complex:
          root: URL
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 1b63b056-70e1-4d5d-80ff-611d5ce4da35
      iscommand: false
      name: Darkfeed Threat hunting-research
      playbookId: Darkfeed Threat hunting-research
      type: playbook
      version: -1
    taskid: 1b63b056-70e1-4d5d-80ff-611d5ce4da35
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -240,
          "y": 1245
        }
      }
  "28":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.VTdownload
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2b8b5406-f168-42f8-8329-5453f993d398
      iscommand: false
      name: Is download from Virustotal enabled?
      type: condition
      version: -1
    taskid: 2b8b5406-f168-42f8-8329-5453f993d398
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 180,
          "y": 250
        }
      }
  "29":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.AutomatedIndicatorBlocking
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      "yes":
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6a8337d5-09a1-413f-8e01-1137ed24f77b
      iscommand: false
      name: Is automated indicator blocking enabled?
      type: condition
      version: -1
    taskid: 6a8337d5-09a1-413f-8e01-1137ed24f77b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1400
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dbceb339-e5fe-458a-8c03-1d292d6a9524
      iscommand: false
      name: Manually block indicators
      type: regular
      version: -1
    taskid: dbceb339-e5fe-458a-8c03-1d292d6a9524
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -310,
          "y": 1680
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1965,
        "width": 2327.5,
        "x": -737.5,
        "y": -30
      }
    }
  }
