playbook-Cortex_XDR_Malware_-_Investigation_And_Response.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 4.8.1
    packID: CortexXDR
    packName: Palo Alto Networks Cortex XDR - Investigation and Response
    packPropagationLabels:
    - all
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
  This playbook investigates Cortex XDR malware incidents. It uses:\n\n - Cortex XDR insights \n - Command Line Analysis \n - Dedup \n - Sandbox hash search and detonation \n - Cortex XDR enrichment \n - Incident Handling (True/False Positive)
id: Cortex XDR Malware - Investigation And Response
inputs:
- description: Whether the deduplication playbook will be used.
  key: EnableDeduplication
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Whether endpoint isolation is allowed.
  key: AutoIsolation
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Whether file retrieval from the endpoint is allowed.
  key: RetrieveFile
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: The name of the ticketing system to use, for example, Jira, or ServiceNow.
  key: TicketingSystemToUse
  playbookInputQuery: null
  required: false
  value: {}
- description: The ticket project name. (required for Jira).
  key: TicketProjectName
  playbookInputQuery: null
  required: false
  value: {}
- description: The tag to assign for indicators to block.
  key: MaliciousTagName
  playbookInputQuery: null
  required: false
  value:
    simple: MaliciousTagName
- description: Whether the incident will be closed with closure steps or automatically.
  key: EnableClosureSteps
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: A comma-separated list of incident text fields to take into account
    when computing similarity. For example commandline, URL.
  key: DedupSimilarTextField
  playbookInputQuery: null
  required: false
  value:
    simple: agnetsid,users,agentsid,CMDline,Hostnames,filenames,filepaths
- description: Whether automatic un-isolation is allowed.
  key: AutoUnisolation
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: The maximum number of incidents to query and set to context data.
  key: DedupLimit
  playbookInputQuery: null
  required: false
  value:
    simple: "200"
- description: "Defines how to handle Similar incidents. \n Choose between: \"Link\",
    \"Close\", \"Link and Close\".\n Note: Closing incidents requires you to define
    the \"CloseSimilar\" input as well.\n Also, the incidents found by similar indicators
    or fields will be closed if their similarity score is above the CloseSimilar value. "
  key: DedupHandleSimilar
  playbookInputQuery: null
  required: false
  value:
    simple: Link
- description: |-
    Defines the threshold of similarity to close a similar incident. All similar incidents with similarity above this value will be closed.
    For example, if CloseSimilar is set to .8 and an incident has a similarity score of .9, the incident will be closed.
    The value should be between 0 and 1 [0=low similarity , 1=identical].
  key: DedupCloseSimilar
  playbookInputQuery: null
  required: false
  value:
    simple: "0.9"
- description: "Retain incidents with a similarity score greater than the MinimunIncidentSimilarity.
    \   \nValue should be between 0 to 1 [0=low similarity, 1=identical]"
  key: DedupMinimunIncidentSimilarity
  playbookInputQuery: null
  required: false
  value:
    simple: "0.2"
- description: The name of the tag to apply for allowed indicators.
  key: BenignTagName
  playbookInputQuery: null
  required: false
  value:
    simple: BenignTagName
- description: '''Whether to run Advance Hunting queries through your Cortex XDR instance
    using the information on Alert Insights. Note: It may take some time.'''
  key: AdvancedHunting
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Whether to run the Advanced Hunting section for all Mitre Tactics.
  key: RunAllHuntMitreTactics
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Whether file detonation is allowed on the sandbox.
  key: DetonateFile
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
name: Cortex XDR Malware - Investigation And Response
outputs:
- contextPath: PaloAltoNetworksXDR.ScriptResult.results
  description: Palo ALto Networks Script reuslts information.
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "96"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 03514848-ce96-452b-8710-94790985cc56
      iscommand: false
      name: ""
      version: -1
    taskid: 03514848-ce96-452b-8710-94790985cc56
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 460,
          "y": -110
        }
      }
  "6":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.EnableDeduplication
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "98"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Use deduplication?
      id: 7239a8f0-2e91-48f4-8208-fea226a79f93
      iscommand: false
      name: Use deduplication?
      type: condition
      version: -1
    taskid: 7239a8f0-2e91-48f4-8208-fea226a79f93
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 315
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "86"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b073d242-fa24-45de-8edb-05b67dd3fb5a
      iscommand: false
      name: Deduplication Done
      type: title
      version: -1
    taskid: b073d242-fa24-45de-8edb-05b67dd3fb5a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 670
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "103"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c508ecbb-78b0-472e-8e32-21518a810241
      iscommand: false
      name: Sandbox
      type: title
      version: -1
    taskid: c508ecbb-78b0-472e-8e32-21518a810241
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1540,
          "y": 980
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 87748412-4dff-4775-8083-e26099539c68
      iscommand: false
      name: Any prevention actions?
      type: title
      version: -1
    taskid: 87748412-4dff-4775-8083-e26099539c68
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 860,
          "y": 980
        }
      }
  "31":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: PaloAltoNetworksXDR.Incident.alerts.action_pretty
          operator: containsString
          right:
            value:
              simple: block
        - ignorecase: true
          left:
            iscontext: true
            value:
              simple: PaloAltoNetworksXDR.Incident.alerts.action_pretty
          operator: containsString
          right:
            value:
              simple: prevent
      label: Prevention
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "33"
      Prevention:
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there were any prevention actions?
      id: eb525f1c-42eb-4ad0-8ca7-a8f275fe3083
      iscommand: false
      name: Check if there were any prevention Actions?
      type: condition
      version: -1
    taskid: eb525f1c-42eb-4ad0-8ca7-a8f275fe3083
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 860,
          "y": 1100
        }
      }
  "32":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: alerts.action_pretty
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: PaloAltoNetworksXDR.Incident.file_artifacts.file_sha256
                    operator: in
                    right:
                      iscontext: true
                      value:
                        simple: File(val.Malicious).SHA256
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: PaloAltoNetworksXDR.Incident.file_artifacts.file_wildfire_verdict
                    operator: isEqualString
                    right:
                      value:
                        simple: Malicious
                root: PaloAltoNetworksXDR.Incident
          operator: containsString
          right:
            value:
              simple: Block
        - left:
            iscontext: true
            value:
              complex:
                accessor: alerts.action_pretty
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: PaloAltoNetworksXDR.Incident.file_artifacts.file_sha256
                    operator: in
                    right:
                      iscontext: true
                      value:
                        simple: File(val.Malicious).SHA256
                  - left:
                      iscontext: true
                      value:
                        simple: PaloAltoNetworksXDR.Incident.file_artifacts.file_wildfire_verdict
                    operator: isEqualString
                    right:
                      value:
                        simple: Malicious
                root: PaloAltoNetworksXDR.Incident
          operator: isEqualString
          right:
            value:
              simple: Prevent
      label: "yes"
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "80"
      "yes":
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was the malicious hash Blocked?
      id: 398ce057-0d68-4587-84a3-302f49f6a2c1
      iscommand: false
      name: Was the malicious hash Blocked?
      type: condition
      version: -1
    taskid: 398ce057-0d68-4587-84a3-302f49f6a2c1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 860,
          "y": 1480
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "54"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a28038ed-d65a-4946-8f05-61e0a1841747
      iscommand: false
      name: Manual Review if needed to proceed with the investigation
      type: title
      version: -1
    taskid: a28038ed-d65a-4946-8f05-61e0a1841747
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1825
        }
      }
  "36":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Malware Investigation Summary
      output:
        simple: ${InvestigationSummary}
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "116"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieves information from previously run reputation commands and
        aggregates their results.
      id: 93e5b41b-313b-455d-8b02-16684ed88e90
      iscommand: false
      name: Parse Finding from the sandboxes
      script: InvestigationSummaryParse
      type: regular
      version: -1
    taskid: 93e5b41b-313b-455d-8b02-16684ed88e90
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1810,
          "y": 2400
        }
      }
  "37":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.RetrieveFile
          operator: isEqualString
          right:
            value:
              simple: "true"
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: Status
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: Endpoint.ID
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: incident.deviceid
                root: Endpoint
          operator: isEqualString
          right:
            value:
              simple: Online
      label: "yes"
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "40"
      "yes":
      - "119"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is file retrieval allowed?
      id: 43f13bea-dd81-47de-865d-68b71f0f15a5
      iscommand: false
      name: Is file retrieval allowed?
      type: condition
      version: -1
    taskid: 43f13bea-dd81-47de-865d-68b71f0f15a5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 1550
        }
      }
  "38":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: NonFoundHashes
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "41"
      "yes":
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Were there any hashes without a verdict?
      id: 8908f561-46fe-45ff-8d96-97c90e0d0d1e
      iscommand: false
      name: Were there any hashes without a verdict?
      type: condition
      version: -1
    taskid: 8908f561-46fe-45ff-8d96-97c90e0d0d1e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1540,
          "y": 1250
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0bd588e1-5e70-4cc3-8496-c8d8275edc8a
      iscommand: false
      name: Parse Findings
      type: title
      version: -1
    taskid: 0bd588e1-5e70-4cc3-8496-c8d8275edc8a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1810,
          "y": 2270
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5cbb7d7c-fcf2-4b27-82da-4fe79662f3b0
      iscommand: false
      name: Known File
      type: title
      version: -1
    taskid: 5cbb7d7c-fcf2-4b27-82da-4fe79662f3b0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1810,
          "y": 1430
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: daa56ac7-0f8d-4f65-8729-ceba63de08db
      iscommand: false
      name: Unknown File
      type: title
      version: -1
    taskid: daa56ac7-0f8d-4f65-8729-ceba63de08db
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 1430
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      scriptArguments:
        File:
          complex:
            filters:
            - - ignorecase: true
                left:
                  iscontext: true
                  value:
                    simple: File.Extension
                operator: notContainsString
                right:
                  value:
                    simple: gz
            - - ignorecase: true
                left:
                  iscontext: true
                  value:
                    simple: File.Name
                operator: notContainsString
                right:
                  value:
                    simple: Investigation_package_incident
            root: File
      wait: 1
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    scriptarguments:
      File:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          - - left:
                iscontext: true
                value:
                  simple: File.SHA256
              operator: in
              right:
                iscontext: true
                value:
                  simple: NonFoundHashes
          - - left:
                iscontext: true
                value:
                  simple: File.Size
              operator: greaterThan
              right:
                value:
                  simple: "0"
          root: File
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: 'This playbook uploads, detonates, and analyzes files for supported
        sandboxes. Currently supported sandboxes are Falcon X and Wildfire. '
      id: 0393eb98-0907-4520-8449-62779a20ffb7
      iscommand: false
      name: Detonate and Analyze File - Generic
      playbookId: Detonate and Analyze File - Generic
      type: playbook
      version: -1
    taskid: 0393eb98-0907-4520-8449-62779a20ffb7
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 2100
        }
      }
  "47":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.DetonateFile
          operator: isEqualString
          right:
            value:
              simple: "true"
      - - left:
            iscontext: true
            value:
              simple: File.EntryID
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "40"
      "yes":
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is Detonate Allowed?
      id: 21e99fbd-2389-4d47-8e5a-2f0f4e9737ef
      iscommand: false
      name: Is Detonate Allowed?
      type: condition
      version: -1
    taskid: 21e99fbd-2389-4d47-8e5a-2f0f4e9737ef
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 1940
        }
      }
  "54":
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "97"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eb6188f8-8fb9-49e8-8e92-0a6ddb9fc8e2
      iscommand: false
      name: Conclusion
      type: title
      version: -1
    taskid: eb6188f8-8fb9-49e8-8e92-0a6ddb9fc8e2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2730
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c46885a3-faae-423d-822b-57c47a3726d6
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: c46885a3-faae-423d-822b-57c47a3726d6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3590
        }
      }
  "62":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: 'Incident Classification '
        options: []
        optionsarg:
        - simple: Manual
        - simple: True Positive
        - simple: False Positive
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Comment
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: Please enter information
        type: shortText
      sender: ""
      title: Incident Classification
      totalanswers: 0
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc:
        simple: Administrator,Analyst
      format: ""
      methods: []
      replyOptions:
      - True Positive
      - False Positive
      subject:
        simple: Is this incident FP
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Administrator,Analyst
    nexttasks:
      '#none#':
      - "104"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: False / True Positive
      id: 6e2e9ef3-b669-426c-8f35-21fc3962bb29
      iscommand: false
      name: False / True Positive
      type: collection
      version: -1
    taskid: 6e2e9ef3-b669-426c-8f35-21fc3962bb29
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -190,
          "y": 3060
        }
      }
  "78":
    continueonerrortype: ""
    id: "78"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set multiple keys/values to the context.
      id: 3c336394-a01a-4c91-8c64-1c28ce985e87
      iscommand: false
      name: Dedup
      type: title
      version: -1
    taskid: 3c336394-a01a-4c91-8c64-1c28ce985e87
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 190
        }
      }
  "80":
    continueonerrortype: ""
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "54"
    note: false
    quietmode: 0
    scriptarguments:
      appendTags:
        simple: "true"
      severity:
        simple: High
      tags:
        simple: Containment Occured
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 6cb07444-2862-4fdf-81bc-6ae109c51f1f
      iscommand: true
      name: Raise the incident severity
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 6cb07444-2862-4fdf-81bc-6ae109c51f1f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 860,
          "y": 1810
        }
      }
  "86":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: Endpoint.Status
          operator: isNotEqualString
          right:
            value:
              simple: Isolated
      label: "yes"
    continueonerrortype: ""
    id: "86"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "33"
      "yes":
      - "26"
      - "27"
      - "91"
      - "112"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the device is not isolated?
      id: b71252a9-3204-4ae8-87a2-d64bfcf23578
      iscommand: false
      name: Check if the device is not isolated?
      type: condition
      version: -1
    taskid: b71252a9-3204-4ae8-87a2-d64bfcf23578
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 810
        }
      }
  "91":
    continueonerrortype: ""
    id: "91"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "95"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 547db906-038c-49bc-8734-d02ecbf9c824
      iscommand: false
      name: Command Line Analysis
      type: title
      version: -1
    taskid: 547db906-038c-49bc-8734-d02ecbf9c824
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -20,
          "y": 980
        }
      }
  "92":
    continueonerrortype: ""
    id: "92"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      scriptArguments:
        Commandline:
          complex:
            accessor: cmdline
            root: incident
            transformers:
            - operator: uniq
      wait: 1
    nexttasks:
      '#none#':
      - "93"
    note: false
    quietmode: 0
    scriptarguments:
      Commandline:
        complex:
          accessor: cmdline
          root: incident
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: incident.parentcmdline
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: incident.processcmd
            operator: append
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook takes the command line from the alert and performs
        the following actions:\n - Checks for base64 string and decodes if exists\n
        - Extracts and enriches indicators from the command line\n - Checks specific
        arguments for malicious usage \n\n At the end of the playbook, it sets a possible
        verdict for the command line, based on the finding:\n 1. Indicators found
        in the command line\n 2. Found AMSI techniques\n 3. Found suspicious parameters\n
        4. Usage of malicious tools\n 5. Indication of network activity"
      id: a0be4fa5-8fc1-4c2c-89ef-94f29bfbeac9
      iscommand: false
      name: Command-Line Analysis
      playbookId: Command-Line Analysis
      type: playbook
      version: -1
    taskid: a0be4fa5-8fc1-4c2c-89ef-94f29bfbeac9
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -20,
          "y": 1290
        }
      }
  "93":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: CommandlineVerdict
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "93"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "33"
      "yes":
      - "94"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Found any suspicious components?
      id: d0155e96-ea9d-49c1-8272-a0483b798874
      iscommand: false
      name: Found any suspicious components?
      type: condition
      version: -1
    taskid: d0155e96-ea9d-49c1-8272-a0483b798874
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -20,
          "y": 1445
        }
      }
  "94":
    continueonerrortype: ""
    id: "94"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      appendTags:
        simple: "true"
      tags:
        complex:
          root: CommandlineVerdict
          transformers:
          - operator: Stringify
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: '"(\w*)":'
              unpack_matches: {}
            operator: RegexExtractAll
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 79fde98b-309b-4a8d-8c0a-ab88a9053433
      iscommand: true
      name: Set Tag `Suspicious Command-line`
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 79fde98b-309b-4a8d-8c0a-ab88a9053433
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -20,
          "y": 1635
        }
      }
  "95":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: cmdline
                root: incident
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: incident.parentcmdline
                  operator: append
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: incident.processcmd
                  operator: append
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "95"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "33"
      "yes":
      - "92"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a CMD line parameter?
      id: c40da1cf-71b4-4c76-8381-4ef60d6f7ca2
      iscommand: false
      name: Is there a CMD line parameter?
      type: condition
      version: -1
    taskid: c40da1cf-71b4-4c76-8381-4ef60d6f7ca2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -20,
          "y": 1130
        }
      }
  "96":
    continueonerrortype: ""
    id: "96"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "78"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 4e51599e-c92d-40af-8c8a-12a33b0c8599
      iscommand: false
      name: Cortex XDR Malware - Incident Enrichment
      playbookId: Cortex XDR Malware - Incident Enrichment
      type: playbook
      version: -1
    taskid: 4e51599e-c92d-40af-8c8a-12a33b0c8599
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 20
        }
      }
  "97":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.EnableClosureSteps
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "60"
      "yes":
      - "62"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Proceed To Closure Steps?
      id: b34fbba7-3ea3-499e-8218-8e3024ad0a6a
      iscommand: false
      name: Proceed To Closure Steps?
      type: condition
      version: -1
    taskid: b34fbba7-3ea3-499e-8218-8e3024ad0a6a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2890
        }
      }
  "98":
    continueonerrortype: ""
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      CloseSimilar:
        simple: ${inputs.DedupCloseSimilar}
      closeReason:
        simple: Closed by Dedup Playbook within inc ${incident.id}
      fromDate:
        simple: 1 months ago
      handleSimilar:
        simple: ${inputs.DedupHandleSimilar}
      limit:
        simple: ${inputs.DedupLimit}
      method:
        simple: Fields and Indicators
      minimunIncidentSimilarity:
        simple: ${inputs.DedupMinimunIncidentSimilarity}
      query:
        simple: -status:closed -category:job
      showIncidentSimilarityForAllFields:
        simple: "True"
      similarTextField:
        simple: ${inputs.DedupSimilarTextField}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook identifies duplicate incidents using the Cortex
        XSOAR machine learning method (script).\nIn this playbook, you can choose
        fields and/or indicators to be compared against other incidents in the Cortex
        XSOAR database. \n\nNote: To identify similar incidents you must *must* properly
        define the playbook inputs. "
      id: c485ca03-2c5a-4760-88e8-c706a8a6a125
      iscommand: false
      name: Dedup - Generic v4
      playbookId: Dedup - Generic v4
      type: playbook
      version: -1
    taskid: c485ca03-2c5a-4760-88e8-c706a8a6a125
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 740,
          "y": 490
        }
      }
  "103":
    continueonerrortype: ""
    id: "103"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    scriptarguments:
      FileSha256:
        simple: ${incident.filesha256}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 750fec0d-f3f9-4d2c-837c-85d7895672b3
      iscommand: false
      name: Search For Hash In Sandbox - Generic
      playbookId: Search For Hash In Sandbox - Generic
      type: playbook
      version: -1
    taskid: 750fec0d-f3f9-4d2c-837c-85d7895672b3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1540,
          "y": 1090
        }
      }
  "104":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: Incident Classification.Questions.0
          operator: containsString
          right:
            value:
              simple: "False"
      label: False Positive
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: Incident Classification.Questions.0
          operator: containsString
          right:
            value:
              simple: ture
      label: True Positive
    continueonerrortype: ""
    id: "104"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "105"
      False Positive:
      - "107"
      True Positive:
      - "106"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check Classification
      id: bd432431-6cb0-449d-8b76-e14e84bb6938
      iscommand: false
      name: Check Classification
      type: condition
      version: -1
    taskid: bd432431-6cb0-449d-8b76-e14e84bb6938
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -190,
          "y": 3220
        }
      }
  "105":
    continueonerrortype: ""
    id: "105"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manual handling of this incident per your procedures.
      id: 09c3626d-9e58-4d23-89d2-84b7534abba0
      iscommand: false
      name: Manual Handling
      type: regular
      version: -1
    taskid: 09c3626d-9e58-4d23-89d2-84b7534abba0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -190,
          "y": 3410
        }
      }
  "106":
    continueonerrortype: ""
    id: "106"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    scriptarguments:
      AutoIsolation:
        simple: ${inputs.AutoIsolation}
      BlockTag:
        simple: ${inputs.MaliciousTagName}
      Classification:
        simple: ${Incident Classification.Answers.0}
      Comment:
        simple: ${Incident Classification.Answers.1}
      TicketProjectName:
        simple: ${inputs.TicketProjectName}
      TicketingSystemToUse:
        simple: ${inputs.TicketingSystemToUse}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 5764287b-0385-48a7-8881-53afe82d8e19
      iscommand: false
      name: Cortex XDR - True Positive Incident Handling
      playbookId: Cortex XDR - True Positive Incident Handling
      type: playbook
      version: -1
    taskid: 5764287b-0385-48a7-8881-53afe82d8e19
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -590,
          "y": 3410
        }
      }
  "107":
    continueonerrortype: ""
    id: "107"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    scriptarguments:
      AllowTag:
        simple: ${inputs.BenignTagName}
      AutoUnisolation:
        simple: ${inputs.AutoUnisolation}
      Comment:
        simple: 'XSOAR Incident #${incident.id}'
      FileSha256:
        simple: ${incident.filesha256}
      HostID:
        simple: ${incident.deviceid}
      Reason:
        simple: ${Incident Classification.Answers.0}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 2fb8d295-ed06-45b3-8621-75606bdf7ba3
      iscommand: false
      name: Cortex XDR - False Positive Incident Handling
      playbookId: Cortex XDR - False Positive Incident Handling
      type: playbook
      version: -1
    taskid: 2fb8d295-ed06-45b3-8621-75606bdf7ba3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 220,
          "y": 3410
        }
      }
  "112":
    continueonerrortype: ""
    id: "112"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "115"
      - "118"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8b19c108-3207-47a8-8ed3-45820386df70
      iscommand: false
      name: Advanced Hunting
      type: title
      version: -1
    taskid: 8b19c108-3207-47a8-8ed3-45820386df70
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -680,
          "y": 980
        }
      }
  "113":
    continueonerrortype: ""
    id: "113"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      FileSHA256:
        complex:
          accessor: filesha256
          root: incident
          transformers:
          - operator: uniq
      HuntCnCTechniques:
        simple: "True"
      HuntCollectionTechniques:
        simple: "True"
      HuntDefenseEvasionTechniques:
        simple: "True"
      HuntDiscoveryTechniques:
        simple: "True"
      HuntExecutionTechniques:
        simple: "True"
      HuntImpactTechniques:
        simple: "True"
      HuntInitialAccessTechniques:
        simple: "True"
      HuntLateralMovementTechniques:
        simple: "True"
      HuntPersistenceTechniques:
        simple: "True"
      HuntPrivilegeEscalationTechniques:
        simple: "True"
      HuntReconnaissanceTechniques:
        simple: "True"
      RunAll:
        simple: ${inputs.RunAllHuntMitreTactics}
      agentID:
        complex:
          accessor: agentsid
          root: incident
          transformers:
          - operator: uniq
      timeRange:
        simple: 2 hours ago
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook handles all the endpoint investigation actions available
        with Cortex XSIAM, including the following tasks:\n * Pre-defined MITRE Tactics\n
        * Host fields (host ID)\n * Attacker fields (attacker IP, external host)\n
        * MITRE techniques\n * File hash (currently, the playbook supports only SHA256)
        \ \n\n Note: The playbook inputs enable manipulating the execution flow; read
        the input descriptions for details."
      id: 21d73985-7158-4380-837e-dfda0839f413
      iscommand: false
      name: Cortex XDR - Endpoint Investigation
      playbookId: Cortex XDR - Endpoint Investigation
      type: playbook
      version: -1
    taskid: 21d73985-7158-4380-837e-dfda0839f413
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -1140,
          "y": 1310
        }
      }
  "115":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.AdvancedHunting
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "115"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "33"
      "yes":
      - "113"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Should run Advanced Hunting?
      id: 9b357391-5142-479d-86dc-f4a9efc3a3b9
      iscommand: false
      name: Should run Advanced Hunting?
      type: condition
      version: -1
    taskid: 9b357391-5142-479d-86dc-f4a9efc3a3b9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -890,
          "y": 1130
        }
      }
  "116":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Malware Detailed Investigation Summary
      output:
        simple: ${InvestigationDetailedSummary}
    id: "116"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "54"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Parses attacks from context, and shows them according to the MITRE
        technique they use.
      id: c3b3a38b-5691-435a-8e02-7577ec75cf88
      iscommand: false
      name: Parse Findings From the Sandbox
      script: InvestigationDetailedSummaryParse
      type: regular
      version: -1
    taskid: c3b3a38b-5691-435a-8e02-7577ec75cf88
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1810,
          "y": 2560
        }
      }
  "117":
    continueonerrortype: ""
    id: "117"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_ids:
        simple: ${incident.deviceid}
      polling_timeout:
        simple: "10"
      script_uid:
        simple: 956e8989f67ebcb2c71c4635311e47e4
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Initiates a new endpoint script execution action using a provided
        script unique ID from the Cortex XDR script library.
      id: 62c8c712-706c-465c-8bc7-ef039323df5f
      iscommand: false
      name: Cortex XDR - Run script
      playbookId: Cortex XDR - Run script
      type: playbook
      version: -1
    taskid: 62c8c712-706c-465c-8bc7-ef039323df5f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -680,
          "y": 1310
        }
      }
  "118":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: Status
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: Endpoint.ID
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: incident.deviceid
                root: Endpoint
          operator: isEqualString
          right:
            value:
              simple: Online
      label: "yes"
    continueonerrortype: ""
    id: "118"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "33"
      "yes":
      - "117"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the device is online.
      id: 16932e65-b66b-4717-8cb3-6c9fb0480777
      iscommand: false
      name: Check if the device is online
      type: condition
      version: -1
    taskid: 16932e65-b66b-4717-8cb3-6c9fb0480777
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -470,
          "y": 1130
        }
      }
  "119":
    continueonerrortype: ""
    id: "119"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 2
    nexttasks:
      '#none#':
      - "47"
    note: false
    quietmode: 0
    scriptarguments:
      Sha256:
        complex:
          root: NonFoundHashes
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.
        This playbook is a sub-playbook for the Cortex XDR malware investigation flow. In this playbook, we retrieve multiple files from the investigated device (using the Device ID incident field), based on their SHA256 hash.
      id: 121449aa-3494-4cea-869d-7080c78dcadf
      iscommand: false
      name: Cortex XDR - Retrieve File by SHA256
      playbookId: Cortex XDR - Retrieve File by sha256
      type: playbook
      version: -1
    taskid: 121449aa-3494-4cea-869d-7080c78dcadf
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 1775
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "31_33_#default#": 0.1,
      "32_33_yes": 0.68,
      "6_8_#default#": 0.5,
      "86_33_#default#": 0.11
    },
    "paper": {
      "dimensions": {
        "height": 3765,
        "width": 3330,
        "x": -1140,
        "y": -110
      }
    }
  }
