playbook-Inner_Loop.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: dec60c8a-04f0-4e91-8206-88dcd94ed5fe
inputs: []
name: Inner Loop
outputs:
- contextPath: Flag
  type: boolean
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 562353d4-addc-4716-800f-b658117c2e54
      iscommand: false
      name: ""
      version: -1
    taskid: 562353d4-addc-4716-800f-b658117c2e54
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    defaultassigneecomplex:
      simple: admin
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: Start
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: bd8bcf99-89f5-48b0-88fa-0c451bde6c19
      iscommand: false
      name: Start
      script: Print
      type: regular
      version: -1
    taskid: bd8bcf99-89f5-48b0-88fa-0c451bde6c19
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 200
        }
      }
  "2":
    continueonerrortype: ""
    defaultassigneecomplex:
      simple: admin
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: 'Counter is: ${counter}'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: ca1c7653-7960-4748-8b85-81d06a2ac603
      iscommand: false
      name: Print counter
      script: Print
      type: regular
      version: -1
    taskid: ca1c7653-7960-4748-8b85-81d06a2ac603
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 770
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: counter
      value:
        complex:
          root: counter
          transformers:
          - args:
              by:
                value:
                  simple: "1"
            operator: addition
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 62da9370-be45-4f7e-82a0-c11a1682fa5a
      iscommand: false
      name: Increase counter
      script: Set
      type: regular
      version: -1
    taskid: 62da9370-be45-4f7e-82a0-c11a1682fa5a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 470
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 815,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }
