playbook-Malware_-_Investigation_and_Response_Generic.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.2.0
    itemVersion: 1.1.1
    packID: MalwareInvestigationAndResponse
    packName: Malware Investigation and Response
    packPropagationLabels:
    - all
    propagationLabels: []
    toServerVersion: ""
description: This playbook is triggered by a malware incident from an ‘Endpoint’ type
  integration. The playbook performs enrichment, detonation, and hunting within the
  organization, and remediation on the malware.
id: Malware - Investigation and Response Generic
inputs:
- description: Values can be CrowdStrike, XDR, Microsoft Defender
  key: EDRProductToUse
  playbookInputQuery: null
  required: true
  value:
    simple: XDR
- description: "Indicates if file retrieval from the endpoint is allowed. \nTrue/False"
  key: RetrieveFile
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Indicates if file detonation is allowed on the sandbox.
    True/False
  key: DetonateFile
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: |-
    Indicates if the deduplication playbook will be used.
    True/False
  key: EnableDeduplication
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Indicates if file deletions is allowed on the endpoint. The user will still specify the file path for which to remove
    True/False
  key: AllowFileDeletion
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: The name of the ticketing system to use, for example Jira or ServiceNow
  key: TicketingSystemToUse
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    The action to be taken by the EDR for the IOC
    Select one of the following
    For CrowdStrike
    no_action,allow,prevent_no_ui,prevent,detect
  key: EDRActionForMaliciousIOC
  playbookInputQuery: null
  required: false
  value:
    simple: no_action
- description: The tag to assign for indicators to block.
  key: MaliciousTagName
  playbookInputQuery: null
  required: false
  value:
    simple: Bad_Indicator
- description: The description to by used by the ticketing system.
  key: TicketDescription
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Indicates if host isolation is allowed.
    True/False
  key: IsolationAllowed
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Indicates if automatic un-isolation is allowed
    True/False
  key: AllowAutomaticUnisolation
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: The name of the tag to apply for allowed indicators.
  key: BenignTagName
  playbookInputQuery: null
  required: false
  value:
    simple: Good_Indicator
- description: The name of the field that specifies the type of the alert. For example
    in CrowdStrike this specified if this is a detection or incident.
  key: SIEMincidentFieldForType
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.externalcategoryname}
- description: The name of the field that provides the external id of the alert or
    incident in the EDR.
  key: SIEMincidentFieldForID
  playbookInputQuery: null
  required: false
  value:
    simple: ${incident.externalsystemid}
- description: 1-25,26-50,51-75,76-100
  key: SIEMScaleToSetSeverity
  playbookInputQuery: null
  required: false
  value: {}
- description: ""
  key: SIEMSeverityValues
  playbookInputQuery: null
  required: false
  value:
    simple: 1,2,3,4
- description: For ticketing systems such as Jira a project name is required.
  key: TicketProjectName
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Indicates if use of closure steps is allow or incident will close automatically.
    True/False
  key: EnableClosureSteps
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: The comment to use in case of a false positive detection.
  key: EDRFalsePositiveComment
  playbookInputQuery: null
  required: false
  value:
    simple: False Positive
- description: |-
    Indicates if blocking the IOC is allowed
    True/False
  key: AllowIOCBlock
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: The comment to use in case of a true positive detection.
  key: EDRTruePositiveComment
  playbookInputQuery: null
  required: false
  value:
    simple: True Positive
- description: "Choose if you would like to autorun action to collect Investigation
    Package from an Endpoint (Affects only MSDE PB). \nPossible values: True/ False"
  key: AutoCollectinvestigationPackege
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: "Option for input ( can be entered as comma-separated values): `Full
    Scan` - Fully Scan the provided endpoint/s \n`Collect Investigation Package` -
    Collect investigation package from endpoint/s (only for supported devices) \n`Automated
    Investigation` - Run Automated Investigation on the provided endpoint"
  key: ActionTask
  playbookInputQuery: null
  required: false
  value:
    simple: Full Scan
- description: |-
    Choose if you would like to autorun a Full AV Scan on your Endpoint.
    Possible values: True/ False
  key: AutoAVScan
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: 'Choose if you would like to autorun Automated Investigation on your
    Endpoint. Possible values: True/ False'
  key: AutoAutomatedInvestigation
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: "\"Please choose if you would like to allow IOC (sh256) in the system
    (by using a tag)/In the EDR. By setting it to True, you will be asked which incident
    SHA256 files will be approved. \nPossible values: True/False\""
  key: ApproveIOC
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: |-
    Choose if you would like to run automatically Investigation Activities. (This relies on `ActionTask` input ).
    Possible values: True/False
  key: RunInvestigationActivities
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Choose if you want to run Advance Hunting queries through your Microsoft
    Defender For Endpoint Instance. Note that it may take some time.
  key: AdvancedHunting
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: "\"This input defines how to handle Similar incidents. \nYou may choose
    between: \"\"Link\"\", \"\"Close\"\", \"\"Link and Close\"\".\nNote: that closing
    incidents will require you to define \"\"CloseSimilar\"\" input as well.\nAlso,
    note that the closer will apply on at least one of the options (indicators or
    fields) which will match the \"\"closer percentage\"\" criteria.\nDefault: Link
    \""
  key: handleSimilar
  playbookInputQuery: null
  required: false
  value:
    simple: Link
- description: |-
    "Define if you would like to close incidents by a similarity percentage. The percentage will be the bottom border for closing inc.
    This option will close also exact matches as well ( if there are).
    Value should be between 0 to 1 [0=low similarity , 1=identical]"
  key: CloseSimilar
  playbookInputQuery: null
  required: false
  value:
    simple: "0.9"
- description: Choose the way you want to identify similar incidents. Choose between
    "Indicators" / "Fields" / "Fields and Indicators".
  key: method
  playbookInputQuery: null
  required: false
  value:
    simple: Fields and Indicators
- description: "Please select those incident types which you would like to be *equal*
    on queried incidents. \nFor example - if you put <Type>, the PB will query against
    the DB for all the incidents with the same type as your current incident.\nIf
    you are using comma-separated values - please remember that the operator between
    them will be *AND*."
  key: fieldExactMatch
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Comma-separated list of additional incident fields to display in the context output. Those fields can be used later on for Layouts or other states if needed.
    (Those which will not be taken into account when computing similarity)
  key: fieldsToDisplay
  playbookInputQuery: null
  required: false
  value: {}
- description: The start date by which to filter incidents. Date format will be the
    same as in the incidents query page, for example, "3 days ago", "1 months ago",
    "2019-01-01T00:00:00 +0200").
  key: fromDate
  playbookInputQuery: null
  required: false
  value:
    simple: 1 months ago
- description: |-
    Retain incidents with a similarity score that's higher than the MinimunIncidentSimilarity.
    Default: 0.2
    Value should be between 0 to 1 [0=low similarity, 1=identical]
  key: limit
  playbookInputQuery: null
  required: false
  value:
    simple: "0.2"
- description: Comma-separated list of incident text fields to take into account when
    computing similarity. For example commandline, URL
  key: similarTextField
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Whether to display the similarity score for each of the incident fields that was entered in the "similarTextField".
    Default: True
  key: showIncidentSimilarityForAllFields
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: |-
    The argument for dedicated query on incidents. This helps reduce the query size.
    Default (same is in the Incident tab): "-status:closed -category:job "
  key: query
  playbookInputQuery: null
  required: false
  value:
    simple: -status:closed -category:job
- description: Please specify the reason for closing an incident. This information
    will be added as a note/comment to the closed incident.
  key: closeReason
  playbookInputQuery: null
  required: false
  value:
    simple: Closed by Dedup Playbook within inc ${incident.id}
- description: |-
    Indicates if adding to allow list is globally
    If specified False provide an input for the AllowHostGroup input with the group name.
    True/False
  key: ApplyAllowIOCGlobally
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: The name of the allow list group to apply in case ApplyAllowIOCGlobally
    isn't set as True.
  key: AllowHostGroupName
  playbookInputQuery: null
  required: false
  value: {}
name: Malware - Investigation and Response Generic
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1f75aeb7-9732-4459-8d06-72042ae5e03f
      iscommand: false
      name: ""
      version: -1
    taskid: 1f75aeb7-9732-4459-8d06-72042ae5e03f
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": -930
        }
      }
  "1":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.EDRProductToUse
          operator: containsString
          right:
            value:
              simple: Crowdstrike
      label: Crowdstrike Falcon
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.EDRProductToUse
          operator: containsString
          right:
            value:
              simple: Microsoft Defender
      label: Microsoft Defender For Endpoint
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.EDRProductToUse
          operator: containsString
          right:
            value:
              simple: XDR
      label: PaloAlto XDR
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      Crowdstrike Falcon:
      - "15"
      Microsoft Defender For Endpoint:
      - "16"
      PaloAlto XDR:
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the the EDR brand
      id: 919dda1a-a306-4042-8d18-87c0ab6d2590
      iscommand: false
      name: 'Which Brand Should be used? '
      type: condition
      version: -1
    taskid: 919dda1a-a306-4042-8d18-87c0ab6d2590
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 40
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      AllowAutomaticUnisolation:
        simple: ${inputs.AllowAutomaticUnisolation}
      AllowFileDeletion:
        simple: ${inputs.AllowFileDeletion}
      AllowIOCBlock:
        simple: ${inputs.AllowIOCBlock}
      AllowIOCTagName:
        simple: ${inputs.BenignTagName}
      ApplyAllowIOCGlobally:
        simple: "True"
      BlockIOCTagName:
        simple: ${inputs.MaliciousTagName}
      DetonateFile:
        simple: ${inputs.DetonateFile}
      DidAlertOriginateFromSIEM:
        simple: ${SiemAlert}
      EDRFalsePositiveComment:
        simple: ${inputs.EDRFalsePositiveComment}
      EDRTruePositiveComment:
        simple: ${inputs.EDRTruePositiveComment}
      EnableClosureSteps:
        simple: ${inputs.EnableClosureSteps}
      EnableDeduplication:
        simple: ${inputs.EnableDeduplication}
      IsolationAllowed:
        simple: ${inputs.IsolationAllowed}
      RetrieveFile:
        simple: ${inputs.RetrieveFile}
      TicketDescription:
        simple: ${inputs.TicketDescription}
      TicketProjectName:
        simple: ${inputs.TicketProjectName}
      TicketingSystemToUse:
        simple: ${inputs.TicketingSystemToUse}
      closeReason:
        simple: Closed by Dedup Playbook within inc ${incident.id}
      fromDate:
        simple: 1 months ago
      handleSimilar:
        simple: Link
      limit:
        simple: "0.2"
      method:
        simple: Fields and Indicators
      query:
        simple: -status:closed -category:job
      showIncidentSimilarityForAllFields:
        simple: "True"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Remove unzip X
        Remove source brand test
        Incident type
        Mapper
        FalconXX across all sub playbooks
        check unziping
      id: 1c164739-df81-4ed8-804a-d79e77104fbd
      iscommand: false
      name: CrowdStrike Falcon - Investigation And Response
      playbookName: CrowdStrike Falcon - Investigation And Response
      type: playbook
      version: -1
    taskid: 1c164739-df81-4ed8-804a-d79e77104fbd
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 730,
          "y": 350
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 092ad2c1-01b1-4c43-8aa4-25306a231bcd
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 092ad2c1-01b1-4c43-8aa4-25306a231bcd
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 520
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      keys:
        simple: BlockTag,AllowTag
      parent:
        simple: Tags
      values:
        simple: ${inputs.MaliciousTagName},${inputs.BenignTagName}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set multiple keys/values to the context.
      id: d4fbf85a-acd0-4743-80df-13f1c5a9b8bb
      iscommand: false
      name: Set Tags Inputs To Context
      script: SetMultipleValues
      type: regular
      version: -1
    taskid: d4fbf85a-acd0-4743-80df-13f1c5a9b8bb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": -780
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      ActionTask:
        simple: ${inputs.ActionTask}
      AdvancedHunting:
        simple: ${inputs.AdvancedHunting}
      AllowAutomaticUnisolation:
        simple: ${inputs.AllowAutomaticUnisolation}
      AllowFileDeletion:
        simple: ${inputs.AllowFileDeletion}
      ApproveIOC:
        simple: ${inputs.ApproveIOC}
      AutoAVScan:
        simple: ${inputs.AutoAVScan}
      AutoAutomatedInvestigation:
        simple: ${inputs.AutoAutomatedInvestigation}
      AutoCollectinvestigationPackege:
        simple: ${inputs.AutoCollectinvestigationPackege}
      BenignTagName:
        simple: ${inputs.BenignTagName}
      CloseSimilar:
        simple: ${inputs.CloseSimilar}
      DetonateFile:
        simple: ${inputs.DetonateFile}
      EnableClosureSteps:
        simple: ${inputs.EnableClosureSteps}
      EnableDeduplication:
        simple: ${inputs.EnableDeduplication}
      IsolationAllowed:
        simple: ${inputs.IsolationAllowed}
      MaliciousTagName:
        simple: ${inputs.MaliciousTagName}
      RetrieveFile:
        simple: ${inputs.RetrieveFile}
      RunInvestigationActivities:
        simple: ${inputs.RunInvestigationActivities}
      TicketProjectName:
        simple: ${inputs.TicketProjectName}
      TicketingSystemToUse:
        simple: ${inputs.TicketingSystemToUse}
      handleSimilar:
        simple: ${inputs.handleSimilar}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b6bd9e60-ec18-4648-8903-1de5a281c262
      iscommand: false
      name: Microsoft Defender For Endpoint - Investigation and Response
      playbookName: Microsoft Defender For Endpoint - Investigation and Response
      type: playbook
      version: -1
    taskid: b6bd9e60-ec18-4648-8903-1de5a281c262
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 160,
          "y": 350
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 5c10eb04-615f-4a31-8e20-a21fbbaaec41
      iscommand: false
      name: Cortex XDR - Malware Investigation And Response
      playbookName: Cortex XDR - Malware Investigation And Response
      type: playbook
      version: -1
    taskid: 5c10eb04-615f-4a31-8e20-a21fbbaaec41
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 350
        }
      }
  "11":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: incident.sourceBrand
          operator: isEqualString
          right:
            value:
              simple: SplunkPy
        - ignorecase: true
          left:
            iscontext: true
            value:
              simple: incident.sourceBrand
          operator: containsGeneral
          right:
            value:
              simple: QRadar
      label: SIEM
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      SIEM:
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the source of the incident
      id: 82c1a3fc-58c5-44c2-82fd-2139bc0eced3
      iscommand: false
      name: Did alert arrive from a SIEM?
      type: condition
      version: -1
    taskid: 82c1a3fc-58c5-44c2-82fd-2139bc0eced3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": -600
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0f73fd07-0f7e-4a16-8764-a4f4946822ab
      iscommand: false
      name: SIEM
      type: title
      version: -1
    taskid: 0f73fd07-0f7e-4a16-8764-a4f4946822ab
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 880,
          "y": -430
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      EDRProductToUse:
        simple: ${inputs.EDRProductToUse}
      SIEMScaleToSetSeverity:
        simple: ${inputs.SIEMScaleToSetSeverity}
      SIEMSeverityValues:
        simple: ${inputs.SIEMSeverityValues}
      SIEMincidentFieldForID:
        simple: ${inputs.SIEMincidentFieldForID}
      SIEMincidentFieldForType:
        simple: ${inputs.SIEMincidentFieldForType}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: e36881fb-2298-42c8-87b1-a73bc38a4b14
      iscommand: false
      name: Malware - Investigation and Response SIEM
      playbookName: Malware - Investigation and Response SIEM
      type: playbook
      version: -1
    taskid: e36881fb-2298-42c8-87b1-a73bc38a4b14
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 880,
          "y": -300
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bb6fc7a8-8d49-4c5d-8a3c-4dec1b1ada98
      iscommand: false
      name: XDR
      type: title
      version: -1
    taskid: bb6fc7a8-8d49-4c5d-8a3c-4dec1b1ada98
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 210
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 89e1c387-ddc1-44f9-86f8-0bc09afdaeb2
      iscommand: false
      name: CrowdStrike
      type: title
      version: -1
    taskid: 89e1c387-ddc1-44f9-86f8-0bc09afdaeb2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 730,
          "y": 210
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 40180b8f-3027-4691-8523-e1d649f288f4
      iscommand: false
      name: Microsoft Defender
      type: title
      version: -1
    taskid: 40180b8f-3027-4691-8523-e1d649f288f4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 160,
          "y": 210
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: SiemAlert
      value:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 66b58d37-8a17-43e0-888b-3c57ee6408a9
      iscommand: false
      name: Set SIEM processed state
      script: Set
      type: regular
      version: -1
    taskid: 66b58d37-8a17-43e0-888b-3c57ee6408a9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": -135
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: SiemAlert
      value:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: dd1d6002-e26e-4315-8046-731530370d38
      iscommand: false
      name: Set SIEM processed state
      script: Set
      type: regular
      version: -1
    taskid: dd1d6002-e26e-4315-8046-731530370d38
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": -290
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_3_#default#": 0.42
    },
    "paper": {
      "dimensions": {
        "height": 1515,
        "width": 1440,
        "x": 160,
        "y": -930
      }
    }
  }
