playbook-Phishing_v3_-_DomainSquatting+EML+MaliciousIndicators_-_Test.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: Checks the domain-squatting flow, with an attached EML file. The EML
  file should contain some indicators. some of which should be detected as at least
  suspicious. The email authenticity should get a score of "Fail". Those results together
  with the domain-squatting, should eventually cause the incident to get a severity
  of 3.
id: Phishing v3 - DomainSquatting+EML+MaliciousIndicators - Test
inputs:
- description: ""
  key: EventGeneratorInstanceName
  playbookInputQuery: null
  required: false
  value:
    simple: genericwebhook1
name: Phishing v3 - DomainSquatting+EML+MaliciousIndicators - Test
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3796839b-24ac-48ad-8c24-d243791048a4
      iscommand: false
      name: ""
      version: -1
    taskid: 3796839b-24ac-48ad-8c24-d243791048a4
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 252b4149-1f3e-4513-856b-f3c6643439f6
      iscommand: false
      name: Delete Context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 252b4149-1f3e-4513-856b-f3c6643439f6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 175
        }
      }
  "6":
    continueonerror: true
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 2
    scriptarguments:
      id:
        complex:
          root: CreatedIncidentID
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.investigate
      id: 4a360fd4-6803-4bdb-8ecd-f1c0db28067a
      iscommand: true
      name: Investigate the incident
      script: Builtin|||investigate
      type: regular
      version: -1
    taskid: 4a360fd4-6803-4bdb-8ecd-f1c0db28067a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1100
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: isEqualString
                    right:
                      value:
                        simple: sr-test02@demistodev.ormicrosoft.com
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Score
                    operator: isEqualString
                    right:
                      value:
                        simple: "2"
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Vendor
                    operator: isEqualString
                    right:
                      value:
                        simple: DomainSquatting
                root: DBotScore
          operator: isNotEmpty
      label: OK
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      OK:
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 73b7d40d-78e5-478e-8e60-069fb84d2c7e
      iscommand: false
      name: Did the domain-squatting check work?
      type: condition
      version: -1
    taskid: 73b7d40d-78e5-478e-8e60-069fb84d2c7e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1590,
          "y": 2270
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      get_key:
        simple: Email
      incident_id:
        complex:
          root: CreatedIncidentID
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets a value from the specified incident's context.
      id: 53e37dd8-80e2-413b-8456-8d9216321f6f
      iscommand: false
      name: Get the final Email context
      script: GetByIncidentId
      type: regular
      version: -1
    taskid: 53e37dd8-80e2-413b-8456-8d9216321f6f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1920,
          "y": 1615
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: |-
          Domain squatting did not run. This could mean one or more of the following issues:
          1. The internal domain of demistodev.onmicrosoft.com was not inserted to the Phishing v3 inputs
          2. Something in the Entity Enrichment or Email Address Enrichment playbooks changed and they're bugged.
          3. The Phishing - Generic v3 playbook is bugged and doesn't run the domain-squatting check through the email address enrichment flow.
          4. The attached EML was not parsed correctly by the ParseEmailFiles script, so the emails were not extracted and were not checked for domain-squatting.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: fdb72449-8ec2-4f7d-8fdb-addccf1d571e
      iscommand: false
      name: Error about domain-squatting
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: fdb72449-8ec2-4f7d-8fdb-addccf1d571e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1590,
          "y": 2460
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0c688f7a-d7a2-4b4e-8123-a2c5fc4d474c
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 0c688f7a-d7a2-4b4e-8123-a2c5fc4d474c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1000,
          "y": 2770
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reportedemailfrom
                root: foundIncidents.CustomFields
          operator: isEqualString
          right:
            value:
              simple: sr-test02@demistodev.ormicrosoft.com
      label: OK
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "17"
      OK:
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6a30cf7c-3431-4d2d-840f-6fa08d2c94c0
      iscommand: false
      name: Check Reported Email From
      type: condition
      version: -1
    taskid: 6a30cf7c-3431-4d2d-840f-6fa08d2c94c0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2270
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: |-
          The Reported Email From field was not set correctly. This could mean one or more of the following:
          1. The EML attachment was not added to the incident for some reason.
          2. The EML attachment was added to the incident but not parsed in the Process Email - Generic v2 playbook.
          3. The EML attachment was parsed by the ParseEmailFiles script, but the outputs changed from what they used to be.
          4. The Phishing - Generic v3 playbook changed and doesn't setIncident correctly anymore.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 4cb8c7a0-564f-46ce-8a55-a3fad47ab493
      iscommand: false
      name: Error about email from
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 4cb8c7a0-564f-46ce-8a55-a3fad47ab493
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2460
        }
      }
  "19":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Subject
                root: Email
          operator: isEqualString
          right:
            value:
              simple: Verify your account ( sr-test01@demistodev.onmicrosoft.com )
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "29"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a55ae5d5-b1fd-4f5a-8fa2-def3416563eb
      iscommand: false
      name: Check email subject extraction (not yet JSON comparison)
      type: condition
      version: -1
    taskid: a55ae5d5-b1fd-4f5a-8fa2-def3416563eb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2270,
          "y": 2270
        }
      }
  "20":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reportedemailto
                root: foundIncidents.CustomFields
          operator: isEqualString
          right:
            value:
              simple: sr-test01@demistodev.onmicrosoft.com
      label: OK
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      OK:
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2d94ae9b-d4d9-4ed3-817a-9d9f7c97f740
      iscommand: false
      name: Check Reported Email To
      type: condition
      version: -1
    taskid: 2d94ae9b-d4d9-4ed3-817a-9d9f7c97f740
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 40,
          "y": 2270
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: |-
          The Reported Email To field was not set correctly. This could mean one or more of the following:
          1. The EML attachment was not added to the incident for some reason.
          2. The EML attachment was added to the incident but not parsed in the Process Email - Generic v2 playbook.
          3. The EML attachment was parsed by the ParseEmailFiles script, but the outputs changed from what they used to be.
          4. The Phishing - Generic v3 playbook changed and doesn't setIncident correctly anymore.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 0198b76a-715f-45a6-8819-349be826cbbd
      iscommand: false
      name: Error about email to
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 0198b76a-715f-45a6-8819-349be826cbbd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 2460
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: emailauthenticitycheck
                root: foundIncidents.CustomFields
          operator: isEqualString
          right:
            value:
              simple: Fail
      label: OK
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "23"
      OK:
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a867dc6e-6c8f-424f-85aa-0d0ed21a3f63
      iscommand: false
      name: Check Email Authenticity = Fail
      type: condition
      version: -1
    taskid: a867dc6e-6c8f-424f-85aa-0d0ed21a3f63
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 900,
          "y": 2270
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: The email was not authenticated in the Phishing - Generic v3 playbook,
          or something in the CheckEmailAuthenticity script changed.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 36053780-c233-4d4e-8e47-4c5373cfb9cf
      iscommand: false
      name: Error about email authenticity
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 36053780-c233-4d4e-8e47-4c5373cfb9cf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 900,
          "y": 2460
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
      - "16"
      - "20"
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c34fa214-7aad-4997-8db9-cb841909ba52
      iscommand: false
      name: Incident Field Checks
      type: title
      version: -1
    taskid: c34fa214-7aad-4997-8db9-cb841909ba52
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2120
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1109389a-b8a7-492a-88b2-1c2dece8be22
      iscommand: false
      name: Context Checks
      type: title
      version: -1
    taskid: 1109389a-b8a7-492a-88b2-1c2dece8be22
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1590,
          "y": 2120
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a53d9432-6097-4b63-8bab-7cc7f1368ed8
      iscommand: false
      name: JSON Comparison Checks
      type: title
      version: -1
    taskid: a53d9432-6097-4b63-8bab-7cc7f1368ed8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2270,
          "y": 2120
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 402f2ccb-8924-4c72-8594-cb701a9f35e2
      iscommand: false
      name: Screenshot Check
      type: title
      version: -1
    taskid: 402f2ccb-8924-4c72-8594-cb701a9f35e2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1680,
          "y": 1780
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: |-
          The Email Subject was not properly extracted by the ParseEmailFiles script in the Process Email - Generic v2 playbook.
          Make sure the EML is present in the incident, that it was detected and parsed.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 85fc4912-f46d-4284-86a1-462a3f14d396
      iscommand: false
      name: Error about mismatch in Email Subject
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 85fc4912-f46d-4284-86a1-462a3f14d396
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2280,
          "y": 2460
        }
      }
  "30":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: severity
                root: foundIncidents
          operator: isEqualString
          right:
            value:
              simple: "3"
      label: OK
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "31"
      OK:
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 62e32215-7836-40ec-8625-58f1527ce8e0
      iscommand: false
      name: Check Incident Severity
      type: condition
      version: -1
    taskid: 62e32215-7836-40ec-8625-58f1527ce8e0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -440,
          "y": 2270
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: |-
          The incident severity should be high, but it isn't. This could indicate one of the following problems:
          1. The threat intelligence integration used reached its quota.
          2. The threat intelligence integration used no longer detects the malicious URL as malicious.
          3. The way we calculate severity for incidents has changed.
          4. The EML attachment was not parsed and the indicators inside it were not extracted and enriched properly.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 4de521a7-9082-4684-86e5-e4c5be41a18e
      iscommand: false
      name: Error about incident severity
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 4de521a7-9082-4684-86e5-e4c5be41a18e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -440,
          "y": 2460
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          root: CreatedIncidentID
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Searches Demisto incidents
      id: 5f512fa8-382c-48e3-8f45-96fbe5833710
      iscommand: false
      name: Get final incident fields
      script: SearchIncidentsV2
      type: regular
      version: -1
    taskid: 5f512fa8-382c-48e3-8f45-96fbe5833710
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1800
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      get_key:
        simple: Account
      incident_id:
        complex:
          root: CreatedIncidentID
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets a value from the specified incident's context.
      id: db2107aa-c220-4e0b-8efd-eee7ed6d5ca2
      iscommand: false
      name: Get the final Account context
      script: GetByIncidentId
      type: regular
      version: -1
    taskid: db2107aa-c220-4e0b-8efd-eee7ed6d5ca2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1920,
          "y": 1930
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 00be701b-4bdb-4870-8f27-c17224b3f1c7
      iscommand: false
      name: '[Subplaybook] take and compare screenshots'
      type: title
      version: -1
    taskid: 00be701b-4bdb-4870-8f27-c17224b3f1c7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1680,
          "y": 1930
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    scriptarguments:
      complete_task:
        simple: "true"
      incident_id:
        complex:
          root: CreatedIncidentID
      interval_between_tries:
        simple: "15"
      max_timeout:
        simple: "1100"
      task_name:
        simple: Manually remediate  the incident
      task_states:
        simple: Waiting
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Wait and complete tasks by given status. Used for test playbooks.
      id: 86af83be-2c32-4a9b-8f64-14edacd04ca1
      iscommand: false
      name: Wait and manually remediate
      script: WaitAndCompleteTask
      type: regular
      version: -1
    taskid: 86af83be-2c32-4a9b-8f64-14edacd04ca1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1260
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
      - "34"
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      complete_task:
        simple: "false"
      incident_id:
        complex:
          root: CreatedIncidentID
      interval_between_tries:
        simple: "10"
      max_timeout:
        simple: "100"
      task_name:
        simple: Close investigation
      task_states:
        simple: Completed
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Wait and complete tasks by given status. Used for test playbooks.
      id: 83315b52-5aa5-4084-8bd2-c7b2c7db3700
      iscommand: false
      name: Wait for incident to close
      script: WaitAndCompleteTask
      type: regular
      version: -1
    taskid: 83315b52-5aa5-4084-8bd2-c7b2c7db3700
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1440
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    scriptarguments:
      attachment_paths:
        simple: TestData/For_Domain_SQT.eml
      incidents_path:
        simple: TestData/Raw_JSON_For_Phishing_DomainSqt.json
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Creates incidents from json files provided, and stores it in the
        instance context.
      id: c671ca2f-6c1a-458b-8bd4-d196e1b33483
      iscommand: true
      name: Create phishing incident
      script: '|||create-test-incident-from-file'
      type: regular
      version: -1
    taskid: c671ca2f-6c1a-458b-8bd4-d196e1b33483
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 340
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        simple: Mocked Incident
      notstatus:
        simple: Closed
      retry-count:
        simple: "0"
      retry-interval:
        simple: "0"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches Demisto incidents.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: b5d08680-8802-4d58-8acd-09b605c1c012
      iscommand: false
      name: Find the incident
      script: SearchIncidentsV2
      type: regular
      version: -1
    taskid: b5d08680-8802-4d58-8acd-09b605c1c012
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 710
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: CreatedIncidentID
      value:
        complex:
          accessor: id
          root: foundIncidents
          transformers:
          - args:
              descending:
                value:
                  simple: "true"
            operator: sort
          - args:
              index:
                value:
                  simple: "0"
            operator: atIndex
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 332129bf-1068-4e21-8201-67ce1022cab4
      iscommand: false
      name: Save the incident ID
      script: Set
      type: regular
      version: -1
    taskid: 332129bf-1068-4e21-8201-67ce1022cab4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 920
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      get_key:
        simple: DBotScore
      incident_id:
        complex:
          root: CreatedIncidentID
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets a value from the specified incident's context.
      id: 5b775e97-c7b0-4f76-829d-be97b66f1cf4
      iscommand: false
      name: Get the DBotScore context
      script: GetByIncidentId
      type: regular
      version: -1
    taskid: 5b775e97-c7b0-4f76-829d-be97b66f1cf4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1920,
          "y": 1765
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "60"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: 658bb472-f89f-4bc2-87e4-6beaa0c3db31
      iscommand: false
      name: Wait for incident to be created
      script: Sleep
      type: regular
      version: -1
    taskid: 658bb472-f89f-4bc2-87e4-6beaa0c3db31
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 520
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "16_15_OK": 0.11,
      "19_15_yes": 0.11,
      "20_15_OK": 0.1,
      "22_15_OK": 0.1,
      "30_15_OK": 0.1,
      "9_15_OK": 0.12
    },
    "paper": {
      "dimensions": {
        "height": 2785,
        "width": 4340,
        "x": -1680,
        "y": 50
      }
    }
  }
