playbook-new_Code42_Exfiltration_Playbook_copy.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.0.13
    packID: ""
    packName: Code42
    propagationLabels:
    - all
    toServerVersion: ""
description: The Code42 Exfiltration playbook acts on Code42 Security Alerts, retrieves
  file event data, and allows security teams to remediate file exfiltration events
  by revoking access rights to cloud files or containing endpoints.
id: 7b710189-215a-445a-8946-6d303be84c4a
inputs:
- description: Jira Project for created incident ticket
  key: JiraProject
  playbookInputQuery: null
  required: false
  value:
    simple: Security
- description: Type of Jira ticket to create
  key: JiraType
  playbookInputQuery: null
  required: false
  value:
    simple: Investigation
- description: Summary to use with Jira ticket creation
  key: JiraSummary
  playbookInputQuery: null
  required: false
  value:
    simple: Code42 Security Alert for Demisto Incident ${incident.id}
- description: Maximum number of network hosts to contain.
  key: ContainHostsMax
  playbookInputQuery: null
  required: false
  value:
    simple: "2"
- description: URL of Demisto instance for emails.
  key: DemistoInstanceURL
  playbookInputQuery: null
  required: false
  value:
    simple: https://example.com/
name: new Code42 Exfiltration Playbook_copy
outputs: []
sourceplaybookid: Code42 Exfiltration Playbook
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 11508213-8fce-4682-8536-65ed426d2664
      iscommand: false
      name: ""
      version: -1
    taskid: 11508213-8fce-4682-8536-65ed426d2664
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 520,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Starts a timer to track how long it takes to resolve the alert.
      id: 77e2b71f-78fb-467e-8e87-416fd03967d7
      iscommand: false
      name: Start Remediation Timer
      type: title
      version: -1
    taskid: 77e2b71f-78fb-467e-8e87-416fd03967d7
    timertriggers:
    - action: start
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": 520,
          "y": 195
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      Malicious:
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Searches the related files for malicious behavior.
      id: 64d02f6f-5a06-40f8-8552-c98b4b959286
      iscommand: false
      name: Review Evidence for Malicious Behavior
      type: condition
      version: -1
    taskid: 64d02f6f-5a06-40f8-8552-c98b4b959286
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 520,
          "y": 515
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
      - "22"
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 617588ed-c8d8-4b5a-87ed-ed84204058fc
      iscommand: false
      name: Malicious Behavior Determined
      type: title
      version: -1
    taskid: 617588ed-c8d8-4b5a-87ed-ed84204058fc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 960,
          "y": 690
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7187278b-d996-465a-8c9a-3ad518285299
      iscommand: false
      name: Benign Behavior Determined
      type: title
      version: -1
    taskid: 7187278b-d996-465a-8c9a-3ad518285299
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1725
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        simple: ${incident.labels.id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f37b26ac-38c5-40c6-800d-4cfc9692c1a8
      iscommand: true
      name: Resolve Code42 Alert
      script: Code42|||code42-alert-resolve
      type: regular
      version: -1
    taskid: f37b26ac-38c5-40c6-800d-4cfc9692c1a8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 407.5,
          "y": 2030
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 16012eb4-0937-44b0-833b-560ec34de44d
      iscommand: false
      name: Stop Remediation Timer
      type: title
      version: -1
    taskid: 16012eb4-0937-44b0-833b-560ec34de44d
    timertriggers:
    - action: stop
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": 407.5,
          "y": 1885
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 51669a43-475a-44d1-81fe-20207c26598e
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 51669a43-475a-44d1-81fe-20207c26598e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 407.5,
          "y": 2380
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      hostname:
        complex:
          accessor: code42fileevents.oshostname
          root: incident
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: CrowdstrikeFalcon
      id: d03df5b6-28c0-4df7-85ae-aa6b74d2b5dd
      iscommand: true
      name: Locate CrowdStrike Host
      script: CrowdstrikeFalcon|||cs-falcon-search-device
      type: regular
      version: -1
    taskid: d03df5b6-28c0-4df7-85ae-aa6b74d2b5dd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 990,
          "y": 1010
        }
      }
  "19":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: jira-v2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      "yes":
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 434d094a-f26e-4e94-81df-fa5227beacf7
      iscommand: false
      name: Is Jira Enabled?
      type: condition
      version: -1
    taskid: 434d094a-f26e-4e94-81df-fa5227beacf7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 295,
          "y": 1360
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      issueTypeName:
        simple: ${inputs.JiraType}
      projectName:
        simple: ${inputs.JiraProject}
      summary:
        simple: ${inputs.JiraSummary}
    separatecontext: false
    skipunavailable: true
    task:
      brand: jira-v2
      id: e109fde4-4b66-4e1f-8734-fadd49886a5e
      iscommand: true
      name: Create Jira Incident Ticket
      script: jira-v2|||jira-create-issue
      type: regular
      version: -1
    taskid: e109fde4-4b66-4e1f-8734-fadd49886a5e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 397.5,
          "y": 1535
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: CrowdstrikeFalcon
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: incident.code42fileevents.oshostname
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f04b92f6-4e78-460e-8aab-6445d3c500c9
      iscommand: false
      name: Can host be contained?
      type: condition
      version: -1
    taskid: f04b92f6-4e78-460e-8aab-6445d3c500c9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 960,
          "y": 835
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: UserManagerEmail
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      "yes":
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 278d6243-3d8c-4d31-8491-b6168ebffb99
      iscommand: false
      name: Does Manager Email Exist?
      type: condition
      version: -1
    taskid: 278d6243-3d8c-4d31-8491-b6168ebffb99
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1420,
          "y": 1185
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      UserEmail:
        simple: ${incident.employeeemail}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: eccca7ff-aaa7-4864-8345-fc65108a2230
      iscommand: false
      name: Active Directory - Get User Manager Details
      playbookId: Active Directory - Get User Manager Details
      type: playbook
      version: -1
    taskid: eccca7ff-aaa7-4864-8345-fc65108a2230
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 305,
          "y": 340
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      id: 5db26724-aad0-4316-82f2-c2a6635d5200
      iscommand: true
      name: Close Incident
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 5db26724-aad0-4316-82f2-c2a6635d5200
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 407.5,
          "y": 2205
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      "Yes":
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ab9f4c32-a0e4-41e9-8228-22724cecae76
      iscommand: false
      name: Confirm Network Contain
      type: condition
      version: -1
    taskid: ab9f4c32-a0e4-41e9-8228-22724cecae76
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 857.5,
          "y": 1360
        }
      }
  "29":
    continueonerror: true
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Data exfiltration activity has been detected by Code42 for user ${incident.labels.actor}. File exfiltration details:

          Files:
          ${incident.code42fileevents.filename}

          Paths:
          ${incident.code42fileevents.filepath}

          Exposures:
          ${incident.code42fileevents.exposure}

          If you have access to Demisto, you can view the incident details at ${inputs.DemistoInstanceURL}#/incident/${incident.id}
      subject:
        simple: ${incident.name}
      to:
        simple: ${UserManagerEmail}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 136c085e-aa37-4bc5-807c-5b7ff981c140
      iscommand: true
      name: Send email to manager
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 136c085e-aa37-4bc5-807c-5b7ff981c140
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1645,
          "y": 1535
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 877d11e9-c080-4db3-87ec-76bab3b69cd8
      iscommand: false
      name: Confirm Remediation Is Complete
      type: regular
      version: -1
    taskid: 877d11e9-c080-4db3-87ec-76bab3b69cd8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 970,
          "y": 1710
        }
      }
  "31":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Device.ID
                root: CrowdStrike
                transformers:
                - operator: count
          operator: greaterThan
          right:
            iscontext: true
            value:
              simple: inputs.ContainHostsMax
        - left:
            iscontext: true
            value:
              simple: CrowdStrike.Device.ID
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4f1b2a83-bf99-4f7b-8ac1-58fff1dd8e73
      iscommand: false
      name: Determine if network contain should be bypassed based on host count
      type: condition
      version: -1
    taskid: 4f1b2a83-bf99-4f7b-8ac1-58fff1dd8e73
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 990,
          "y": 1185
        }
      }
  "32":
    continueonerror: true
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      ids:
        simple: ${CrowdStrike.Device.ID}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      id: d515a4bf-42b6-4aa4-89ea-33125635ca98
      iscommand: true
      name: CrowdStrike Network Contain
      script: '|||cs-falcon-contain-host'
      type: regular
      version: -1
    taskid: d515a4bf-42b6-4aa4-89ea-33125635ca98
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 970,
          "y": 1535
        }
      }
  "33":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Mail Sender (New)
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: EWS Mail Sender
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Gmail
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      "yes":
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 44c4cdc8-8740-456e-8559-3e3c35286d83
      iscommand: false
      name: Is email integration enabled?
      type: condition
      version: -1
    taskid: 44c4cdc8-8740-456e-8559-3e3c35286d83
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1532.5,
          "y": 1360
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      Filename:
        complex:
          accessor: code42fileevents
          root: incident
          transformers:
          - args:
              field:
                value:
                  simple: filename
            operator: getField
      MD5:
        complex:
          accessor: code42fileevents
          root: incident
          transformers:
          - operator: uniq
          - args:
              field:
                value:
                  simple: md5checksum
            operator: getField
      SHA256:
        complex:
          accessor: code42fileevents
          root: incident
          transformers:
          - operator: uniq
          - args:
              field:
                value:
                  simple: sha256checksum
            operator: getField
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook downloads a file via Code42 by either MD5 or SHA256
        hash.
      id: 136e95ff-4954-4036-89c4-503b5298c61f
      iscommand: false
      name: Code42 File Download
      playbookId: Code42 File Download
      type: playbook
      version: -1
    taskid: 136e95ff-4954-4036-89c4-503b5298c61f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 735,
          "y": 340
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2395,
        "width": 1975,
        "x": 50,
        "y": 50
      }
    }
  }
