playbook-Detonate_URL_-_Generic.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.1.13
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    propagationLabels: []
    toServerVersion: ""
description: Detonate URL through active integrations that support URL detonation.
id: detonate_url_-_generic
inputs:
- description: The URL object of the URL to be detonated.
  key: URL
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: URL
name: Detonate URL - Generic
outputs:
- contextPath: File
  description: The file's object.
  type: string
- contextPath: File.Name
  description: The file name.
  type: string
- contextPath: File.Size
  description: The file size.
  type: number
- contextPath: File.Type
  description: The file type, for example "PE" (only for report type=json).
  type: string
- contextPath: File.SHA256
  description: The SHA256 hash of the file.
  type: string
- contextPath: File.SHA1
  description: The SHA1 hash of the file.
  type: string
- contextPath: File.MD5
  description: The MD5 hash of the file.
  type: string
- contextPath: File.Malicious.Vendor
  description: The vendor that decides the file is malicious.
  type: string
- contextPath: File.Malicious.Description
  description: The reason the vendor decides the file is malicious.
  type: string
- contextPath: DBotScore
  description: The indicator's object.
  type: string
- contextPath: DBotScore.Type
  description: The indicator type.
  type: string
- contextPath: DBotScore.Indicator
  description: The indicator that was tested.
  type: string
- contextPath: DBotScore.Vendor
  description: The vendor used to calculate the score.
  type: string
- contextPath: DBotScore.Score
  description: The actual score.
  type: number
- contextPath: Joe.Analysis.WebID
  description: The  Joe Analysis-related Web ID.
  type: string
- contextPath: Joe.Analysis.Status
  description: The Joe Analysis-related status.
  type: string
- contextPath: Joe.Analysis.Comments
  description: The Joe Analysis-related comments.
  type: string
- contextPath: Joe.Analysis.Time
  description: The Joe Analysis-related submitted time.
  type: date
- contextPath: Joe.Analysis.Runs
  description: The Joe Analysis-related sub-analysis information.
  type: string
- contextPath: Joe.Analysis.Result
  description: The Joe Analysis-related results.
  type: string
- contextPath: Joe.Analysis.Errors
  description: The Joe Analysis-related errors raised during sampling.
  type: string
- contextPath: Joe.Analysis.Systems
  description: The Joe Analysis-related OS.
  type: string
- contextPath: Joe.Analysis.MD5
  description: The MD5 hash of the Joe Analysis-related sample.
  type: string
- contextPath: Joe.Analysis.SHA1
  description: The SHA1 hash of the Joe Analysis-related sample.
  type: string
- contextPath: Joe.Analysis.SHA256
  description: The SHA256 hash of the Joe Analysis-related sample.
  type: string
- contextPath: Joe.Analysis.SampleName
  description: The Joe Analysis-related sample data name, can be a file name or a
    URL.
  type: string
- contextPath: InfoFile.Name
  description: The file name.
  type: string
- contextPath: InfoFile.EntryID
  description: The EntryID of the sample.
  type: string
- contextPath: InfoFile.Size
  description: The file size.
  type: number
- contextPath: InfoFile.Type
  description: The file type, for example "PE".
  type: string
- contextPath: InfoFile.Info
  description: The file basic information.
  type: string
- contextPath: Sample.State
  description: The sample state.
  type: string
- contextPath: Sample.ID
  description: The sample ID.
  type: string
- contextPath: IP.Address
  description: The IPs relevant to the sample.
  type: string
- contextPath: InfoFile
  description: The report file's object.
  type: string
- contextPath: Cuckoo.Task.Category
  description: The Cuckoo-related task category.
- contextPath: Cuckoo.Task.Machine
  description: The Cuckoo-related task machine.
- contextPath: Cuckoo.Task.Errors
  description: The Cuckoo-related task errors.
- contextPath: Cuckoo.Task.Target
  description: The Cuckoo-related task target.
- contextPath: Cuckoo.Task.Package
  description: The Cuckoo-related task package.
- contextPath: Cuckoo.Task.SampleID
  description: The Cuckoo-related task sample ID.
- contextPath: Cuckoo.Task.Guest
  description: The Cuckoo-related task guest.
- contextPath: Cuckoo.Task.Custom
  description: The Cuckoo-related task custom values.
- contextPath: Cuckoo.Task.Owner
  description: The Cuckoo-related task owner.
- contextPath: Cuckoo.Task.Priority
  description: The Cuckoo-related task priority.
- contextPath: Cuckoo.Task.Platform
  description: The Cuckoo-related task platform.
- contextPath: Cuckoo.Task.Options
  description: The Cuckoo-related task options.
- contextPath: Cuckoo.Task.Status
  description: The Cuckoo-related task status.
- contextPath: Cuckoo.Task.EnforceTimeout
  description: Whether the Cuckoo-related task timeout is enforced.
- contextPath: Cuckoo.Task.Timeout
  description: The Cuckoo-related task timeout.
- contextPath: Cuckoo.Task.Memory
  description: The Cuckoo-related task memory.
- contextPath: Cuckoo.Task.Tags
  description: The Cuckoo-related task tags.
- contextPath: Cuckoo.Task.ID
  description: The Cuckoo-related task ID.
- contextPath: Cuckoo.Task.AddedOn
  description: The date the Cuckoo-related task was added.
- contextPath: Cuckoo.Task.CompletedOn
  description: The date the Cuckoo-related task was completed.
- contextPath: Cuckoo.Task.Score
  description: The reported Cuckoo-related task score.
- contextPath: Cuckoo.Task.Monitor
  description: The reported Cuckoo-related task monitor.
- contextPath: ANYRUN.Task.AnalysisDate
  description: The date and time the ANY.RUN analysis was executed.
  type: String
- contextPath: ANYRUN.Task.Behavior.Category
  description: The ANY.RUN behavior category.
  type: String
- contextPath: ANYRUN.Task.Behavior.Action
  description: The actions performed by an ANY.RUN behavior.
  type: String
- contextPath: ANYRUN.Task.Behavior.ThreatLevel
  description: The threat score associated with an ANY.RUN behavior.
  type: Number
- contextPath: ANYRUN.Task.Behavior.ProcessUUID
  description: The ANY.RUN unique ID of the process whose behaviors are profiled.
  type: String
- contextPath: ANYRUN.Task.Connection.Reputation
  description: The ANY.RUN connection reputation.
  type: String
- contextPath: ANYRUN.Task.Connection.ProcessUUID
  description: The ANY.RUN UUID of the process that created the connection.
  type: String
- contextPath: ANYRUN.Task.Connection.ASN
  description: The ANY.RUN connection autonomous system network.
  type: String
- contextPath: ANYRUN.Task.Connection.Country
  description: The ANY.RUN connection country.
  type: String
- contextPath: ANYRUN.Task.Connection.Protocol
  description: The ANY.RUN connection protocol.
  type: String
- contextPath: ANYRUN.Task.Connection.Port
  description: The ANY.RUN connection port number.
  type: Number
- contextPath: ANYRUN.Task.Connection.IP
  description: The ANY.RUN connection IP number.
  type: String
- contextPath: ANYRUN.Task.DnsRequest.Reputation
  description: The ANY.RUN process reputation of the DNS request.
  type: String
- contextPath: ANYRUN.Task.DnsRequest.IP
  description: The ANY.RUN IP addresses associated with a DNS request.
  type: string
- contextPath: ANYRUN.Task.DnsRequest.Domain
  description: The ANY.RUN domain resolution of a DNS request.
  type: String
- contextPath: ANYRUN.Task.Threat.ProcessUUID
  description: The unique ANY.RUN UUID of the process that originated the threat.
  type: String
- contextPath: ANYRUN.Task.Threat.Msg
  description: The ANY.RUN threat message.
  type: String
- contextPath: ANYRUN.Task.Threat.Class
  description: The ANY.RUN threat class.
  type: String
- contextPath: ANYRUN.Task.Threat.SrcPort
  description: The ANY.RUN port on which the threat originated.
  type: Number
- contextPath: ANYRUN.Task.Threat.DstPort
  description: The ANY.RUN threat destination port.
  type: Number
- contextPath: ANYRUN.Task.Threat.SrcIP
  description: The ANY.RUN source IP address where the threat originated.
  type: String
- contextPath: ANYRUN.Task.Threat.DstIP
  description: The ANY.RUN threat destination IP address.
  type: String
- contextPath: ANYRUN.Task.HttpRequest.Reputation
  description: The ANY.RUN HTTP request reputation.
  type: String
- contextPath: ANYRUN.Task.HttpRequest.Country
  description: The ANY.RUN HTTP request country.
  type: String
- contextPath: ANYRUN.Task.HttpRequest.ProcessUUID
  description: The ANY.RUN UUID of the process making the HTTP request.
  type: String
- contextPath: ANYRUN.Task.HttpRequest.Body
  description: The ANY.RUN HTTP request body parameters and details.
  type: string
- contextPath: ANYRUN.Task.HttpRequest.HttpCode
  description: The ANY.RUN HTTP request response code.
  type: Number
- contextPath: ANYRUN.Task.HttpRequest.Status
  description: The ANY.RUN status of the HTTP request.
  type: String
- contextPath: ANYRUN.Task.HttpRequest.ProxyDetected
  description: Whether the ANY.RUN HTTP request was made through a proxy.
  type: Boolean
- contextPath: ANYRUN.Task.HttpRequest.Port
  description: The ANY.RUN HTTP request port.
  type: Number
- contextPath: ANYRUN.Task.HttpRequest.IP
  description: The ANY.RUN HTTP request IP address.
  type: String
- contextPath: ANYRUN.Task.HttpRequest.URL
  description: The ANY.RUN HTTP request URL.
  type: String
- contextPath: ANYRUN.Task.HttpRequest.Host
  description: The ANY.RUN HTTP request host.
  type: String
- contextPath: ANYRUN.Task.HttpRequest.Method
  description: The ANY.RUN HTTP request method type.
  type: String
- contextPath: ANYRUN.Task.FileInfo
  description: The ANY.RUN submitted file details.
  type: String
- contextPath: ANYRUN.Task.OS
  description: The ANY.RUN OS of the sandbox in which the file was analyzed.
  type: String
- contextPath: ANYRUN.Task.ID
  description: The unique ANY.RUN task ID.
  type: String
- contextPath: ANYRUN.Task.MIME
  description: The ANY.RUN MIME of the file submitted for analysis.
  type: String
- contextPath: ANYRUN.Task.Verdict
  description: The ANY.RUN verdict for the maliciousness of the submitted file or
    URL.
  type: String
- contextPath: ANYRUN.Task.Process.FileName
  description: The ANY.RUN process file name.
  type: String
- contextPath: ANYRUN.Task.Process.PID
  description: The ANY.RUN process identification number.
  type: Number
- contextPath: ANYRUN.Task.Process.PPID
  description: The ANY.RUN process parent process identification number.
  type: Number
- contextPath: ANYRUN.Task.Process.ProcessUUID
  description: The Unique ANY.RUN process UUID.
  type: String
- contextPath: ANYRUN.Task.Process.CMD
  description: The ANY.RUN process command.
  type: String
- contextPath: ANYRUN.Task.Process.Path
  description: The path of the executed ANY.RUN process command.
  type: String
- contextPath: ANYRUN.Task.Process.User
  description: The user who executed the ANY.RUN process command.
  type: String
- contextPath: ANYRUN.Task.Process.IntegrityLevel
  description: The ANY.RUN process integrity level.
  type: String
- contextPath: ANYRUN.Task.Process.ExitCode
  description: The ANY.RUN process exit code.
  type: Number
- contextPath: ANYRUN.Task.Process.MainProcess
  description: Whether the ANY.RUN process is the main process.
  type: Boolean
- contextPath: ANYRUN.Task.Process.Version.Company
  description: The company responsible for the executed ANY.RUN process program.
  type: String
- contextPath: ANYRUN.Task.Process.Version.Description
  description: The description of the ANY.RUN process program type.
  type: String
- contextPath: ANYRUN.Task.Process.Version.Version
  description: The version of the executed program.
  type: String
- contextPath: URL.Data
  description: The URL data.
  type: String
- contextPath: URL.Malicious.Vendor
  description: The vendor that decides the URL is malicious.
  type: String
- contextPath: URL.Malicious.Description
  description: The reason the vendor decides the URL is malicious.
  type: String
- contextPath: ANYRUN.Task.Status
  description: The task analysis status.
  type: String
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
      - "13"
      - "12"
      - "14"
      - "15"
      - "16"
      - "17"
      - "18"
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Playbook start point
      id: ab416b1d-600a-47a5-89dc-64d0f0002db6
      iscommand: false
      name: ""
      version: -1
    taskid: ab416b1d-600a-47a5-89dc-64d0f0002db6
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 50
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Done
      id: 91ee56ee-91ac-4199-89fe-50ad796c6b02
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 91ee56ee-91ac-4199-89fe-50ad796c6b02
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 370
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      URL:
        complex:
          accessor: Data
          root: inputs.URL
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: Detonates one or more URLs using the Threat Grid integration. This
        playbook returns relevant reports to the War Room and URL reputations to the
        context data.
      id: 754e447b-20d7-4ab6-8713-97409910d090
      iscommand: false
      name: Detonate URL - ThreatGrid
      playbookName: Detonate URL - ThreatGrid
      type: playbook
      version: -1
    taskid: 754e447b-20d7-4ab6-8713-97409910d090
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      URL:
        complex:
          accessor: Data
          root: inputs.URL
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: Detonates a URL using the McAfee Advanced Threat Defense sandbox.
        integration.
      id: 237ce1af-7984-4df7-8eea-e6577bf59c4a
      iscommand: false
      name: Detonate URL - McAfee ATD
      playbookName: Detonate URL - McAfee ATD
      type: playbook
      version: -1
    taskid: 237ce1af-7984-4df7-8eea-e6577bf59c4a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 480,
          "y": 195
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      URL:
        complex:
          accessor: Data
          root: inputs.URL
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        Detonates one or more URLs using the Joe Security sandbox integration.
        Returns relevant reports to the War Room and URL reputations to the context data.
      id: 22124bae-451b-432b-88e6-1a9affb9ee16
      iscommand: false
      name: Detonate URL - JoeSecurity
      playbookName: Detonate URL - JoeSecurity
      type: playbook
      version: -1
    taskid: 22124bae-451b-432b-88e6-1a9affb9ee16
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 910,
          "y": 195
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      URL:
        complex:
          accessor: Data
          root: inputs.URL
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: Detonates one or more files using the Wildfire integration. This
        playbook returns relevant reports to the War Room and file reputations to
        the context data.
      id: a6e1e56f-f5da-4648-8b0c-a7e8d6122535
      iscommand: false
      name: Detonate URL - CrowdStrike
      playbookName: Detonate URL - CrowdStrike
      type: playbook
      version: -1
    taskid: a6e1e56f-f5da-4648-8b0c-a7e8d6122535
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 195
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      URL:
        complex:
          accessor: Data
          root: inputs.URL
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: Detonates a URL using the Lastline sandbox integration.
      id: 481f79ec-f360-4b69-8881-98b67f23eedb
      iscommand: false
      name: Detonate URL - Lastline v2
      playbookName: Detonate URL - Lastline v2
      type: playbook
      version: -1
    taskid: 481f79ec-f360-4b69-8881-98b67f23eedb
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 195
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      URL:
        complex:
          accessor: Data
          root: inputs.URL
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: Detonates a file using the Cuckoo sandbox.
      id: 72dc0cac-36d3-49eb-8fb8-3e583202df61
      iscommand: false
      name: Detonate URL - Cuckoo
      playbookName: Detonate URL - Cuckoo
      type: playbook
      version: -1
    taskid: 72dc0cac-36d3-49eb-8fb8-3e583202df61
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2200,
          "y": 195
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      URL:
        complex:
          accessor: Data
          root: inputs.URL
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: Detonates a URL using the ANYRUN sandbox.
      id: 527c7883-aab3-4641-87a1-296c5bc10806
      iscommand: false
      name: Detonate URL - ANYRUN
      playbookName: Detonate URL - ANYRUN
      type: playbook
      version: -1
    taskid: 527c7883-aab3-4641-87a1-296c5bc10806
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2630,
          "y": 195
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      Interval:
        simple: "1"
      Timeout:
        simple: "60"
      url:
        complex:
          accessor: Data
          root: inputs.URL
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      id: ae8130db-d640-476c-8509-caa0a3318d69
      iscommand: false
      name: Detonate URL - Group-IB TDS Polygon
      playbookName: Detonate URL - Group-IB TDS Polygon
      type: playbook
      version: -1
    taskid: ae8130db-d640-476c-8509-caa0a3318d69
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -390,
          "y": 195
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      EnvironmentID:
        simple: "100"
      Interval:
        simple: "5"
      Timeout:
        simple: "30"
      URL:
        complex:
          accessor: Data
          root: inputs.URL
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: '''Detonates one or more URLs using the CrowdStrike Falcon sandbox
        integration.'''
      id: 07706e7e-800f-408e-8dfa-184841b701f4
      iscommand: false
      name: Detonate URL - CrowdStrike Falcon X
      playbookName: Detonate URL - CrowdStrike Falcon X
      type: playbook
      version: -1
    taskid: 07706e7e-800f-408e-8dfa-184841b701f4
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 3070,
          "y": 195
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 385,
        "width": 3840,
        "x": -390,
        "y": 50
      }
    }
  }
