playbook-new_Code42_Exfiltration_Playbook_copy.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.0.13
    packID: ""
    packName: Code42
    propagationLabels:
    - all
    toServerVersion: ""
description: The Code42 Exfiltration playbook acts on Code42 Security Alerts, retrieves
  file event data, and allows security teams to remediate file exfiltration events
  by revoking access rights to cloud files or containing endpoints.
id: 7b710189-215a-445a-8946-6d303be84c4a
inputs:
- description: Jira Project for created incident ticket
  key: JiraProject
  playbookInputQuery: null
  required: false
  value:
    simple: Security
- description: Type of Jira ticket to create
  key: JiraType
  playbookInputQuery: null
  required: false
  value:
    simple: Investigation
- description: Summary to use with Jira ticket creation
  key: JiraSummary
  playbookInputQuery: null
  required: false
  value:
    simple: Code42 Security Alert for Demisto Incident ${incident.id}
- description: Maximum number of network hosts to contain.
  key: ContainHostsMax
  playbookInputQuery: null
  required: false
  value:
    simple: "2"
- description: URL of Demisto instance for emails.
  key: DemistoInstanceURL
  playbookInputQuery: null
  required: false
  value:
    simple: https://example.com/
name: new Code42 Exfiltration Playbook_copy
outputs: []
sourceplaybookid: Code42 Exfiltration Playbook
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8de12c58-b2ef-43c9-8fd9-dae997918315
      iscommand: false
      name: ""
      version: -1
    taskid: 8de12c58-b2ef-43c9-8fd9-dae997918315
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 520,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Starts a timer to track how long it takes to resolve the alert.
      id: d5d385a2-c25d-4acd-8d1b-eff9df9d1ddb
      iscommand: false
      name: Start Remediation Timer
      type: title
      version: -1
    taskid: d5d385a2-c25d-4acd-8d1b-eff9df9d1ddb
    timertriggers:
    - action: start
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": 520,
          "y": 195
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      Malicious:
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Searches the related files for malicious behavior.
      id: a74c7e1b-715f-4c38-8f0e-926c7f14720c
      iscommand: false
      name: Review Evidence for Malicious Behavior
      type: condition
      version: -1
    taskid: a74c7e1b-715f-4c38-8f0e-926c7f14720c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 520,
          "y": 515
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
      - "22"
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 97ddd348-279d-4abe-8489-d8843f25e404
      iscommand: false
      name: Malicious Behavior Determined
      type: title
      version: -1
    taskid: 97ddd348-279d-4abe-8489-d8843f25e404
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 960,
          "y": 690
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 04d5aecf-d656-4ad8-8a15-453c3e424cf3
      iscommand: false
      name: Benign Behavior Determined
      type: title
      version: -1
    taskid: 04d5aecf-d656-4ad8-8a15-453c3e424cf3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1725
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        simple: ${incident.labels.id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4bf78342-20b5-4bac-8b5b-57de4f93d7d5
      iscommand: true
      name: Resolve Code42 Alert
      script: Code42|||code42-alert-resolve
      type: regular
      version: -1
    taskid: 4bf78342-20b5-4bac-8b5b-57de4f93d7d5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 407.5,
          "y": 2030
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 511d45e2-641c-4dde-8200-ede505876e1a
      iscommand: false
      name: Stop Remediation Timer
      type: title
      version: -1
    taskid: 511d45e2-641c-4dde-8200-ede505876e1a
    timertriggers:
    - action: stop
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": 407.5,
          "y": 1885
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5aca6274-c0c8-4c34-8e74-228586e16d8c
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 5aca6274-c0c8-4c34-8e74-228586e16d8c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 407.5,
          "y": 2380
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      hostname:
        complex:
          accessor: code42fileevents.oshostname
          root: incident
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: CrowdstrikeFalcon
      id: 4b8eb466-db3c-4814-83b6-6b81c5137680
      iscommand: true
      name: Locate CrowdStrike Host
      script: CrowdstrikeFalcon|||cs-falcon-search-device
      type: regular
      version: -1
    taskid: 4b8eb466-db3c-4814-83b6-6b81c5137680
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 990,
          "y": 1010
        }
      }
  "19":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: jira-v2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      "yes":
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d3cbf349-b186-4b8a-8946-5686d0322c79
      iscommand: false
      name: Is Jira Enabled?
      type: condition
      version: -1
    taskid: d3cbf349-b186-4b8a-8946-5686d0322c79
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 295,
          "y": 1360
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      issueTypeName:
        simple: ${inputs.JiraType}
      projectName:
        simple: ${inputs.JiraProject}
      summary:
        simple: ${inputs.JiraSummary}
    separatecontext: false
    skipunavailable: true
    task:
      brand: jira-v2
      id: 063b8e29-a5de-4214-8524-8029b1ec91c7
      iscommand: true
      name: Create Jira Incident Ticket
      script: jira-v2|||jira-create-issue
      type: regular
      version: -1
    taskid: 063b8e29-a5de-4214-8524-8029b1ec91c7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 397.5,
          "y": 1535
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: CrowdstrikeFalcon
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: incident.code42fileevents.oshostname
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 61a9bea1-708d-43d2-800d-27fb0a083a43
      iscommand: false
      name: Can host be contained?
      type: condition
      version: -1
    taskid: 61a9bea1-708d-43d2-800d-27fb0a083a43
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 960,
          "y": 835
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: UserManagerEmail
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      "yes":
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b9b809a4-0dad-450b-8fc0-e4357cff7005
      iscommand: false
      name: Does Manager Email Exist?
      type: condition
      version: -1
    taskid: b9b809a4-0dad-450b-8fc0-e4357cff7005
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1420,
          "y": 1185
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      UserEmail:
        simple: ${incident.employeeemail}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: f67f1dfe-8e43-49dc-831f-dbad311d3016
      iscommand: false
      name: Active Directory - Get User Manager Details
      playbookId: Active Directory - Get User Manager Details
      type: playbook
      version: -1
    taskid: f67f1dfe-8e43-49dc-831f-dbad311d3016
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 305,
          "y": 340
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      id: 73a998c8-be81-403d-8906-bb247cad2eb8
      iscommand: true
      name: Close Incident
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 73a998c8-be81-403d-8906-bb247cad2eb8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 407.5,
          "y": 2205
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      "Yes":
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7f9e30a4-6375-40e5-8daa-34d1558ac39d
      iscommand: false
      name: Confirm Network Contain
      type: condition
      version: -1
    taskid: 7f9e30a4-6375-40e5-8daa-34d1558ac39d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 857.5,
          "y": 1360
        }
      }
  "29":
    continueonerror: true
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Data exfiltration activity has been detected by Code42 for user ${incident.labels.actor}. File exfiltration details:

          Files:
          ${incident.code42fileevents.filename}

          Paths:
          ${incident.code42fileevents.filepath}

          Exposures:
          ${incident.code42fileevents.exposure}

          If you have access to Demisto, you can view the incident details at ${inputs.DemistoInstanceURL}#/incident/${incident.id}
      subject:
        simple: ${incident.name}
      to:
        simple: ${UserManagerEmail}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 46d586fa-ebe3-472a-805e-c98601c61069
      iscommand: true
      name: Send email to manager
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 46d586fa-ebe3-472a-805e-c98601c61069
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1645,
          "y": 1535
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bea51f0b-bf97-429a-88f3-158a1af0a89c
      iscommand: false
      name: Confirm Remediation Is Complete
      type: regular
      version: -1
    taskid: bea51f0b-bf97-429a-88f3-158a1af0a89c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 970,
          "y": 1710
        }
      }
  "31":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Device.ID
                root: CrowdStrike
                transformers:
                - operator: count
          operator: greaterThan
          right:
            iscontext: true
            value:
              simple: inputs.ContainHostsMax
        - left:
            iscontext: true
            value:
              simple: CrowdStrike.Device.ID
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1dde4653-f914-43b4-8bd1-ea195e49971e
      iscommand: false
      name: Determine if network contain should be bypassed based on host count
      type: condition
      version: -1
    taskid: 1dde4653-f914-43b4-8bd1-ea195e49971e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 990,
          "y": 1185
        }
      }
  "32":
    continueonerror: true
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      ids:
        simple: ${CrowdStrike.Device.ID}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      id: cbc3ad40-bcd8-4ff8-8ca5-b9450927a0b4
      iscommand: true
      name: CrowdStrike Network Contain
      script: '|||cs-falcon-contain-host'
      type: regular
      version: -1
    taskid: cbc3ad40-bcd8-4ff8-8ca5-b9450927a0b4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 970,
          "y": 1535
        }
      }
  "33":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Mail Sender (New)
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: EWS Mail Sender
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Gmail
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      "yes":
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0d034b30-0692-47a5-8fe7-26f41af999b7
      iscommand: false
      name: Is email integration enabled?
      type: condition
      version: -1
    taskid: 0d034b30-0692-47a5-8fe7-26f41af999b7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1532.5,
          "y": 1360
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      Filename:
        complex:
          accessor: code42fileevents
          root: incident
          transformers:
          - args:
              field:
                value:
                  simple: filename
            operator: getField
      MD5:
        complex:
          accessor: code42fileevents
          root: incident
          transformers:
          - operator: uniq
          - args:
              field:
                value:
                  simple: md5checksum
            operator: getField
      SHA256:
        complex:
          accessor: code42fileevents
          root: incident
          transformers:
          - operator: uniq
          - args:
              field:
                value:
                  simple: sha256checksum
            operator: getField
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook downloads a file via Code42 by either MD5 or SHA256
        hash.
      id: d103f4a8-c810-4d61-8fc8-35f4c707c337
      iscommand: false
      name: Code42 File Download
      playbookId: Code42 File Download
      type: playbook
      version: -1
    taskid: d103f4a8-c810-4d61-8fc8-35f4c707c337
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 735,
          "y": 340
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2395,
        "width": 1975,
        "x": 50,
        "y": 50
      }
    }
  }
