playbook-Command-Line_Analysis.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 2.2.10
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    propagationLabels: []
    toServerVersion: ""
description: "This playbook takes the command line from the alert and performs the
  following actions:\n- Checks for base64 string and decodes if exists\n- Extracts
  and enriches indicators from the command line\n- Checks specific arguments for malicious
  usage \n\nAt the end of the playbook, it sets a possible verdict for the command
  line, based on the finding:\n1. Indicators found in the command line\n2. Found AMSI
  techniques\n3. Found suspicious parameters\n4. Usage of malicious tools\n5. Indication
  of network activity"
id: Command-Line Analysis
inputs:
- description: The command line.
  key: Commandline
  playbookInputQuery: null
  required: true
  value: {}
name: Command-Line Analysis
outputs:
- contextPath: MatchRegex
  description: The regex found in the command line
  type: unknown
- contextPath: Indicators
  description: Indicators extracted from the command line
  type: unknown
- contextPath: commandline
  description: The command line
  type: unknown
- contextPath: CommandlineVerdict
  description: The command line verdict
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a2848830-3438-4bea-87eb-793c8026f1ef
      iscommand: false
      name: ""
      version: -1
    taskid: a2848830-3438-4bea-87eb-793c8026f1ef
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1150,
          "y": -1200
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Extracts indicators from the command line.
      id: d0ba6b98-7de7-4621-8d6b-85a067f4f314
      iscommand: false
      name: Command-Line Indicator Extraction
      type: title
      version: -1
    taskid: d0ba6b98-7de7-4621-8d6b-85a067f4f314
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1150,
          "y": 130
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      indicatorsValues:
        complex:
          accessor: IP
          root: ExtractedIndicators
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: ExtractedIndicators.URL
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: ExtractedIndicators.Domain
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: ExtractedIndicators.File
            operator: append
      retry-count:
        simple: "3"
      retry-interval:
        simple: "10"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Enriches indicators from the command line.
      id: cff18017-7f58-4d68-86b3-612ee9297bfb
      iscommand: true
      name: Enrich indicators
      script: Builtin|||enrichIndicators
      type: regular
      version: -1
    taskid: cff18017-7f58-4d68-86b3-612ee9297bfb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 740,
          "y": 600
        }
      }
  "6":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: ExtractedIndicators.Attack_Pattern
                    operator: isNotExists
                root: ExtractedIndicators
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "12"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if indicators exist in the command line for which to enrich.
      id: c03e8d8d-8661-4743-891f-e6354f342c07
      iscommand: false
      name: Found additional indicators?
      type: condition
      version: -1
    taskid: c03e8d8d-8661-4743-891f-e6354f342c07
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1150,
          "y": 430
        }
      }
  "7":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: results
                root: MatchRegex
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for a base64 string in the command line.
      id: 95c7a960-8b66-48f0-8510-ed22481ae4f2
      iscommand: false
      name: Is there a base64 string in the command-line?
      type: condition
      version: -1
    taskid: 95c7a960-8b66-48f0-8510-ed22481ae4f2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 920,
          "y": -540
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        complex:
          accessor: results
          root: MatchRegex
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Decodes an input in Base64 format.
      id: d3be2808-0367-4d39-80d5-8526a2abf84f
      iscommand: false
      name: Decode base64 string
      script: Base64Decode
      type: regular
      version: -1
    taskid: d3be2808-0367-4d39-80d5-8526a2abf84f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 730,
          "y": -370
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9e5742ee-5780-4374-8762-1023b0163f02
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 9e5742ee-5780-4374-8762-1023b0163f02
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1150,
          "y": 1330
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      data:
        complex:
          root: commandline
      group:
        simple: "1"
      regex:
        simple: (?:\s+)((?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4}))
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts regex data from the provided text. The script support
        groups and looping.
      id: bedf7a15-c692-464d-8d5f-22206898b99d
      iscommand: false
      name: Check if base64 string exists in command-line
      script: MatchRegexV2
      type: regular
      version: -1
    taskid: bedf7a15-c692-464d-8d5f-22206898b99d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": -690
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
      - "19"
      - "21"
      - "22"
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5610ad88-bc53-45a1-865c-6a6b607e1a98
      iscommand: false
      name: Command-Line Parameters
      type: title
      version: -1
    taskid: 5610ad88-bc53-45a1-865c-6a6b607e1a98
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1150,
          "y": 770
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: CommandlineVerdict.networkActivity
      value:
        simple: "True"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets a value in context from the key entered.
      id: b027e4bc-d481-4f58-842d-395bd7ef348f
      iscommand: false
      name: Set command line verdict of networkActivity
      script: Set
      type: regular
      version: -1
    taskid: b027e4bc-d481-4f58-842d-395bd7ef348f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 500,
          "y": 1130
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: -w hidden
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: -WindowStyle Hidden
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: -window hidden
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: -noni
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: -NonInteractive
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: -nop
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: -noprofile
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: -ExecutionPolicy Bypass
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: Bypass
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
          operator: containsString
          right:
            value:
              simple: Invoke-Expression
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: -iex
        - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: ClipboardContents
        - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: Screenshot
        - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: Get-LSASecret
        - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: Get-GPPPassword
      label: "yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for suspicious parameters usage.
      id: 961ec942-dacf-4f4a-8b34-7e2847919a5e
      iscommand: false
      name: Check for suspicious parameters usage
      type: condition
      version: -1
    taskid: 961ec942-dacf-4f4a-8b34-7e2847919a5e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1380,
          "y": 930
        }
      }
  "17":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: commandline
          operator: containsGeneral
          right:
            value:
              simple: -EncodedCommand
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: commandline
          operator: containsGeneral
          right:
            value:
              simple: -enc
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: commandline
          operator: containsGeneral
          right:
            value:
              simple: –^e^C^
      label: "yes"
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for encoded command parameters.
      id: 2454d7b3-9568-4007-81ec-c1ef25acbcf3
      iscommand: false
      name: Check for encoded command parameters
      type: condition
      version: -1
    taskid: 2454d7b3-9568-4007-81ec-c1ef25acbcf3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1150,
          "y": -860
        }
      }
  "19":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: (New-object System.net.webclient).DownlodFile()
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: (New-object System.net.Webclient).DownloadString()
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: Net.webclient
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for network activity parameters.
      id: 6f484473-7f55-4d72-8ce3-07361395169c
      iscommand: false
      name: Check for network activity parameters
      type: condition
      version: -1
    taskid: 6f484473-7f55-4d72-8ce3-07361395169c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 500,
          "y": 930
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: mimikatz
        - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: NinjaCopy
        - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: NetRipper
        - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: ThunderStruck
        - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: PsExec
        - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: Mimikittenz
        - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: MailRaider
        - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: VoiceTroll
        - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: Get-RickAstley
      label: "yes"
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for malicious tools usage.
      id: e3b1b82d-4b1c-4cd4-8273-f4b2b3f9477f
      iscommand: false
      name: Check for malicious tools usage
      type: condition
      version: -1
    taskid: e3b1b82d-4b1c-4cd4-8273-f4b2b3f9477f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 920,
          "y": 930
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: System.Management.Automation.AmsiUtils
        - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: amsiInitFailed
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: QQBtAHMAaQBVAHQAaQBsAHMA
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: YQBtAHMAaQBJAG4AaQB0AEYAYQBpAGwAZQBkAA==
        - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: LoadLibrary("amsi.dll")
        - left:
            iscontext: true
            value:
              complex:
                accessor: original
                root: commandline
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: commandline.decoded
                  operator: append
          operator: containsString
          right:
            value:
              simple: AmsiScanBuffer()
      label: "yes"
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for AMSI evasion techniques.
      id: b355c8cd-9438-4d16-88cf-367aad8dc5a2
      iscommand: false
      name: Check for AMSI evasion techniques
      type: condition
      version: -1
    taskid: b355c8cd-9438-4d16-88cf-367aad8dc5a2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1810,
          "y": 930
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      text:
        complex:
          root: commandline
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: inputs.CommandLine
            operator: append
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Extracts indicators from the command line.
      id: c56fef87-e77c-452f-850d-8a76d44d6e30
      iscommand: true
      name: Extract indicators from command-line
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: c56fef87-e77c-452f-850d-8a76d44d6e30
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1150,
          "y": 260
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: commandline.decoded
      value:
        complex:
          root: inputs.CommandLine
          transformers:
          - args:
              regex:
                value:
                  simple: (?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})$
              replaceWith:
                iscontext: true
                value:
                  simple: Base64.decoded
            operator: replaceMatch
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets a value in context from the key entered.
      id: 48fe6db5-28f2-46e8-8ca3-cfbcacaf3de3
      iscommand: false
      name: Set decoded commandline
      script: Set
      type: regular
      version: -1
    taskid: 48fe6db5-28f2-46e8-8ca3-cfbcacaf3de3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 730,
          "y": -200
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: CommandlineVerdict.maliciousTools
      value:
        simple: "True"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets a value in context from the key entered.
      id: c89fbf52-da5f-4bab-836e-07a697e0fb71
      iscommand: false
      name: Set command line verdict of maliciousTools
      script: Set
      type: regular
      version: -1
    taskid: c89fbf52-da5f-4bab-836e-07a697e0fb71
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": 1130
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: CommandlineVerdict.suspiciousParameters
      value:
        simple: "True"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets a value in context from the key entered.
      id: b9b89f0b-8885-4908-8d0f-c785c90feddd
      iscommand: false
      name: Set command line verdict of suspiciousParameters
      script: Set
      type: regular
      version: -1
    taskid: b9b89f0b-8885-4908-8d0f-c785c90feddd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1380,
          "y": 1130
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: CommandlineVerdict.AMSI
      value:
        simple: "True"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets a value in context from the key entered.
      id: 0fbff6eb-dc6e-4a75-876a-7dcb37dffa6b
      iscommand: false
      name: Set command line verdict of AMSI
      script: Set
      type: regular
      version: -1
    taskid: 0fbff6eb-dc6e-4a75-876a-7dcb37dffa6b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1810,
          "y": 1130
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: CommandlineVerdict.base64
      value:
        simple: "True"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets a value in context from the key entered.
      id: a390494c-e6e3-4d90-8d4a-9a072dc3bec6
      iscommand: false
      name: 'Set command line verdict '
      script: Set
      type: regular
      version: -1
    taskid: a390494c-e6e3-4d90-8d4a-9a072dc3bec6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 730,
          "y": -40
        }
      }
  "31":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: ExtractedIndicators.Attack_Pattern
                    operator: isNotExists
                root: ExtractedIndicators
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if indicators exist in the command line.
      id: 7d374634-8e9f-42f4-821e-aae890e35f05
      iscommand: false
      name: Found indicators in the command-line?
      type: condition
      version: -1
    taskid: 7d374634-8e9f-42f4-821e-aae890e35f05
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2240,
          "y": 930
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: CommandlineVerdict.foundIndicators
      value:
        simple: "True"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets a value in context from the key entered.
      id: 8dae2f2c-fb4b-4ae8-83dd-1af6df62e0b7
      iscommand: false
      name: Set command line verdict of foundIndicators
      script: Set
      type: regular
      version: -1
    taskid: 8dae2f2c-fb4b-4ae8-83dd-1af6df62e0b7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2240,
          "y": 1130
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: commandline.original
      value:
        complex:
          root: inputs.Commandline
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets a value in context from the key entered.
      id: c422122e-9adf-4d20-8d37-110ed22f153e
      iscommand: false
      name: Set original commandline
      script: Set
      type: regular
      version: -1
    taskid: c422122e-9adf-4d20-8d37-110ed22f153e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1150,
          "y": -1045
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "15_9_#default#": 0.71,
      "17_11_yes": 0.44,
      "17_4_#default#": 0.1,
      "19_13_yes": 0.5,
      "19_9_#default#": 0.85,
      "21_9_#default#": 0.71,
      "22_9_#default#": 0.85,
      "31_9_#default#": 0.9,
      "6_12_#default#": 0.57,
      "6_5_yes": 0.31,
      "7_4_#default#": 0.27,
      "7_8_yes": 0.58
    },
    "paper": {
      "dimensions": {
        "height": 2595,
        "width": 2120,
        "x": 500,
        "y": -1200
      }
    }
  }
